<!doctype html>
<html lang="[[lang]]">
<include src="@components/layout/head/head.html" locals='{
		"title":"[[title]]", 
		"preloader": {
			"enable":"[[preloader.enable]]",
			"once":"[[preloader.once]]"
		},
		"keywords":"[[keywords]]", 
		"description":"[[description]]"
	}'>
</include>
<script type="module" src="@components/sections/landingRoznica/landingRoznica.js"></script>
<link rel="stylesheet" href="@/files/submit/submit.scss">


<body>
   <block name="landingRoznica"></block>

</body>

</html>

