.pricing {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   width: 100%;

   gap: 40px;

   padding: 24px 12px 24px 72px;
   
   &__list {
      display: flex;

      width: min-content;

      padding: 8px;

      gap: 40px;
      overflow-y: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
         display: none;
      }
   }
   &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      min-width: 320px;
      height: auto;

      padding: 40px;

      border: solid 0 $colorDarkGray;
      border-radius: 20px;
      box-shadow: 2px 2px 4px rgba($colorDarkGray, 0.3);

      gap: 40px;

   }
   &__title {
      color: $colorDarkGray;

      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
   }
   &__value {
      color: $colorOrange;

      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
   }
   &__btn {
      color: $colorWhite;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 20px;
      box-shadow: 2px 2px 4px rgba(111, 111, 111, 0.5);
      padding: 1em 1.5em;

      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      background: $colorOrange;
      transition: all .3s;
      &:hover {
         scale: .97;
      }
   }
   @media (max-width: 1140px) {
      &__list {
         width: 100%;
      }
   }
   @media (max-width: 1023px) {
      padding: 12px;
      gap: 12px;
            &__list {
         gap: 12px;
      }
   }
   @media (max-width: 375px) {
      padding: 12px 8px;
   }
}