<section data-fls-advantages class="advantages" aria-labelledby="advantages-title" itemscope="" itemtype="https://schema.org/ItemList">

   <h2 class="advantages__title" id="advantages-title" itemprop="name">Наши преимущества</h2>

   <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending">
   <meta itemprop="numberOfItems" content="5">

   <div class="advantages__wrapper">
      <div class="advantages__block" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <img class="advantages__img" src="@img/advantages/delivery.png" alt="Доставка по Україні" itemprop="image">
         <h3 class="advantages__subtitle" itemprop="name">Доставка по Україні</h3>
         <p class="advantages__dasc" itemprop="description">Ми здійснюємо доставку по всій території України за тарифами національних перевізників</p>
      </div>
      <div class="advantages__block" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <img class="advantages__img" src="@img/advantages/price.png" alt="Оптимальні ціни" itemprop="image">
         <h3 class="advantages__subtitle" itemprop="name">Оптимальні ціни</h3>
         <p class="advantages__dasc" itemprop="description">Ми пропонуємо конкурентні ціни на сувенірну продукцію з лого, та гнучкі знижки для постійних клієнтів</p>
      </div>
      <div class="advantages__block" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <img class="advantages__img" src="@img/advantages/tight_deadlines.png" alt="Короткі строки" itemprop="image">
         <h3 class="advantages__subtitle" itemprop="name">Короткі строки</h3>
         <p class="advantages__dasc" itemprop="description">Виконуємо замовлення по друку логотипів на промо продукції в терміни від 2-х робочих днів</p>
      </div>
      <div class="advantages__block" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <img class="advantages__img" src="@img/advantages/quality.png" alt="Висока якість" itemprop="image">
         <h3 class="advantages__subtitle" itemprop="name">Висока якість</h3>
         <p class="advantages__dasc" itemprop="description">Гарантуємо якість та стійкість нанесення, за умови дотримання правел зберігання та експлуатації</p>
      </div>
   </div>
</section>
