
<section data-fls-advantages class="advantages" aria-labelledby="advantages-title" itemscope itemtype="https://schema.org/ItemList">
   <meta itemprop="name" content="Наші переваги у виробництві сувенірної продукції">
   <h2 id="advantages-title" class="advantages__title">Наші переваги у виробництві сувенірної продукції</h2>
   <ul class="advantages__box">
      
      <li class="advantages__item" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <svg class="advantages__svg" role="img" focusable="false" aria-label="Доставка по Україні" title="Доставка сувенірної продукції по Україні">
            <use xlink:href="__spritemap#sprite-delivery"></use>
         </svg>
         <div class="advantages__description" itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Доставка по Україні</h3>
            <p itemprop="description">Ми здійснюємо доставку по всій території України за тарифами національних перевізників</p>
         </div>
      </li>

      <li class="advantages__item" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="2">
         <svg class="advantages__svg" role="img" focusable="false" aria-label="Оптимальні ціни" title="Оптимальні ціни на сувенірну продукцію">
            <use xlink:href="__spritemap#sprite-price"></use>
         </svg>
         <div class="advantages__description" itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Оптимальні ціни</h3>
            <p itemprop="description">Ми пропонуємо конкурентні ціни на сувенірну продукцію з лого, та гнучкі знижки для постійних клієнтів</p>
         </div>
      </li>

      <li class="advantages__item" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="3">
         <svg class="advantages__svg" role="img" focusable="false" aria-label="Короткі строки" title="Короткі строки виготовлення сувенірної продукції">
            <use xlink:href="__spritemap#sprite-time"></use>
         </svg>
         <div class="advantages__description" itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Короткі строки</h3>
            <p itemprop="description">Виконуємо замовлення по друку логотипів на промо продукції в терміни від 2-х робочих днів</p>
         </div>
      </li>

      <li class="advantages__item" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="4">
         <svg class="advantages__svg" role="img" focusable="false" aria-label="Висока якість" title="Висока якість сувенірної продукції">
            <use xlink:href="__spritemap#sprite-quality"></use>
         </svg>
         <div class="advantages__description" itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Висока якість</h3>
            <p itemprop="description">Гарантуємо якість та стійкість нанесення, за умови дотримання правил зберігання та експлуатації</p>
         </div>
      </li>

   </ul>
</section>
