
<section data-fls-technologies class="technologies" itemscope itemtype="https://schema.org/ItemList">
   <meta itemprop="name" content="Технології друку на рекламно-сувенірній продукції">
   <H2 class="technologies__title">технології друку на рекламно-сувенірній продукції</H2>

   <div class="technologies__bloc">

      <!-- 1 -->
      <a href="/technologies/silk-screen/" class="technologies__btn" title="ШОВКОДРУК" id="silk-screen" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <meta itemprop="url" content="/technologies/silk-screen/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="Декоративний ролик ліворуч" title="Декоративний ролик ліворуч">
            <img data-fls-image-ignore class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="Декоративний ролик знизу ліворуч" title="Декоративний ролик знизу ліворуч">
         </div>
            <h3 class="technologies__name" itemprop="name">ШОВКОДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Шовкотрафарет та трафаретний друк – це популярний метод нанесення зображень, логотипів, емблем та рекламних написів на різні поверхні. Вони широко використовуються в промисловості, мистецтві та рекламі завдяки своїй універсальності та високій якості друку.
            </p>
            <div class="technologies__icon">
               <img data-fls-image-ignore src="@img/technologies/silk_screen_printing.png" alt="Іконка шовкодруку" itemprop="image" title="Іконка шовкодруку">
            </div>
      </a>

      <!-- 2 -->
      <a href="/technologies/stamping/" class="technologies__btn" title="ТампоДРУК" id="stamping" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="2">
         <meta itemprop="url" content="/technologies/stamping/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="Декоративний ролик праворуч" title="Декоративний ролик праворуч">
            <img data-fls-image-ignore class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="Декоративний ролик знизу праворуч" title="Декоративний ролик знизу праворуч">
         </div>
            <h3 class="technologies__name" itemprop="name">ТампоДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Тамподрук — це технологія нанесення зображення на вироби за допомогою силіконового тампона, який переносить фарбу з кліше (гравійованої пластини) на поверхню предмета.
            </p>
            <img data-fls-image-ignore class="technologies__icon" src="@img/technologies/pad_printing.png" alt="Іконка тамподруку" itemprop="image" title="Іконка тамподруку">
      </a>

      <!-- 3 -->
      <a href="/technologies/dtf-print/" class="technologies__btn" title="DTF-ДРУК" id="dtf-print" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="3">
         <meta itemprop="url" content="/technologies/dtf-print/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="Декоративний ролик ліворуч" title="Декоративний ролик ліворуч">
            <img data-fls-image-ignore class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="Декоративний ролик знизу ліворуч" title="Декоративний ролик знизу ліворуч">
         </div>
            <h3 class="technologies__name" itemprop="name">DTF-ДРУК</h3>
            <p class="technologies__text" itemprop="description">
               DTF-друк (Direct to Film) – це сучасна технологія нанесення зображень на тканину, при якій малюнок друкується спеціальними пігментними фарбами на плівку, після чого поверх наноситься порошковий клей. Потім плівку з малюнком термопресом переносять на виріб (футболку, світшот, сумку тощо).
            </p>
            <img data-fls-image-ignore class="technologies__icon" src="@img/technologies/DTF_printing.png" alt="Іконка DTF-друку" itemprop="image" title="Іконка DTF-друку">
      </a>

      <!-- 4 -->
      <a href="/technologies/sublimation/" class="technologies__btn" title="сублімаційний ДРУК" id="sublimation" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="4">
         <meta itemprop="url" content="/technologies/sublimation/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="Декоративний ролик праворуч" title="Декоративний ролик праворуч">
            <img data-fls-image-ignore class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="Декоративний ролик знизу праворуч" title="Декоративний ролик знизу праворуч">
         </div>

            <h3 class="technologies__name" itemprop="name">сублімаційний ДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Сублімаційний друк – це метод нанесення зображень, при якому спеціальні сублімаційні чорнила під дією високої температури (близько 180–200°C) переходять із твердого стану в газоподібний, минаючи рідку фазу, і проникають безпосередньо у волокна матеріалу. Завдяки цьому фарба стає частиною структури виробу, а не лежить поверх неї.
            </p>
            <img data-fls-image-ignore class="technologies__icon" src="@img/technologies/sublimation_printing.png" alt="Іконка сублімаційного друку" itemprop="image" title="Іконка сублімаційного друку">
      </a>

   </div>

   <div class="technologies__items-nav">
      <a href="/technologies/silk-screen/" title="ШОВКОДРУК"></a>
      <a href="/technologies/stamping/" title="ТампоДРУК"></a>
      <a href="/technologies/dtf-print/" title="DTF-ДРУК"></a>
      <a href="/technologies/sublimation/" title="сублімаційний ДРУК"></a>
   </div>
</section>
