<!-- <section data-fls-technologies class="technologies">
   <H2 class="technologies__title">технології друку на рекламно-сувенірній продукції</H2>
   <div class="technologies__bloc">
      <a href="#blck-1" class="technologies__btn" title="ШОВКОДРУК" id="blck-1">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="подробиці">

         </div>
         <h3 class="technologies__name">ШОВКОДРУК</h3>
         <p class="technologies__text">Шовкотрафарет та трафаретний друк – це популярний метод нанесення зображень, логотипів, емблем та рекламних написів на різні поверхні. Вони широко використовуються в промисловості, мистецтві та рекламі завдяки своїй універсальності та високій якості друку. </p>
         <div class="technologies__icon">
            <img src="@img/technologies/silk_screen_printing.png" alt="img">
         </div>
      </a>
      <a href="#blck-2" class="technologies__btn" title="ТампоДРУК" id="blck-2">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="подробиці">
         </div>
         <h3 class="technologies__name">ТампоДРУК</h3>
         <p class="technologies__text">Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.</p>
         <img class="technologies__icon" src="@img/technologies/pad_printing.png" alt="img">
      </a>
      <a href="#blck-3" class="technologies__btn" title="DTF-ДРУК" id="blck-3">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="подробиці">
         </div>
         <h3 class="technologies__name">DTF-ДРУК</h3>
         <p class="technologies__text">Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.</p>
         <img class="technologies__icon" src="@img/technologies/DTF_printing.png" alt="img">
      </a>
      <a href="#blck-4" class="technologies__btn" title="сублімаційний ДРУК" id="blck-4">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="подробиці">

         </div>
         <h3 class="technologies__name">сублімаційний ДРУК</h3>
         <p class="technologies__text">Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.</p>
         <img class="technologies__icon" src="@img/technologies/sublimation_printing.png" alt="img">
      </a>
   </div>
   <div class="technologies__items-nav">
      <a href="#blck-1" title="#blck-1"></a>
      <a href="#blck-2" title="#blck-2"></a>
      <a href="#blck-3" title="#blck-3"></a>
      <a href="#blck-4" title="#blck-4"></a>
   </div>
</section> -->

<section data-fls-technologies class="technologies" itemscope itemtype="https://schema.org/ItemList">
   <meta itemprop="name" content="Технології друку на рекламно-сувенірній продукції">
   <H2 class="technologies__title">технології друку на рекламно-сувенірній продукції</H2>

   <div class="technologies__bloc">

      <!-- 1 -->
      <a href="#blck-1" class="technologies__btn" title="ШОВКОДРУК" id="blck-1" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="Декоративний ролик ліворуч" title="Декоративний ролик ліворуч">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="Декоративний ролик знизу ліворуч" title="Декоративний ролик знизу ліворуч">
         </div>
         <div itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 class="technologies__name" itemprop="name">ШОВКОДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Шовкотрафарет та трафаретний друк – це популярний метод нанесення зображень, логотипів, емблем та рекламних написів на різні поверхні. Вони широко використовуються в промисловості, мистецтві та рекламі завдяки своїй універсальності та високій якості друку.
            </p>
            <div class="technologies__icon">
               <img src="@img/technologies/silk_screen_printing.png" alt="Іконка шовкодруку" itemprop="image" title="Іконка шовкодруку">
            </div>
         </div>
      </a>

      <!-- 2 -->
      <a href="#blck-2" class="technologies__btn" title="ТампоДРУК" id="blck-2" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="2">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="Декоративний ролик праворуч" title="Декоративний ролик праворуч">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="Декоративний ролик знизу праворуч" title="Декоративний ролик знизу праворуч">
         </div>
         <div itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 class="technologies__name" itemprop="name">ТампоДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.
            </p>
            <img class="technologies__icon" src="@img/technologies/pad_printing.png" alt="Іконка тамподруку" itemprop="image" title="Іконка тамподруку">
         </div>
      </a>

      <!-- 3 -->
      <a href="#blck-3" class="technologies__btn" title="DTF-ДРУК" id="blck-3" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="3">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="Декоративний ролик ліворуч" title="Декоративний ролик ліворуч">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="Декоративний ролик знизу ліворуч" title="Декоративний ролик знизу ліворуч">
         </div>
         <div itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 class="technologies__name" itemprop="name">DTF-ДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.
            </p>
            <img class="technologies__icon" src="@img/technologies/DTF_printing.png" alt="Іконка DTF-друку" itemprop="image" title="Іконка DTF-друку">
         </div>
      </a>

      <!-- 4 -->
      <a href="#blck-4" class="technologies__btn" title="сублімаційний ДРУК" id="blck-4" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="4">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="Декоративний ролик праворуч" title="Декоративний ролик праворуч">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="Декоративний ролик знизу праворуч" title="Декоративний ролик знизу праворуч">
         </div>
         <div itemprop="item" itemscope itemtype="https://schema.org/Service">
            <h3 class="technologies__name" itemprop="name">сублімаційний ДРУК</h3>
            <p class="technologies__text" itemprop="description">
               Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.
            </p>
            <img class="technologies__icon" src="@img/technologies/sublimation_printing.png" alt="Іконка сублімаційного друку" itemprop="image" title="Іконка сублімаційного друку">
         </div>
      </a>

   </div>

   <div class="technologies__items-nav">
      <a href="#blck-1" title="ШОВКОДРУК"></a>
      <a href="#blck-2" title="ТампоДРУК"></a>
      <a href="#blck-3" title="DTF-ДРУК"></a>
      <a href="#blck-4" title="сублімаційний ДРУК"></a>
   </div>
</section>
