<section data-fls-SEO-txt_t-shirts class="SEO-txt" itemscope itemtype="https://schema.org/Article">
   <meta itemprop="name" content="Печать на футболках">
   <meta itemprop="author" content="Рекламно-производственная компания 'Мега Компромисс'">
   <meta itemprop="description" content="Футболки для печати: индивидуальные заказы, оптовые партии, требования к макету, три простых шага заказа, доставка по Украине.">
   <meta itemprop="inLanguage" content="ru">

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <p class="SEO-txt__txt">Рекламно-производственная компания "Мега Компромисс" готова воплотить вашу любую фантазию и 
         изготовить оригинальную футболку в единственном экземпляре, а также позаботиться о вашем коллективе или мероприятии и подготовить 
         брендированные футболки оптом.</p>
      <p class="SEO-txt__txt">За достаточно небольшую сумму вы можете получить уникальную футболку с принтом. Цена зависит от 
         тиража, размера нанесения и макета, который нужно распечатать.</p>
      <h2 class="SEO-txt__title">Где купить футболку для печати?</h2>
      <p class="SEO-txt__txt">У нас на складе всегда есть футболки для того, чтобы нанести логотип, фото или надпись. 
         Все изделия предназначены для нанесения логотипов, фотографий или вашей корпоративной символики. Мы предлагаем 
         продукцию в которой уверены – футболки отличного качества и стойкие безопасные краски. Мы сотрудничаем с проверенными 
         производителями и используем футболки американского, французского и канадского изготовителей.</p>
      <p class="SEO-txt__txt">С перечнем моделей и цветовой гаммой футболок вы можете ознакомиться в <a href="ru/print-t-shirts/catalog-t-shirts/"
            title="каталоге футболок" itemprop="url">каталоге футболок</a> на 
         нашем сайте. В наличии на складе рекламно-производственной компании "Мега Компромисс" есть футболки:</p>
      <ul class="SEO-txt__list">
         <li>унисекс (подходят как для женщин, так и для мужчин)</li>
         <li>женские</li>
         <li>детские</li>
      </ul>
      <p class="SEO-txt__txt">Каждая модель футболки представлена ​​в более чем 10 цветах, что позволяет нашим клиентам 
         подобрать цвет в тон 
         личного лого и даже цвета мероприятия. Мы сотрудничаем как с компаниями и производим корпоративные футболки, 
         так и 
         с клиентами, которые организовуют для себя вечеринки и изготавливаем футболки с фото, юмористическими слоганами, 
         памятными датами и т.д.</p>
      <p class="SEO-txt__txt">Выбирая футболку на нашем сайте вам следует обращать внимание на желаемую модель изделия, а о 
         качество позаботились мы. Все 
         футболки представленные на сайте отлично подходят для создания брендированных футболок.</p>
   </div>

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <h2 class="SEO-txt__title">Как заказать печать на футболках в Киеве и других городах Украины?</h2>
      <p class="SEO-txt__txt">Рекламно-производственная компания "Мега Компромисс" сотрудничает с клиентами из Киева и любого 
         другого города Украины. Доставка товара осуществляется с помощью логистической компании "Новая почта" в кратчайшие 
         сроки. Для того чтобы оформить заказ вам достаточно воспользоваться формой на нашем сайте. Если у вас 
         возникли вопросы – обращайтесь к нам по телефонам, которые также указаны на сайте.</p>
   </div>

   <div class="block" style="--bg: #f5f5f5" itemprop="articleBody">
      <h2 class="block__title">Три простых шага, чтобы заказать печать на футболках</h2>
      <div class="block__wrapper" itemscope itemtype="https://schema.org/HowTo">
         <div class="block__item" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
            <span class="block__step-title" itemprop="name">Шаг первый.</span>
            <div itemprop="text">
               <p class="block__description">Определитесь с параметрами и заполните соответствующие поля</p>
               <ul class="block__list">
                  <li class="block__list-item">печать на белой или цветной футболке</li>
                  <li class="block__list-item">размер логотипа</li>
                  <li class="block__list-item">количество цветов лого/надписи</li>
                  <li class="block__list-item">тираж.</li>
               </ul>
               <p class="block__description">После этого вы увидите предполагаемую сумму заказа</p>
            </div>
         </div>
         <div class="block__item" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
            <span class="block__step-title" itemprop="name">Шаг второй.</span>
            <p class="block__description" itemprop="text">Нажмите кнопку "Заказать просчет"</p>
         </div>
         <div class="block__item" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
            <span class="block__step-title" itemprop="name">Шаг третий.</span>
            <p class="block__description" itemprop="text">После вы увидите окно, где нужно указать контактную информацию для того, 
               чтобы наши менеджеры могли связаться с вами. Заполняйте и жмите "Отправить".</p>
         </div>
      </div>
   </div>

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <h2 class="SEO-txt__title">Требования к макету для нанесения лого на футболку</h2>
      <p class="SEO-txt__txt">Важно! Именно от качества макета будет зависеть яркость и четкость лого на брендированной 
         футболке.</p>
      <p class="SEO-txt__txt">Допустимые форматы макета: *.ai, *.eps, *.tif, *.png, а также *.jpg (high quality). Мы 
         рекомендуем макеты с разрешением 300 dpi, но при этом минимальный допустимый 150 dpi.</p>
      <p class="SEO-txt__txt">Учитывайте размеры макета. Они должны соответствовать размеру наносимого логотипа. Мы 
         наносим логотипы 4 размеров:</p>
      <ul class="SEO-txt__list">
         <li>А3 - 30 см х 42 см</li>
         <li>А4 - 21 см х 30 см</li>
         <li>А5 - 15 см х 21 см</li>
         <li>А6 - 10,5 см х 15 см</li>
      </ul>
      <p class="SEO-txt__txt">Если у вас нет в наличии макета с соответствующими параметрами, то наши дизайнеры придут 
         к вам в помощь. Вам стоит только дать нам знать об этом!</p>
   </div>

   <button class="SEO-txt__btn" type="button" itemprop="potentialAction" itemscope itemtype="https://schema.org/Action">
      <span itemprop="name">ОТПРАВИТЬ ЗАПРОС</span>
   </button>

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <p class="SEO-txt__txt">Говоря о футболках с принтом, мы подразумеваем также брендированные футболки с лого, 
         футболки с фото, именные и любые другие с нанесенными надписями и изображениями.</p>
      <p class="SEO-txt__txt">За наш большой опыт, а это более 12 лет на рынке производства рекламы, нашими клиентами 
         становились как компании разных размеров для создания корпоративного духа благодаря брендированной одежде, так и 
         клиенты, желающие разнообразить свой гардероб уникальной вещью.</p>
      <p class="SEO-txt__txt">Также футболки с принтом от рекламно-производственной компании "Мега Компромисс" становятся частью 
         праздников: семейных, школьных, корпоративных. В таких случаях мы производим футболки с принтом, печатая на них 
         памятные даты, имена членов семьи, юмористические надписи, афоризмы, фотографии, героев из любимых мультиков, а 
         также другие надписи и изображения.</p>
      <p class="SEO-txt__txt">Также мы часто наблюдаем, как футболка с принтом становится памятным подарком для 
         близких. В таких случаях заказчики предпочитают заказывать печать фотографий на футболках. Для бабушек и 
         дедушки - футболки с фото любимых внуков, для влюбленных - парные футболки с собственными фото, для друзей - 
         футболка с принтами собственного дизайна.</p>
   </div>
</section>
