<!-- Блок тарифів на друк -->
<section data-fls-printingTariff class="tariff" data-component="printing-tariff" data-part="root">
   <h2 class="tariff__title">Вартість друку на футболках</h2>

   <div class="tariff__block">
      <button data-fls-button type="button" class="tariff__printing-size-select-btn _active"
         data-btn="tariff-tab">Розмір А5</button>
      <button data-fls-button type="button" class="tariff__printing-size-select-btn" data-btn="tariff-tab">Розмір
         А4</button>
      <button data-fls-button type="button" class="tariff__printing-size-select-btn" data-btn="tariff-tab">Розмір
         А3</button>
      <table class="tariff__table _active" data-name="tariff-table">
         <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
         <thead>
            <tr class="tariff__table-value">
               <th scope="col">Тираж</th>
               <th scope="col">20</th>
               <th scope="col">50</th>
               <th scope="col">100</th>
               <th scope="col">200</th>
               <th scope="col">300</th>
               <th scope="col">500</th>
               <th scope="col">1000</th>
               <th scope="col">2000</th>
               <th scope="col">3000</th>
               <th scope="col">4000</th>
               <th scope="col">5000</th>
            </tr>
         </thead>
         <tbody>
            <tr class="tariff__table-value">
               <th scope="row">1 колір</th>
               <td>10.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">2 кольори</th>
               <td>20.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">3 кольори</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">4 кольори</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">5 кольорів</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">6 кольорів</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
         </tbody>
      </table>
      <table class="tariff__table" data-name="tariff-table">
         <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
         <thead>
            <tr class="tariff__table-value">
               <th scope="col">Тираж</th>
               <th scope="col">20</th>
               <th scope="col">50</th>
               <th scope="col">100</th>
               <th scope="col">200</th>
               <th scope="col">300</th>
               <th scope="col">500</th>
               <th scope="col">1000</th>
            </tr>
         </thead>
         <tbody>
            <tr class="tariff__table-value">
               <th scope="row">1+0</th>
               <td>55.00</td>
               <td>77.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">2+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">3+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">4+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">5+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">6+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
         </tbody>
      </table>
      <table class="tariff__table" data-name="tariff-table">
         <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
         <thead>
            <tr class="tariff__table-value">
               <th scope="col">Тираж</th>
               <th scope="col">20</th>
               <th scope="col">50</th>
               <th scope="col">100</th>
               <th scope="col">200</th>
               <th scope="col">300</th>
               <th scope="col">500</th>
               <th scope="col">1000</th>
            </tr>
         </thead>
         <tbody>
            <tr class="tariff__table-value">
               <th scope="row">1+0</th>
               <td>01.00</td>
               <td>02.00</td>
               <td>03.00</td>
               <td>04.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">2+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">3+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">4+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">5+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">6+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
         </tbody>
      </table>
      <div class="tariff__note">
         <small>
            Цены указаны в UAH без учета НДС. Тираж от 5000 шт. рассчитывается индивидуально. Курс: 1 MK = 43.00 UAH Версія тарифу: 2025-10-06
          </small>
      </div>
   </div>
   <div class="tariff__block">
      <button data-fls-button type="button" class="tariff__printing-size-select-btn _active"
         data-btn="tariff-tab">Тампопечать</button>
      <button data-fls-button type="button" class="tariff__printing-size-select-btn" data-btn="tariff-tab">Розмір
         А4</button>
      <button data-fls-button type="button" class="tariff__printing-size-select-btn" data-btn="tariff-tab">Розмір
         А3</button>
      <table class="tariff__table _active" data-name="tariff-table">
         <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
         <thead>
            <tr class="tariff__table-value">
               <th scope="col">Тираж</th>
               <th scope="col">20</th>
               <th scope="col">50</th>
               <th scope="col">100</th>
               <th scope="col">200</th>
               <th scope="col">300</th>
               <th scope="col">500</th>
               <th scope="col">1000</th>
               <th scope="col">2000</th>
               <th scope="col">3000</th>
               <th scope="col">4000</th>
               <th scope="col">5000</th>
            </tr>
         </thead>
         <tbody>
            <tr class="tariff__table-value">
               <th scope="row">1 колір</th>
               <td>10.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">2 кольори</th>
               <td>20.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">3 кольори</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">4 кольори</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">5 кольорів</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">6 кольорів</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
         </tbody>
      </table>
      <table class="tariff__table" data-name="tariff-table">
         <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
         <thead>
            <tr class="tariff__table-value">
               <th scope="col">Тираж</th>
               <th scope="col">20</th>
               <th scope="col">50</th>
               <th scope="col">100</th>
               <th scope="col">200</th>
               <th scope="col">300</th>
               <th scope="col">500</th>
               <th scope="col">1000</th>
            </tr>
         </thead>
         <tbody>
            <tr class="tariff__table-value">
               <th scope="row">1+0</th>
               <td>55.00</td>
               <td>77.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">2+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">3+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">4+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">5+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">6+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
         </tbody>
      </table>
      <table class="tariff__table" data-name="tariff-table">
         <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
         <thead>
            <tr class="tariff__table-value">
               <th scope="col">Тираж</th>
               <th scope="col">20</th>
               <th scope="col">50</th>
               <th scope="col">100</th>
               <th scope="col">200</th>
               <th scope="col">300</th>
               <th scope="col">500</th>
               <th scope="col">1000</th>
            </tr>
         </thead>
         <tbody>
            <tr class="tariff__table-value">
               <th scope="row">1+0</th>
               <td>01.00</td>
               <td>02.00</td>
               <td>03.00</td>
               <td>04.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">2+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">3+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">4+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">5+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
            <tr class="tariff__table-value">
               <th scope="row">6+0</th>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
               <td>00.00</td>
            </tr>
         </tbody>
      </table>
   </div>
</section>