<!-- <script type="module" src="@components/custom/fetch/fetch.js"></script> -->
<script type="module" src="@components/pages/catalog/catalog.js"></script>

<link rel="stylesheet" href="@components/pages/catalog/catalog.scss">

<main class="page page--frontPage">
   <block name="catalog-cover">
      <include src="@components/sections/catalog_cover/catalog-cover.html" locals='{}'></include>
   </block>
   <block name="welcomeTxt">
      <include src="@components/sections/welcomeTxt/welcomeTxt_catalog.html" locals='{}'></include>
   </block>
   <block name="filters">
      <include src="@components/sections/filters/filters.html" locals='{}'></include>
   </block>
   <block name="catalog">
      <include src="@components/sections/catalog/catalog.html" locals='{}'></include>
   </block>
   <block name="pageDescription">
      <include src="@components/sections/pageDescription/pageDescription_catalog.html" locals='{}'></include>
   </block>
</main>