<!doctype html>
<html lang="[[lang]]">
<include src="@components/layout/head/head.html" locals='{
		"title":"[[title]]", 
		"preloader": {
			"enable":"[[preloader.enable]]",
			"once":"[[preloader.once]]"
		},
		"keywords":"[[keywords]]", 
		"description":"[[description]]"
	}'>
</include>
<script type="module" src="@components/templates/frontPage/frontPage.js"></script>
<link rel="stylesheet" href="@components/templates/frontPage/frontPage.scss">


<body>
   <block name="header"></block>
   <block name="cart"></block>
   <block name="cover"></block>
   <block name="leftSideBar"></block>
   <block name="navigation"></block>
   <block name="contant"></block>
   <block name="footer"></block>
   <block name="globalForms"></block>
   <script type="module" src="@js/app.js"></script>
</body>

</html>