<div class="navigate-group-wrapper _bags-wrapper" data-name="bags">
  <button data-fls-button type="button" class="navigate-group-wrapper__close-button" data-name="navigate-group-wrapper-close-button"></button>
  <ul class="group-block _bags" role="list">

    <!-- Заголовок -->
    <li class="signboard _bags" role="listitem">
      <div class="signboard__img">
        <svg aria-label="Сумки и пакеты" role="img" focusable="false" class="signboard__svg">
          <use xlink:href="__spritemap#sprite-bags"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Сумки и пакеты</h2>
        <p class="signboard__paragraph">Сумки и пакеты с логотипом</p>
      </header>
    </li>

    <!-- Горизонтальный большой блок -->
    <li class="type-board type-board-bags _horizontal-large" role="listitem">
      <div class="type-board__img">
        <svg aria-label="Бумажные пакеты из лого" role="img" focusable="false" class="type-board__svg">
          <use xlink:href="__spritemap#sprite-papire-bags"></use>
        </svg>
      </div>
      <div class="type-board__txt">
        <a href="/print-paper-bags/" class="type-board__link" title="Бумажные пакеты из лого">Бумажные пакеты из лого</a>
        <a href="//print-paper-bags/craft-packages/" class="type-board__link" title="Крафтовые пакеты с нанесением">Крафтовые пакеты с нанесением</a>
        <a href="/print-paper-bags/catalog-paper-bags/" class="type-board__link" title="Каталог бумажных пакетов">Каталог бумажных пакетов</a>
      </div>
    </li>

    <!-- Горизонтальный средний блок (пластиковые пакеты) -->
    <li class="type-board type-board-bags _horizontal-mid" role="listitem">
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Печать на пластиковых пакетах" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-plastik-bags"></use>
        </svg>
      </div>
      <a href="/print-plastic-bags/" class="type-board__link" title="Печать на пластиковых пакетах">Печать на пластиковых пакетах</a>
      <a href="/print-plastic-bags/catalog-plastic-bags/" class="type-board__link" title="Каталог полиэтиленовых пакетов">Каталог полиэтиленовых пакетов</a>
    </li>

    <!-- Горизонтальный средний блок (эко-сумки) -->
    <li class="type-board type-board-bags _horizontal-mid" role="listitem">
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Печать на эко-сумках" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-eco-bags"></use>
        </svg>
      </div>
      <a href="/print-eco-bags/" class="type-board__link" title="Печать на эко-сумках">Печать на эко-сумках</a>
      <a href="/print-eco-bags/catalog-eco-bags/" class="type-board__link" title="Каталог сумок">Каталог сумок</a>
    </li>

    <!-- Горизонтальный маленький блок (рюкзаки) -->
    <li role="listitem" class="type-board type-board-bags _horizontal-small">
      <a href="/print-backpacks/catalog-backpacks/" class="type-board__link _small" title="Рюкзаки">
        <div class="type-board__txt">
          <p class="horizontal-small__paragraph">Рюкзаки</p>
        </div>
      </a>
    </li>

  </ul>
</div>


