<div class="group-wrapper _bags-wrapper" data-name="bags">
  <ul class="group-block bags">

    <!-- Заголовок -->
    <li class="signboard _bags">
      <div class="signboard__img">
        <svg aria-label="Сумки та пакети" role="img" focusable="false" class="signboard__svg">
          <use xlink:href="__spritemap#sprite-bags"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Сумки та пакети</h2>
        <p class="signboard__paragraph">Сумки та пакети з логотипом</p>
      </header>
    </li>

    <!-- Горизонтальний великий блок -->
    <li class="type-board type-board-bags horizontal-large">
      <div class="type-board__img">
        <svg aria-label="Паперові пакети з лого" role="img" focusable="false" class="type-board__svg">
          <use xlink:href="__spritemap#sprite-papire-bags"></use>
        </svg>
      </div>
      <div class="type-board__txt">
        <a href="/print-paper-bags/" class="type-board__link">Паперові пакети з лого</a>
        <a href="/print-paper-bags/craft-packages/" class="type-board__link">Крафтові пакети з нанесенням</a>
        <a href="/print-paper-bags/catalog-paper-bags/" class="type-board__link">Каталог паперових пакетів</a>
      </div>
    </li>

    <!-- Горизонтальний середній блок -->
    <li class="type-board type-board-bags horizontal-mid">
      <div class="horizontal-mid__img">
        <svg aria-label="Друк на пластикових пакетах" role="img" focusable="false" class="horizontal-mid__svg">
          <use xlink:href="__spritemap#sprite-plastik-bags"></use>
        </svg>
      </div>
      <a href="/print-plastic-bags/" class="type-board__link">Друк на пластикових пакетах</a>
      <a href="/print-plastic-bags/catalog-plastic-bags/" class="type-board__link">Каталог поліетиленових пакетів</a>    
    </li>

    <!-- Горизонтальний середній блок -->
    <li class="type-board type-board-bags horizontal-mid">
      <a href="/print-eco-bags/" class="type-board__link">Друк на еко-сумках</a>
      <a href="/print-eco-bags/catalog-eco-bags/" class="type-board__link">Каталог сумок</a>
      <div class="horizontal-mid__img">
        <svg aria-label="Друк на еко-сумках" role="img" focusable="false" class="horizontal-mid__svg">
          <use xlink:href="__spritemap#sprite-eco-bags"></use>
        </svg>
      </div>
    </li>

    <!-- Горизонтальний маленький блок -->
    <li>
      <a href="/print-backpacks/catalog-backpacks/" class="type-board type-board-bags horizontal-small">
        <div class="horizontal-small__txt">
          <p class="horizontal-small__paragraph">Рюкзаки</p>
        </div>
      </a>
    </li>

  </ul>
</div>
