<div class="group-wrapper _caps-wrapper" data-name="caps">
  <ul class="group-block caps">

    <!-- Блок заголовка -->
    <li class="signboard _caps">
      <div class="signboard__img">
        <svg aria-label="Кепки" role="img" focusable="false" class="signboard__svg">
          <use xlink:href="__spritemap#sprite-caps"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Кепки</h2>
        <p class="signboard__paragraph">Друк на бейсболках</p>
      </header>
    </li>

    <!-- Один середній блок -->
    <li class="type-board type-board-caps horizontal-mid">
      <div class="horizontal-mid__img">
        <svg aria-label="Друк на кепках" role="img" focusable="false" class="horizontal-mid__svg">
          <use xlink:href="__spritemap#sprite-gruop-cap"></use>
        </svg>
      </div>
      <a href="/print-cap/" class="type-board__link">Друк на кепках</a>
      <a href="/print-cap/catalog-cap/" class="type-board__link">Каталог кепок</a>    
    </li>

  </ul>
</div>
