<div class="group-wrapper _dishes-wrapper" data-name="dishes">
  <button data-fls-button type="button" class="group-wrapper__close-button" data-name="group-wrapper-close-button"></button>
  <ul class="group-block _dishes">

    <!-- Заголовок групи -->
    <li class="signboard _dishes">
      <div class="signboard__img">
        <svg aria-label="Горнятка" role="img" focusable="false" class="signboard__svg">
          <use xlink:href="__spritemap#sprite-mugs"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Горнятка</h2>
        <p class="signboard__paragraph">Чашки та термоси з лого</p>
      </header>
    </li>

    <!-- Горизонтальний великий блок -->
    <li class="type-board type-board-dishes _horizontal-large">
      <div class="type-board__img">
        <svg aria-label="Друк на чашках" role="img" focusable="false" class="type-board__svg">
          <use xlink:href="__spritemap#sprite-print_mugs"></use>
        </svg>
      </div>
      <div class="type-board__txt">
        <a href="/print-cup/" class="type-board__link" title="Друк на чашках">Друк на чашках</a>
        <a href="/print-cup/catalog-cup/" class="type-board__link" title="Каталог чашок">Каталог чашок</a>
        <a href="/print-cup/photo/" class="type-board__link" title="Чашки з фото">Чашки з фото</a>
      </div>
    </li>

    <!-- Горизонтальний середній блок -->
    <li class="type-board type-board-dishes _horizontal-mid">
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Друк на термочашках" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-termo_mugs"></use>
        </svg>
      </div>
      <a href="#" class="type-board__link" title="Друк на термочашках">Друк на термочашках</a>
      <a href="#" class="type-board__link" title="Каталог термочашок">Каталог термочашок</a>
    </li>

    <!-- Горизонтальний середній блок -->
    <li class="type-board type-board-dishes _horizontal-mid">
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Термоси з нанесенням" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-termos"></use>
        </svg>
      </div>
      <a href="/print-thermos/" class="type-board__link" title="Термоси з нанесенням">Термоси з нанесенням</a>
      <a href="/print-thermos/catalog-thermos/" class="type-board__link" title="Каталог термосів">Каталог термосів</a>
    </li>

    <!-- Вертикальний блок -->
    <li class="type-board type-board-dishes _vertical">
      <a href="#" class="type-board__link">
        <div class="vertical__img">
          <svg aria-label="Патріотичні горнятка" role="img" focusable="false" class="type-board__svg _vertical-svg">
            <use xlink:href="__spritemap#sprite-patriot_mugs"></use>
          </svg>
        </div>
        <div class="type-board__txt">
          <p class="type-board__paragraph">Патріотичні<br>горнятка</p>
        </div>
      </a>
    </li>

  </ul>
</div>
