<div class="group-wrapper _electronics-wrapper" data-name="electronics">
  <ul class="group-block electronics">
    
    <!-- Блок заголовка групи товарів -->
    <li class="signboard _electronics">
      <div class="signboard__img">
        <svg aria-label="Електроніка" role="img" focusable="false" class="signboard__svg">
          <use xlink:href="__spritemap#sprite-flash-drives"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Електроніка</h2>
        <p class="signboard__paragraph">Флешки і павербанки з лого</p>
      </header>
    </li>

    <!-- Флешки -->
    <li class="type-board type-board-electronics horizontal-mid">
      <div class="horizontal-mid__img">
        <svg aria-label="Друк на флешках" role="img" focusable="false" class="horizontal-mid__svg">
          <use xlink:href="__spritemap#sprite-grup-flash-drives"></use>
        </svg>
      </div>
      <a href="/print-flash-drives/" class="type-board__link" title="Друк логотипу на флешках">Друк на флешках</a>
      <a href="/print-flash-drives/catalog-flash-drives/" class="type-board__link" title="Каталог флешок">Каталог флешок</a>    
    </li>

    <!-- Павербанки -->
    <li class="type-board type-board-electronics horizontal-mid">
      <div class="horizontal-mid__img">
        <svg aria-label="Павербанки з нанесенням" role="img" focusable="false" class="horizontal-mid__svg">
          <use xlink:href="__spritemap#sprite-group-powerbanks"></use>
        </svg>
      </div>
      <a href="/print-charged/" class="type-board__link" title="Друк логотипу на павербанках">Павербанки з нанесенням</a>
      <a href="/print-charged/catalog-charged/" class="type-board__link" title="Каталог павербанків">Каталог павербанків</a>    
    </li>

    <!-- Ліхтарики -->
    <li class="type-board type-board-electronics horizontal-mid">
      <div class="horizontal-mid__img">
        <svg aria-label="Ліхтарики з брендуванням" role="img" focusable="false" class="horizontal-mid__svg">
          <use xlink:href="__spritemap#sprite-grup-flashlight"></use>
        </svg>
      </div>
      <a href="/print-flashlights/" class="type-board__link" title="Друк логотипу на ліхтариках">Ліхтарики з брендуванням</a>
      <a href="/print-flashlights/catalog-flashlights/" class="type-board__link" title="Каталог ліхтариків">Каталог ліхтариків</a>    
    </li>

  </ul>
</div>
