<div class="navigate-group-wrapper _pens-wrapper" data-name="pens">
  <button data-fls-button type="button" class="navigate-group-wrapper__close-button" data-name="navigate-group-wrapper-close-button"></button>
  <ul class="group-block _pens">

    <!--Заголовок группы -->
    <li class="signboard _pens">
      <div class="signboard__img">
        <svg class="signboard__svg" aria-label="Ручки" role="img" focusable="false">
          <use xlink:href="__spritemap#sprite-pens"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Ручки</h2>
        <p class="signboard__paragraph">Ручки с логотипом</p>
      </header>
    </li>

    <!-- Горизонтальный большой блок -->
    <li class="type-board type-board-pens _horizontal-large">
      <div class="type-board__img">
        <svg class="type-board__svg" aria-label="Печать на ручках" role="img" focusable="false">
          <use xlink:href="__spritemap#sprite-group-pens"></use>
        </svg>
      </div>
      <ul class="type-board__txt">
        <li>
          <a href="/print-pen/" class="type-board__link" title="Печать на ручках">Печать на ручках</a>
        </li>
        <li>
          <a href="/print-pen/catalog-pen/#plastic" class="type-board__link" title="Пластиковые ручки">Пластиковые ручки</a>
        </li>
        <li>
          <a href="/print-pen/catalog-pen/#metal" class="type-board__link" title="Металлические ручки">Металлические ручки</a>
        </li>
        <li>
          <a href="/print-pen/catalog-pen/#eco" class="type-board__link" title="Эко-ручки">Эко-ручки</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
