<div class="group-wrapper _textile-wrapper" data-name="textile">
  <button type="button" class="group-wrapper__close-button" data-name="group-wrapper-close-button"></button>
  <ul class="group-block _textil">
    <!-- Блок заголовка групи товарів -->
    <li class="signboard">
      <div class="signboard__img">
        <svg aria-label="Текстиль" role="img" focusable="false" class="signboard__svg">
          <use xlink:href="__spritemap#sprite-merchandise"></use>
        </svg>
      </div>
      <header class="signboard__txt">
        <h2 class="signboard__title">Текстиль</h2>
        <p class="signboard__paragraph">Текстильні вироби з лого</p>
      </header>
    </li>

    <!-- Горизонтальний великий блок -->
    <li class="type-board type-board-textil _horizontal-large">
      <div class="type-board__img">
        <svg aria-label="Футболки" role="img" focusable="false" class="type-board__svg">
          <use xlink:href="__spritemap#sprite-gruop-tshirt"></use>
        </svg>
      </div>
      <ul class="type-board__txt">
        <li><a href="/print-t-shirts/" class="type-board__link" title="Друк на футболках">Друк на футболках</a></li>
        <li><a href="/print-t-shirts/catalog-t-shirts/" class="type-board__link" title="Каталог футболок">Каталог футболок</a></li>
        <li><a href="/print-t-shirts/roznica-t-shirts/" class="type-board__link" title="Футболки зі своїм принтом">Футболки зі своїм принтом</a></li>
      </ul>
    </li>

    <!-- Горизонтальний великий блок -->
    <li class="type-board type-board-textil _horizontal-large">
      <div class="type-board__img">
        <svg aria-label="Толстовки" role="img" focusable="false" class="type-board__svg">
          <use xlink:href="__spritemap#sprite-gruop-hoodi"></use>
        </svg>
      </div>
      <ul class="type-board__txt">
        <li><a href="/print-hoodies/" class="type-board__link" title="Друк на толстовках">Друк на толстовках</a></li>
        <li><a href="/print-hoodies/catalog-hoodies/" class="type-board__link" title="Каталог толстовок">Каталог толстовок</a></li>
        <li><a href="/print-hoodies/roznica-hoodies/" class="type-board__link" title="Худі зі своїм принтом">Худі зі своїм принтом</a></li>
      </ul>
    </li>

    <!-- Вертикальний блок -->
    <li class="type-board type-board-textil _vertical">
      <a href="/print-t-shirts/i-am-Ukraine/" class="type-board__link" title="Патріотичні футболки">
        <div class="vertical__img">
          <svg aria-label="Патріотичні футболки" role="img" focusable="false" class="type-board__svg _vertical-svg">
            <use xlink:href="__spritemap#sprite-gruop-ua-tshirt"></use>
          </svg>
        </div>
        <div class="type-board__txt">
          <p class="type-board__paragraph">Патріотичні футболки</p>
        </div>
      </a>
    </li>

    <!-- Вертикальний блок -->
    <li class="type-board type-board-textil _vertical">
      <a href="/print-hoodies/i-am-Ukraine/" class="type-board__link" title="Патріотичні худі">
        <div class="vertical__img">
          <svg aria-label="Патріотичні худі" role="img" focusable="false" class="type-board__svg _vertical-svg">
            <use xlink:href="__spritemap#sprite-gruop-ua-hoodi"></use>
          </svg>
        </div>
        <div class="type-board__txt">
          <p class="type-board__paragraph">Патріотичні худі</p>
        </div>
      </a>
    </li>

    <!-- Маленькі блоки -->
    <li class="type-board type-board-textil _horizontal-small">
      <a href="/print-textiles/catalog_vest/" class="type-board__link" title="Жилети">
        <div class="horizontal-small__txt">
          <p class="horizontal-small__paragraph">Жилети</p>
        </div>
      </a>
    </li>
    <li class="type-board type-board-textil _horizontal-small">
      <a href="/branding-plaid/" class="type-board__link" title="Пледи">
        <div class="horizontal-small__txt">
          <p class="horizontal-small__paragraph">Пледи</p>
        </div>
      </a>
    </li>
    
    <!-- Середні блоки -->
    <li class="type-board type-board-textil _horizontal-mid">
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Кепки" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-gruop-cap"></use>
        </svg>
      </div>
      <a href="/print-cap/" class="type-board__link" title="Друк на кепках">Друк на кепках</a>
      <a href="/print-cap/catalog-cap/" class="type-board__link" title="Каталог кепок">Каталог кепок</a>
    </li>
    <li class="type-board type-board-textil _horizontal-mid">
      <a href="#" class="type-board__link" title="Друк на поло">Друк на поло</a>
      <a href="#" class="type-board__link" title="Каталог тенісок">Каталог тенісок</a>
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Поло" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-gruop-polo"></use>
        </svg>
      </div>
    </li>
    <li class="type-board type-board-textil _horizontal-mid">
      <a href="/print-eco-bags/" class="type-board__link" title="Друк на еко-сумках">Друк на еко-сумках</a>
      <a href="/print-eco-bags/catalog-eco-bags/" class="type-board__link" title="Каталог шоперів">Каталог шоперів</a>
      <div class="type-board__horizontal-mid-img">
        <svg aria-label="Еко-сумки" role="img" focusable="false" class="type-board__svg _horizontal-mid-svg">
          <use xlink:href="__spritemap#sprite-gruop-bag"></use>
        </svg>
      </div>
    </li>
  </ul>
</div>
