<script type="module" src="@components/custom/featch/featch.js"></script>
<script type="module" src="@components/pages/landing/landing.js"></script>

<link rel="stylesheet" href="@components/pages/landing/landing.scss">

<main class="page page--landing">
   <block name="coverLanding">
      <include src="@components/layout/coverLanding/coverLanding.html" locals='{"title":"корпоративні подарунки"}'></include>
   </block>
   <block name="T-shirtPrintingTechnologies">
      <include src="@components/layout/T-shirtPrintingTechnologies/T-shirtPrintingTechnologies.html" locals='{}'></include>
   </block>

</main>