<script type="module" src="@components/custom/featch/featch.js"></script>

<script type="module" src="@components/pages/goods/goods.js"></script>
<link rel="stylesheet" href="@components/pages/goods/goods.scss">

<main class="page page--home">
   <block name="articleContent">
		<include src="@components/layout/articleContent/articleContent.html" locals='{}'></include>
	</block>
   <block name="articleOrderForm">
		<include src="@components/layout/articleContent/articleOrderForm.html" locals='{}'></include>
	</block>

   <block name="printingTariff">
		<include src="@components/layout/printingTariff/printingTariff.html" locals='{}'></include>
	</block>
   <block name="leftSideBar">
		<include src="@components/layout/leftSideBar/leftSideBar.html" locals='{}'></include>
	</block>
   <block name="navigation">
		<include src="@components/layout/navigation/navigation.html" locals='{}'></include>
	</block>
</main>
