<footer data-fls-footer class="footer" data-section-id="@@number">
   <!-- Заголовок -->
   <div class="footer__title">
      <h2 class="footer__title-txt">зв'яжіться з нами</h2>
   </div>
   <!-- Форма зворотнього звʼязку -->
   <div class="contacts-form">
      <form action="/" name="footer">
         <label for="name">Name:<i>*</i></label>
         <input id="name" type="text" name="name" required>
         <label for="phone">Telephone:<i>*</i></label>
         <input id="phone" type="tel" name="phone" required>
         <label for="email">E-mail:</label>
         <input id="email" type="email" name="email">
         <label for="text">Ваше повідомлення:</label>
         <textarea id="text" name="text"></textarea>
         <input data-send-footer-form type="submit" value="Надіслати" name="contactBtn">
      </form>
   </div>
   <!-- Контакктна інформація (права/нижня частина футера) -->
   <section class="footer__contacts">
      <svg class="footer__contacts-svg _call">
         <use xlink:href="__spritemap#sprite-call"></use>
      </svg>
      <h3 class="footer__contacts-title _call-title">Телефон</h3>
      <div class="footer__contacts-description _call-description">
         <a class="footer__contacts-description-txt" href="tel:+380443334215" aria-label="Телефон +38 044 333 42 15">+38
            044 333 42 15</a>
         <a class="footer__contacts-description-txt" href="tel:+380959317631" aria-label="Телефон +38 095 931 76 31">+38
            095 931 76 31</a>
         <a class="footer__contacts-description-txt" href="tel:+380671243206" aria-label="Телефон +38 067 124 32 06">+38
            067 124 32 06</a>
      </div>
      <svg class="footer__contacts-svg _e-mail">
         <use xlink:href="__spritemap#sprite-e-mail"></use>
      </svg>
      <h3 class="footer__contacts-title _e-mail-title">E-mail</h3>
      <div class="footer__contacts-description _e-mail-description">
         <a class="footer__contacts-description-txt" href="mailto:info@megakompromis.com.ua"
            aria-label="Email info@megakompromis.com.ua">info@megakompromis.com.ua</a>
      </div>
      <svg class="footer__contacts-svg _adress">
         <use xlink:href="__spritemap#sprite-adress"></use>
      </svg>
      <h3 class="footer__contacts-title _adress-title">Адреса</h3>
      <div class="footer__contacts-description _adress-description">
         <p class="footer__contacts-description-txt _important-txt">Офіс:</p>
         <p class="footer__contacts-description-txt">Україна, Київська обл.,</p>
         <p class="footer__contacts-description-txt">Киево-Святошинский р-н, м. Вишневе,</p>
         <p class="footer__contacts-description-txt">вул., Київска, 4, офіс 408</p>
         <p class="footer__contacts-description-txt _important-txt">Виробництво:</p>
         <p class="footer__contacts-description-txt">Україна, м. Київ, вул., Кирилівскьа, 86</p>
      </div>
      <ul class="footer__contacts-media">
         <li class="footer__contacts-media-item">
            <a class="footer__contacts-media-item-link" href="#">
               <svg class="footer__contacts-media-item-svg">
                  <use xlink:href="__spritemap#sprite-viber"></use>
               </svg>
            </a>
         </li>
         <li class="footer__contacts-media-item">
            <a href="#">
               <svg class="footer__contacts-media-item-svg">
                  <use xlink:href="__spritemap#sprite-telegram"></use>
               </svg>
            </a>
         </li>
         <li class="footer__contacts-media-item">
            <a href="#">
               <svg class="footer__contacts-media-item-svg">
                  <use xlink:href="__spritemap#sprite-facebook"></use>
               </svg>
            </a>
         </li>
         <li class="footer__contacts-media-item">
            <a href="#">
               <svg class="footer__contacts-media-item-svg">
                  <use xlink:href="__spritemap#sprite-insta"></use>
               </svg>
            </a>
         </li>
      </ul>
   </section>
   <!-- Горизонтальна біла лінія (декоративний елемент) -->
   <div class="footer__whiteLine"></div>
   <!-- Облако тегів/посилань -->
   <nav class="footer__links" aria-label="Корисні посилання">
      <h2 class="title-visually-hidden">Корисні посилання</h2>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="footer__links-list">
         <li class="footer__links-section">
            <h3 class="footer__links-section-title">Заголовок розділу</h3>
            <ul>
               <li>
                  <h4 class="footer__links-subsection-title">Заголовок Групи товарів</h4>
                  <ul>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                     <li>
                        <a class="footer__links-item-link" href="#" aria-label="">
                           Лінк першого рівня (на сторінку)
                        </a>
                     </li>
                  </ul>
               </li>
               <li>
                  <ul>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 1</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 2</a>
                     </li>
                     <li>
                        <a class="footer__links-item-link _second-level-link" href="#" aria-label="">Заголовок лінк
                           другого рівня 3</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </nav>
</footer>