<!--<script type="module" src="@components/custom/featch/featch.js"></script>-->
<script type="module" src="@components/pages/landing-sweatshirt/landing-sweatshirt.js"></script>
<!-- <script type="module" src="@components/sections/catalog/catalog.js"></script> -->

<link rel="stylesheet" href="@components/pages/landing-sweatshirt/landing-sweatshirt.scss">

<main class="page page--landing">
   <block name="pricing_T-shirts">
      <include src="@components/sections/pricing_landing/pricing_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="printSize_sweatshirt">
      <include src="@components/sections/printSize_landing/printSize_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="recommended-products">
      <include src="@components/sections/recommended-products/recommended-products.html" locals='{}'></include>
   </block>
   <block name="printingTariff">
      <include src="@components/sections/printingTariff/printingTariff.html" locals='{}'></include>
   </block>
   <block name="advantages_sweatshirt">
      <include src="@components/sections/advantages_landing/advantages_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="PrintingTechnologies_sweatshirt">
      <include src="@components/sections/PrintingTechnologies_landing/PrintingTechnologies_sweatshirt.html" locals='{}'>
      </include>
   </block>
   <block name="models_sweatshirt">
      <include src="@components/sections/models_landing/models_sweatshirt.html" locals='{}'>
      </include>
   </block>
   <block name="brands_sweatshirt">
      <include src="@components/sections/brands_landing/brands_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="order_sweatshirt">
      <include src="@components/sections/order_landing/order_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="reviews_sweatshirt">
      <include src="@components/sections/reviews_landing/reviews_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="SEO-txt_sweatshirt">
      <include src="@components/sections/SEO-txt_landing/SEO-txt_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="contactUs_sweatshirt">
      <include src="@components/sections/contactUs_landing/contactUs_sweatshirt.html" locals='{}'></include>
   </block>
   <block name="payment-Delivery_sweatshirt">
      <include src="@components/sections/payment-Delivery_landing/payment-Delivery_sweatshirt.html" locals='{}'></include>
   </block>
</main>