<div data-fls-landingRoznica class="landing-roznica"
   style="--bgImg: url(./assets/img/landingRoznica/bg.webp); --bgGradient: linear-gradient(17.54deg, #E963FD 5.6%, rgba(130, 51, 197, 0.95) 57.29%, #274B74 95.85%);">
   <div class="header landing-roznica__header">
      <div class="header__logo">
         <a href="/" title="На головну">
            <svg>
               <use xlink:href="__spritemap#sprite-logo-roznica"></use>
            </svg>
         </a>
      </div>
      <div class="header__price">
         <p>490<i>.00</i><span>грн.</span></p>
      </div>
   </div>
   <main class="landing-roznica__main">

      <!-- головний заголовок сторінки -->
      <h1 style="position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;">
         Купити футболку з принтом VOLYA – патріотичні футболки на замовлення
      </h1>

      <div class="designe landing-roznica__designe">
         <div class="designe__maket">
            <img class="designe__t-shirt" data-fls-image-ignore src="@img/landingRoznica/t-shirts/mensFrontWht.webp" alt="Чоловіча футболка біла" loading="lazy">
            <img class="designe__print" data-fls-image-ignore src="@img/landingRoznica/prints/preview_im-ukrainian_blck.webp" alt="Принт Я Українець чорний">
         </div>
      </div>

      <button type="button" class="settings-btn landing-roznica__settings-btn" aria-label="Налаштування футболки">
         <svg>
            <use xlink:href="__spritemap#sprite-gear-roznica"></use>
         </svg>
      </button>

      <button type="button" class="catalog-prints-btn landing-roznica__catalog-prints-btn" aria-label="Відкрити каталог принтів">
         <div class="catalog-prints-btn__item"></div>
         <div class="catalog-prints-btn__item"></div>
         <div class="catalog-prints-btn__item">
            <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_im-ukrainian_blck.webp" alt="Мініатюра принта Я Українець чорний">
         </div>
      </button>
      <!-- каталог принтів -->
<div class="catalog-prints landing-roznica__catalog-prints">
   <div class="tile catalog-prints__tile">
      <button class="tile__item" type="button" aria-label="Вибрати принт Хрест ЗСУ білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_ikhrest-vsu_wht.webp" alt="Принт Хрест ЗСУ білий" data-maket="/preview_ikhrest-vsu_wht">
      </button>
      <button class="tile__item _selected" type="button" aria-label="Вибрати принт Я Українець чорний" aria-pressed="true">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_im-ukrainian_blck.webp" alt="Принт Я Українець чорний" data-maket="/preview_im-ukrainian_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Я Українець білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_im-ukrainian_wht.webp" alt="Принт Я Українець білий" data-maket="/preview_im-ukrainian_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Хрест ЗСУ чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_khrest-vsu_blck.webp" alt="Принт Хрест ЗСУ чорний" data-maket="/preview_khrest-vsu_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Never Give Up чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_never-give-up_blck.webp" alt="Принт Never Give Up чорний" data-maket="/preview_never-give-up_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Never Give Up білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_never-give-up_wht.webp" alt="Принт Never Give Up білий" data-maket="/preview_never-give-up_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Peace for Ukraine кольоровий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_peace-for-ukraine_clr.webp" alt="Принт Peace for Ukraine кольоровий" data-maket="/preview_peace-for-ukraine_clr">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб 1 чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub1_blck.webp" alt="Принт Тризуб 1 чорний" data-maket="/preview_trizub1_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб 1 білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub1_wht.webp" alt="Принт Тризуб 1 білий" data-maket="/preview_trizub1_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб 2 чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub2_blck.webp" alt="Принт Тризуб 2 чорний" data-maket="/preview_trizub2_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб 2 білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub2_wht.webp" alt="Принт Тризуб 2 білий" data-maket="/preview_trizub2_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб 4 чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub4_blck.webp" alt="Принт Тризуб 4 чорний" data-maket="/preview_trizub4_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб 4 білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub4_wht.webp" alt="Принт Тризуб 4 білий" data-maket="preview_trizub4_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya_blck.webp" alt="Принт Тризуб VOLYA чорний" data-maket="preview_trizub-volya_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya_wht.webp" alt="Принт Тризуб VOLYA білий" data-maket="preview_trizub-volya_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA 2 чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya2_blck.webp" alt="Принт Тризуб VOLYA 2 чорний" data-maket="preview_trizub-volya2_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA 2 білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya2_wht.webp" alt="Принт Тризуб VOLYA 2 білий" data-maket="preview_trizub-volya2_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA 3 чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya3_blck.webp" alt="Принт Тризуб VOLYA 3 чорний" data-maket="preview_trizub-volya3_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA 3 білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya3_wht.webp" alt="Принт Тризуб VOLYA 3 білий" data-maket="preview_trizub-volya3_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA 4 чорний">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya4_blck.webp" alt="Принт Тризуб VOLYA 4 чорний" data-maket="preview_trizub-volya4_blck">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Тризуб VOLYA 4 білий">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_trizub-volya4_wht.webp" alt="Принт Тризуб VOLYA 4 білий" data-maket="preview_trizub-volya4_wht">
      </button>
      <button class="tile__item" type="button" aria-label="Вибрати принт Серце України">
         <img data-fls-image-ignore src="@img/landingRoznica/prints-btn/print_ukraine_heart1.webp" alt="Принт Серце України" data-maket="preview_ukraine_heart1">
      </button>
   </div>
   <div class="bottom-bar catalog-prints__bottom-bar">
      <button class="close" type="button" aria-label="Закрити каталог принтів"></button>
   </div>
</div>

      <div class="comunication landing-roznica__comunication">
         <div class="settings comunication__settings">
            <button class="close settings__close" type="button" aria-label="Закрити налаштування"></button>
            <div class="settings__color">
               <h2>Колір футболки</h2>
               <input id="Blck" type="radio" name="color">
               <label for="Blck"></label>

               <input id="Wht" type="radio" name="color" checked>
               <label for="Wht"></label>
            </div>
            <div class="settings__front-back">
               <h2>Місце нанесення</h2>
               <input id="Front" type="radio" name="front-back" checked>
               <label for="Front">Груди</label>

               <input id="Back" type="radio" name="front-back">
               <label for="Back">Спина</label>
            </div>
            <div class="settings__model _action">
               <h2>Модель</h2>
               <input id="mens" type="radio" name="model" checked>
               <label for="mens">Чоловіча</label>

               <input id="ledies" type="radio" name="model">
               <label for="ledies">Жіноча</label>

               <input id="kids" type="radio" name="model">
               <label for="kids">Дитяча</label>
            </div>
         </div>
         <div class="comunication__messengers">
            <a href="https://t.me/MegaKompromis_bot" title="Напишіть нам у Telegram">
               <svg>
                  <use xlink:href="__spritemap#sprite-telegram-roznica"></use>
               </svg>
            </a>
            <a href="viber://pa?chatURI=mk_group" title="Напишіть нам у Viber">
               <svg>
                  <use xlink:href="__spritemap#sprite-viber-roznica"></use>
               </svg>
            </a>
            <button type="button" title="Подзвоніть нам" aria-label="Подзвонити">
               <svg>
                  <use xlink:href="__spritemap#sprite-phones-roznica"></use>
               </svg>
            </button>
            <div class="phone-namber">
               +380959317631
            </div>
         </div>
         <button class="comunication__buy" type="button">ЗАМОВИТИ</button>
      </div>
      <div class="order landing-roznica__order">
         <h2>Футболка чоловіча, чорна з принтом “VOLYA”</h2>
         <!-- блоки розмірів без змін -->
         <div class="order__form">
            <p>Для оформлення замовлення, заповніть форму</p>
            <form action="">
               <label for="name">Імʼя:</label>
               <input type="text" name="name" id="name">

               <label for="phone">Телефон:</label>
               <input type="tel" name="phone" id="phone">

               <label for="comments">Коментар:</label>
               <textarea name="comments" id="comments"></textarea>

               <div class="order__buttons">
                  <button class="close" type="button" aria-label="Закрити форму"></button>
                  <button class="submit" type="submit">ОФОРМИТИ</button>
               </div>
            </form>
         </div>
      </div>
   </main>
</div>