<script type="module" src="@components/pages/landing-T-shirts/landing-T-shirts.js"></script>

<link rel="stylesheet" href="@components/pages/landing-T-shirts/landing-T-shirts.scss">

<main class="page page--landing-T-shirts">
   <block name="pricing_T-shirts">
      <include src="@components/sections/pricing_landing/pricing_T-shirts.html" locals='{}'></include>
   </block>
   <block name="printSize_T-shirts">
      <include src="@components/sections/printSize_landing/printSize_T-shirts.html" locals='{}'></include>
   </block>
   <block name="recommended-products">
      <include src="@components/sections/recommended-products/recommended-products.html" locals='{}'></include>
   </block>
   <block name="printingTariff">
      <include src="@components/sections/printingTariff/printingTariff.html" locals='{}'></include>
   </block>
   <block name="advantages_landing">
      <include src="@components/sections/advantages_landing/advantages_T-shirts.html" locals='{}'></include>
   </block>
   <block name="PrintingTechnologies_T-shirt">
      <include src="@components/sections/PrintingTechnologies_landing/PrintingTechnologies_T-shirt.html" locals='{}'>
      </include>
   </block>
   <block name="models_t-shirts">
      <include src="@components/sections/models_landing/models_t-shirts.html" locals='{}'>
      </include>
   </block>
   <block name="brands_t-shirts">
      <include src="@components/sections/brands_landing/brands_t-shirts.html" locals='{}'></include>
   </block>
   <block name="order_t-shirts">
      <include src="@components/sections/order_landing/order_t-shirts.html" locals='{}'></include>
   </block>
   <block name="reviews_t-shirts">
      <include src="@components/sections/reviews_landing/reviews_t-shirts.html" locals='{}'></include>
   </block>
   <block name="SEO-txt_t-shirts">
      <include src="@components/sections/SEO-txt_landing/SEO-txt_t-shirts.html" locals='{}'></include>
   </block>
   <block name="contactUs_t-shirts">
      <include src="@components/sections/contactUs_landing/contactUs_t-shirts.html" locals='{}'></include>
   </block>
   <block name="payment-Delivery_t-shirts">
      <include src="@components/sections/payment-Delivery_landing/payment-Delivery_t-shirts.html" locals='{}'></include>
   </block>
</main>