<section data-fls-advantages_T-shirts 
         class="advantages" 
         aria-labelledby="advantages-title"
         itemscope 
         itemtype="https://schema.org/ItemList">

   <h2 class="advantages__title" id="advantages-title" itemprop="name">
      Почему стоит заказать печать у нас:
   </h2>

   <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending" />
   <meta itemprop="numberOfItems" content="5" />

   <div class="advantages__wrapper">
      
      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/003-1.png" alt="Без минимального тиража" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Без минимального тиража</h3>
         <p class="advantages__dasc" itemprop="description">Напечатаем даже 1 футболку</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="2" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/001-1.png" alt="Собственное производство" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Собственное производство</h3>
         <p class="advantages__dasc" itemprop="description">Контролируем качество на каждом этапе</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="3" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/004-1.png" alt="Качество принтов" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Качество принтов</h3>
         <p class="advantages__dasc" itemprop="description">Устойчивые к стирке и не трескаются</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="4" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/002-1.png" alt="Доставка по Украине" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Доставка по Украине</h3>
         <p class="advantages__dasc" itemprop="description">Новая почта / самовывоз из мастерской</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="5" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/005-1.png" alt="Помощь с дизайном" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Помощь с дизайном</h3>
         <p class="advantages__dasc" itemprop="description">Есть макет – классно. Нет – сделаем!</p>
      </div>

   </div>
</section>