<section data-fls-advantages_T-shirts 
         class="advantages" 
         aria-labelledby="advantages-title"
         itemscope 
         itemtype="https://schema.org/ItemList">

   <h2 class="advantages__title" id="advantages-title" itemprop="name">
      Чому варто замовити друк у нас:
   </h2>

   <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending" />
   <meta itemprop="numberOfItems" content="5" />

   <div class="advantages__wrapper">
      
      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/003-1.png" alt="Забрендуємо від 1 шт." itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Забрендуємо від 1 шт.</h3>
         <p class="advantages__dasc" itemprop="description">Але запропонуємо вигідні умови для партій від 10+</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="2" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/001-1.png" alt="Власне виробництво" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Власне виробництво</h3>
         <p class="advantages__dasc" itemprop="description">Контролюємо якість на кожному етапі</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="3" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/004-1.png" alt="Треба швидко? Не питання" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Треба швидко? Не питання</h3>
         <p class="advantages__dasc" itemprop="description">Терміни виготовлення від 2 робочих днів.</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="4" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/002-1.png" alt="Доставка по Україні" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Доставка по Україні</h3>
         <p class="advantages__dasc" itemprop="description">Нова пошта / самовивіз з виробництва</p>
      </div>

      <div class="advantages__block" 
           itemprop="itemListElement" 
           itemscope 
           itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="5" />
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/005-1.png" alt="Наші дизайнери до ваших послуг" itemprop="image" />
         <h3 class="advantages__subtitle" itemprop="name">Наші дизайнери до ваших послуг</h3>
         <p class="advantages__dasc" itemprop="description">Допоможемо у створенні або адаптації дизайну.</p>
      </div>

   </div>
</section>
