<section data-fls-advantages_T-shirts class="advantages">
   <h2 class="advantages__title">Чому варто замовити друк у нас:</h2>
   <div class="advantages__wrapper">
      <div class="advantages__block">
         <img class="advantages__img" src="@img/landing/003-1.png" alt="Без мінімального тиражу"></img>
            <h3 class="advantages__subtitle">Без мінімального тиражу</h3>
            <p class="advantages__dasc">Надрукуємо навіть 1 футболку</p>
      </div>
      <div class="advantages__block">
         <img class="advantages__img" src="@img/landing/001-1.png" alt="Без мінімального тиражу"></img>
            <h3 class="advantages__subtitle">Власне виробництво</h3>
            <p class="advantages__dasc">Контролюємо якість на кожному етапі</p>
      </div>
      <div class="advantages__block">
         <img class="advantages__img" src="@img/landing/004-1.png" alt="Без мінімального тиражу"></img>
            <h3 class="advantages__subtitle">Якість принтів</h3>
            <p class="advantages__dasc">Стійкі до прання та не тріскаються</p>
      </div>
      <div class="advantages__block">
         <img class="advantages__img" src="@img/landing/002-1.png" alt="Без мінімального тиражу"></img>
            <h3 class="advantages__subtitle">Доставка по Україні</h3>
            <p class="advantages__dasc">Нова пошта / самовивіз із майстерні</p>
      </div>
      <div class="advantages__block">
         <img class="advantages__img" src="@img/landing/005-1.png" alt="Без мінімального тиражу"></img>
         <h3 class="advantages__subtitle">Допомога з <br> дизайном</h3>
         <p class="advantages__dasc">Є макет — класно. Немає — зробимо!</p>
      </div>
   </div>

</section>