<li class="cart__result-card" data-cart-item data-id="7019001" data-color="white" data-price="99">
   <article class="cart__result-card-article">
      <div>
         <img class="cart__result-card-article-img" src="@img/goods/CLASSIC-HOODED-SWEAT_021.webp" alt="">
      </div>
      <div class="cart__result-card-article-content">
         <h3 class="cart__result-card-article-title">ФУТdddddd</h3>
         <p class="cart__result-card-article-number">Арт.: 7019001</p>
         <p class="cart__result-card-article-description">Fruit of the Loom Valueweight</p>

         <div class="cart__qty">
            <button type="button" data-action="cart-dec" aria-label="Зменшити кількість">−</button>
            <span class="cart__qty-value">2</span>
            <button type="button" data-action="cart-inc" aria-label="Збільшити кількість">+</button>
         </div>
      </div>
      <div>
         <button class="cart__remove" data-action="cart-remove" aria-label="Видалити товар">×</button>
         <div class="cart__row-price">Ціна: 99 грн</div>
      </div>
   </article>
</li>