<!-- Article форма замовлення -->
<div class="order-form">
   <div class="order-form__info">
      <h2 class="order-form__title" data-article-title="Футболка унісекс">Футболка унісекс</h2>
      <h3 class="order-form__subtitle" data-article-subtitle="Gildan SoftStyle 153">Gildan SoftStyle 153</h3>
      <p class="order-form__article-id"><span>арт.:</span> <span data-article-id="7019008">7019008</span></p>
      <div class="order-form__color col016" data-order-form-color data-article-color="016">016</div>
   </div>

   <div class="order-form__cost">
      <p class="order-form__cost-txt">Вартість замовлення:</p>
      <p class="order-form__cost-txt" data-name="total-cost" data-unit-price="2170.00" data-currency="UAH" data-total-currency="грн.">2170.00 грн.
      </p>
   </div>
   <form class="order-form__form" action="/" name="article-order">
      <p class="order-form__form-txt">Вкажіть кількість<i>*</i></p>
      <input class="order-form__form-input" type="number" name="quantity" value="1" required>

      <p class="order-form__form-txt" data-i18n="orderForm.nameLabel">Ім'я:<i>*</i></p>
      <input class="order-form__form-input" type="text" name="name" required>

      <p class="order-form__form-txt" data-i18n="orderForm.phoneLabel">Телефон:<i>*</i></p>
      <input class="order-form__form-input" type="tel" name="phone" required>

      <p class="order-form__form-txt" data-i18n="orderForm.emailLabelOptional">E-mail:</p>
      <input class="order-form__form-input" type="email" name="email">

      <p class="order-form__form-txt" data-name="print-maket" data-i18n="orderForm.addDesign">Додати макет</p>
      <input type="file" name="file_print">

      <input data-send-order-form type="submit" value="Надіслати" name="articleOrderBtn" title="Надіслати заявку">
   </form>
</div>