<!-- <section data-fls-recommended_products_card class="recommended-products-card" data-component="recommended_products_card" data-part="root" aria-labelledby="recommended-products-card"
   itemscope itemtype="https://schema.org/ItemList">
    <article data-fls-recommended_products_card class="recommended-products-card" data-component="recommended_products_card" data-part="root" aria-labelledby="recommended-products-card" itemscope itemtype="https://schema.org/Product">
        <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про товстовку"
            itemprop="url">
            <img data-fls-image-ignore src="@img/goods/CLASSIC-HOODED-SWEAT_021.webp" alt="Товстовка з логотипом"
                itemprop="image">
        </a>
        <h3 itemprop="name" class="goods-card__title">Товстовка</h3>
        <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
        <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            Ціна: <span itemprop="price">425,00</span> <span itemprop="priceCurrency" content="UAH">грн</span>
        </p>
    </article>
</section> -->

    <article data-fls-recommended_products_card class="recommended-products-card" data-component="recommended_products_card" data-part="root" aria-labelledby="recommended-products-card" itemscope itemtype="https://schema.org/Product">
        <a class="recommended-products-card__items" href="http://localhost:5500/recommended-products.html" title="Детальніше про товстовку"
            itemprop="url">
            <img class="recommended-products-card__items-img" data-fls-image-ignore src="@img/goods/CLASSIC-HOODED-SWEAT_021.webp" alt="Товстовка з логотипом"
                itemprop="image">
        </a>
        <h3 itemprop="name" class="ecommended-products-card__title">Товстовка</h3>
        <p class="ecommended-products-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            Ціна: <span itemprop="price">425,00</span> <span itemprop="priceCurrency" content="UAH">грн</span>
        </p>
    </article>
