<section data-fls-recommended_products class="recommended-products" data-component="recommended_products" data-part="root" aria-labelledby="recommended-products"
   itemscope itemtype="https://schema.org/ItemList">
   <h2 class="recommended-products__title" id="popular-products">Найпопулярніші товари</h2>
   <div class="recommended-products__goods-tiles">
      <div class="goods__tiles-wrapper _grid-settings-for-mine">
         <block name="recommended_products">
            <include src="@components/sections/recommended_products/recommended_products_Card.html" locals='{}'></include>
         </block>
      </div>
   </div>
</section>