// @import "recommended_products_Card";
@use "recommended_products_card" as *;

.recommended-products {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   padding: 0 0 64px 0;
   gap: 20px;
   background: red;
   &__title {
      width: 100%;
      margin: 16px 0;
      font-size: 2em;
      line-height: 1em;
      text-align: center;
      text-transform: uppercase;
      color: #4170b4;
   }
   &__goods-tiles {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      padding: 20px;
      
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
         display: none;
      }
   }
}