<section data-fls-advantages_landing class="advantages" itemscope itemtype="https://schema.org/Product">
   <meta itemprop="name" content="Футболки с печатью">
   <meta itemprop="category" content="Футболки с логотипом, брендированные футболки, корпоративные футболки, футболки с фото">

   <p class="advantages__description" itemprop="description">
      "Мега Компромисс" предлагает печать на футболках любой сложности оптом от 1 
      шт. У нас вы можете заказать футболки с логотипом, брендированные, корпоративные футболки, футболки с фотографией из 
      печатью надписей и других изображений по демократической цене. Свяжитесь с нами, и мы уверены – вы получите футболку 
      своей мечты.
   </p>

   <h2 class="advantages__title">Заказать футболку с принтом можно с нанесением изображений следующих размеров:</h2>
   <div class="advantages__wrapper">
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/t-shirt_A6.png" alt="Футболка с принтом формата A6" itemprop="image">
         <p class="advantages__format" itemprop="name">A6</p>
         <p class="advantages__size"><span itemprop="description">105 х 149 мм</span></p>
      </div>
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/t-shirt_A5.png" alt="Футболка с принтом формата A5" itemprop="image">
         <p class="advantages__format" itemprop="name">A5</p>
         <p class="advantages__size"><span itemprop="description">149 х 210 мм</span></p>
      </div>
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/t-shirt_A4.png" alt="Футболка з принтом формату A4" itemprop="image">
         <p class="advantages__format" itemprop="name">A4</p>
         <p class="advantages__size"><span itemprop="description">210 х 297 мм</span></p>
      </div>
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/t-shirt_A3.png" alt="Футболка з принтом формату A3" itemprop="image">
         <p class="advantages__format" itemprop="name">A3</p>
         <p class="advantages__size"><span itemprop="description">297 х 420 мм</span></p>
      </div>
   </div>

   <h3 class="advantages__title">Мы предлагаем несколько вариантов печати на футболках. Прежде всего это:</h3>
   <div class="advantages__wrapper">
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/chest.png" alt="Печать на футболке на груди" itemprop="image">
         <p class="advantages__print-location" itemprop="name">на груди</p>
      </div>
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/sleeve.png" alt="Печать на футболке на рукаве" itemprop="image">
         <p class="advantages__print-location" itemprop="name">на рукавах</p>
      </div>
      <div class="advantages__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <img data-fls-image-ignore class="advantages__img" src="@img/landing/back.png" alt="Печать на футболке на спине" itemprop="image">
         <p class="advantages__print-location" itemprop="name">на спине</p>
      </div>
   </div>
</section>