<!-- Успішна відправка форми -->
<div data-fls-submit class="contact-form-modal _view" data-name-submit="contact-form-submit">
   <div class="contact-form-close" data-remove-submit="contact-form-submit"></div>
   <img class="contact-form-modal__pic" data-fls-image-ignore src="@img/global/Thumb_up_for_alarm.webp"
      alt="Виконано успішно">
   <h3 class="contact-form-modal__title">Успішно!</h3>
   <p class="contact-form-modal__txt">Запит надіслано! Ми зв’яжемося з вами найближчим часом.</p>
</div>

<!-- Помилка форми -->
<!-- <div class="contact-form-modal _error _view" data-name-submit="contact-form-submit">
   <div class="contact-form-close" data-remove-submit="contact-form-submit"></div>
   <img class="contact-form-modal__pic" data-fls-image-ignore src="@img/global/we_have_problems_for_alarm.webp"
      alt="Виникла помилка">
   <h3 class="contact-form-modal__title">Щось пішло не так.</h3>
   <p class="contact-form-modal__txt">Виникла технічна помилка. Будь ласка, спробуйте пізніше.</p>
</div> -->