<div data-fls-componentInsertMenu class="component-insert-menu _view" data-component="componentInsertMenu"
   data-part="root" data-name="component-insert">
   <div class="component-insert-menu__header">
      <button class="component-insert-menu__close" type="button" data-action="close-modal"
         data-target="component-insert" aria-label="Закрити"></button>
      <p class="component-insert-menu__title">Обрати компонент для додавання на сторінку</p>
   </div>

   <form class="component-insert-menu__tiles-container" method="post" action="/admin/setup/component-insert/">
      <input type="hidden" name="instance_id" value="24">
      <input type="hidden" name="position" value="after">
      <input type="hidden" name="page_id" value="5">

      <ul class="component-insert-menu__tiles-wrapper _reverse-direction">
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="9"
               data-component-view="catalog_classic">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="9" required="">
               <span class="component-insert-menu__tile-title">
                  catalog_classic </span>

               <span class="component-insert-menu__tile-type">
                  catalog </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img"
                     src="/img/admin/components/catalog_classic.png" alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="8" data-component-view="special_offer">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="8" required="">
               <span class="component-insert-menu__tile-title">
                  special_offer </span>

               <span class="component-insert-menu__tile-type">
                  catalog </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img"
                     src="/img/admin/components/special_offer.png" alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="23" data-component-view="advantages">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="23" required="">
               <span class="component-insert-menu__tile-title">
                  advantages </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/advantages.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="32" data-component-view="button_link">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="32" required="">
               <span class="component-insert-menu__tile-title">
                  button_link </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/button_link.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="33" data-component-view="catalog-cover">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="33" required="">
               <span class="component-insert-menu__tile-title">
                  catalog-cover </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img"
                     src="/img/admin/components/catalog-cover.png" alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="5" data-component-view="cover">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="5" required="">
               <span class="component-insert-menu__tile-title">
                  cover </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/cover.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="2" data-component-view="header">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="2" required="">
               <span class="component-insert-menu__tile-title">
                  header </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/header.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="31" data-component-view="html">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="31" required="">
               <span class="component-insert-menu__tile-title">
                  html </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/html.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="7"
               data-component-view="page_description">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="7" required="">
               <span class="component-insert-menu__tile-title">
                  page_description </span>

               <span class="component-insert-menu__tile-type">
                  content</span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img"
                     src="/img/admin/components/page_description.png" alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="40" data-component-view="pricing">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="40" required="">
               <span class="component-insert-menu__tile-title">pricing</span>

               <span class="component-insert-menu__tile-type">content</span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/pricing.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="10" data-component-view="tarifs">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="10" required="">
               <span class="component-insert-menu__tile-title">tarifs</span>

               <span class="component-insert-menu__tile-type">content</span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/tarifs.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="24" data-component-view="technologies">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="24" required="">
               <span class="component-insert-menu__tile-title">
                  technologies </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/technologies.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="22" data-component-view="tiles_6x3">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="22" required="">
               <span class="component-insert-menu__tile-title">
                  tiles_6x3 </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/tiles_6x3.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
         <li class="component-insert-menu__tile">
            <label class="component-insert-menu__tile-items" data-component-id="6" data-component-view="welcomeTxt">
               <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="6" required="">
               <span class="component-insert-menu__tile-title">
                  welcomeTxt </span>

               <span class="component-insert-menu__tile-type">
                  content </span>

               <div class="component-insert-menu__component-preview">
                  <img class="component-insert-menu__component-preview-img" src="/img/admin/components/welcomeTxt.png"
                     alt="Component preview">
               </div>
            </label>
         </li>
      </ul>

      <button class="component-insert-menu__add-btn" type="submit">
         Додати
      </button>
   </form>
</div>