<header data-fls-menu_header class="menu-header" data-component="menu-header" data-part="part">
   <button class="menu-header__close" type="button" data-action="[[dataAction]]" data-target="[[dataTarget]]"
      aria-label="[[ariaTabel]]"></button>
   <p class="menu-header__title">[[pTitle]]</p>
</header>
<!-- Хедер з кнопкою назад -->
<!--<header data-fls-menu_header class="menu-header" data-component="menu-header" data-part="part">
   <button class="menu-header__close" type="button" data-action="[[dataAction]]" data-target="[[dataTarget]]"
      aria-label="[[ariaTabel]]"></button>
   <p class="menu-header__title">[[pTitle]]</p>
</header>-->