<section data-fls-tile_6x3 class="tiles">
   <ul class="tiles__list _main">
      <!-- 1 Повербанки -->
      <li class="tiles__item _color-blue _vertical-rectangle-tile">
         <a href="/print-charged/catalog-charged/" class="tiles__link" aria-label="Переглянути павербанки з логотипом">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/powerBank.webp" alt="Павербанки з лого" loading="lazy">
            <p class="tiles__txt _position-top">Павербанки<br>з лого</p>
         </a>
      </li>
      <!-- 2 Парасолі -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-umbrellas/catalog-umbrellas/" class="tiles__link" aria-label="Переглянути парасолі">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/umbrellas.webp" alt="Парасолі" loading="lazy">
            <p class="tiles__txt _position-top">парасолі</p>
         </a>
      </li>
      <!-- 3 Шопери -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-eco-bags/" class="tiles__link" aria-label="Переглянути ЕКО-СУМКИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/ekoBag.webp" alt="ЕКО-СУМКИ" loading="lazy">
            <p class="tiles__txt _position-top">ЕКО-СУМКИ</p>
         </a>
      </li>
      <!-- 4 Футболки -->
      <li class="tiles__item _color-orange _big-square-tile">
         <a href="/print-t-shirts/" class="tiles__link" aria-label="Переглянути друк на футболках">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/t-shirt.webp" alt="Друк на футболках" loading="lazy">
            <p class="tiles__txt _position-top _big-txt">Друк<br>на футболках</p>
         </a>
      </li>
      <!-- 5 Ручки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-pen/" class="tiles__link" aria-label="Переглянути РУЧКИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/pen.webp" alt="РУЧКИ" loading="lazy">
            <p class="tiles__txt _position-bottom">РУЧКИ</p>
         </a>
      </li>
      <!-- 6 Паперові пакети -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-paper-bags/" class="tiles__link" aria-label="Переглянути КРАФТОВІ ПАКЕТИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/paperBag.webp" alt="КРАФТОВІ ПАКЕТИ" loading="lazy">
            <p class="tiles__txt _position-top">КРАФТОВІ<br>ПАКЕТИ</p>
         </a>
      </li>
      <!-- 7 Патріотичеі футболки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-t-shirts/i-am-Ukraine/" class="tiles__link" aria-label="Переглянути патріотичні футболки">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/t-shirt-ukrain.webp" alt=" патріотичні футболки" loading="lazy">
            <p class="tiles__txt _position-top">патріотичні<br>
               футболки</p>
         </a>
      </li>
      <!-- 8 Чашки -->
      <li class="tiles__item _color-dark-gray _vertical-rectangle-tile">
         <a href="/print-cup/" class="tiles__link" aria-label="Переглянути друк на чашках">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/mug.webp" alt="Друк на чашках" loading="lazy">
            <p class="tiles__txt _position-top">Друк<br>на<br>чашках</p>
         </a>
      </li>
      <!-- 9 Кепки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-cap/" class="tiles__link" aria-label="Переглянути КЕПКИ З ЛОГО">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/cap.webp" alt="КЕПКИ З ЛОГО" loading="lazy">
            <p class="tiles__txt _position-top">КЕПКИ<br>З ЛОГО</p>
         </a>
      </li>
      <!-- 10 Худі -->
      <li class="tiles__item _color-lilac _horizontal-rectangle-tile">
         <a href="/print-hoodies/" class="tiles__link" aria-label="Переглянути ХУДІ З ЛОГО">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/hoody.webp" alt="ХУДІ З ЛОГО" loading="lazy">
            <p class="tiles__txt _position-top">ХУДІ З ЛОГО</p>
         </a>
      </li>
      <!-- 11 Патріотичні худі -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/holiday/christmas-clothes/" class="tiles__link" aria-label="Обрати худі зі святковим принтом">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/holidays-hoodie.webp" alt="Худі зі святковим принтом" loading="lazy">
            <p class="tiles__txt _position-top">Святкові<br>худі</p>
         </a>
      </li>
      <!-- 12 Флешки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/print-flash-drives/" class="tiles__link" aria-label="Переглянути ФЛЕШКИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/flashDrive.webp" alt="ФЛЕШКИ" loading="lazy">
            <p class="tiles__txt _position-top">ФЛЕШКИ</p>
         </a>
      </li>
   </ul>
</section>