<section data-fls-tile_6x3 class="tiles">
   <ul class="tiles__list _main">
      <!-- 1 Повербанки -->
      <li class="tiles__item _color-blue _vertical-rectangle-tile">
         <a href="/ru/print-charged/catalog-charged/" class="tiles__link" aria-label="Посмотреть пауэрбанки с логотипом">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/powerBank.webp" alt="Пауэрбанки с лого" loading="lazy">
            <p class="tiles__txt _position-top">Пауэрбанки<br>с лого</p>
         </a>
      </li>
      <!-- 2 Зонты -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-umbrellas/catalog-umbrellas/" class="tiles__link" aria-label="Посмотреть зонты">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/umbrellas.webp" alt="Зонты" loading="lazy">
            <p class="tiles__txt _position-top">зонты</p>
         </a>
      </li>
      <!-- 3 Эко-сумки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-paper-bags/" class="tiles__link" aria-label="Посмотреть ЭКО-СУМКИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/ekoBag.webp" alt="ЭКО-СУМКИ" loading="lazy">
            <p class="tiles__txt _position-top">ЭКО-СУМКИ</p>
         </a>
      </li>
      <!-- 4 Футболки -->
      <li class="tiles__item _color-orange _big-square-tile">
         <a href="/ru/print-t-shirts/" class="tiles__link" aria-label="Посмотреть печать на футболках">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/t-shirt.webp" alt="Печать на футболках" loading="lazy">
            <p class="tiles__txt _position-top _big-txt">Печать<br>на футболках</p>
         </a>
      </li>
      <!-- 5 Ручки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-pen/" class="tiles__link" aria-label="Посмотреть РУЧКИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/pen.webp" alt="РУЧКИ" loading="lazy">
            <p class="tiles__txt _position-bottom">РУЧКИ</p>
         </a>
      </li>
      <!-- 6 Бумажные пакеты -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-paper-bags/" class="tiles__link" aria-label="Посмотреть КРАФТОВЫЕ ПАКЕТЫ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/paperBag.webp" alt="КРАФТОВЫЕ ПАКЕТЫ" loading="lazy">
            <p class="tiles__txt _position-top">КРАФТОВЫЕ<br>ПАКЕТЫ</p>
         </a>
      </li>
      <!-- 7 Патриотические футболки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-t-shirts/i-am-Ukraine/" class="tiles__link" aria-label="Посмотреть патриотические футболки">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/t-shirt-ukrain.webp" alt="Патриотические футболки" loading="lazy">
            <p class="tiles__txt _position-top">патриотические<br>
               футболки</p>
         </a>
      </li>
      <!-- 8 Кружки -->
      <li class="tiles__item _color-dark-gray _vertical-rectangle-tile">
         <a href="/ru/print-cup/" class="tiles__link" aria-label="Посмотреть печать на кружках">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/mug.webp" alt="Печать на кружках" loading="lazy">
            <p class="tiles__txt _position-top">Печать<br>на<br>кружках</p>
         </a>
      </li>
      <!-- 9 Кепки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-cap/" class="tiles__link" aria-label="Посмотреть КЕПКИ С ЛОГО">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/cap.webp" alt="КЕПКИ С ЛОГО" loading="lazy">
            <p class="tiles__txt _position-top">КЕПКИ<br>С ЛОГО</p>
         </a>
      </li>
      <!-- 10 Худи -->
      <li class="tiles__item _color-lilac _horizontal-rectangle-tile">
         <a href="/ru/print-hoodies/" class="tiles__link" aria-label="Посмотреть ХУДИ С ЛОГО">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/hoody.webp" alt="ХУДИ С ЛОГО" loading="lazy">
            <p class="tiles__txt _position-top">ХУДИ С ЛОГО</p>
         </a>
      </li>
      <!-- 11 Патриотические худи -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/holiday/christmas-clothes/" class="tiles__link" aria-label="Заказать худи с праздничным принтом">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/holidays-hoodie.webp" alt="Худи с праздничным принтом" loading="lazy">
            <p class="tiles__txt _position-top">Праздничные<br>худи</p>
         </a>
      </li>
      <!-- 12 Флешки -->
      <li class="tiles__item _color-gray _small-square-tile">
         <a href="/ru/print-flash-drives/" class="tiles__link" aria-label="Посмотреть ФЛЕШКИ">
            <img class="tiles__img" data-fls-image-ignore src="@img/tile/flashDrive.webp" alt="ФЛЕШКИ" loading="lazy">
            <p class="tiles__txt _position-top">ФЛЕШКИ</p>
         </a>
      </li>
   </ul>
</section>