

<!-- Блок тарифів на друк -->
<section data-fls-printingTariff class="tariff">
    <h2>Вартість друку на фктболках</h2>
    <div class="tariff__block">
        <!-- Друк на футболках методом шовкодруку розмір А5 -->
        <table class="tariff__table">
            <caption>Друк на футболках методом шовкодруку розмір А5</caption>
            <tbody>
                <tr class="tariff__value">
                    <th>Тираж</th>
                    <th>20</th>
                    <th>50</th>
                    <th>100</th>
                    <th>200</th>
                    <th>300</th>
                    <th>500</th>
                    <th>1000</th>
                </tr>
                <tr class="tariff__value">
                    <th>1+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>2+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>3+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>4+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>5+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>6+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
            </tbody>
        </table>

        <!-- Друк на футболках методом шовкодруку розмір А4 -->
        <table class="tariff__table">
            <caption>Друк на футболках методом шовкодруку розмір А4</caption>
            <tbody>
                <tr class="tariff__value">
                    <th>Тираж</th>
                    <th>20</th>
                    <th>50</th>
                    <th>100</th>
                    <th>200</th>
                    <th>300</th>
                    <th>500</th>
                    <th>1000</th>
                </tr>
                <tr class="tariff__value">
                    <th>1+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>2+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>3+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>4+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>5+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>6+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
            </tbody>
        </table>

        <!-- Друк на футболках методом шовкодруку розмір А3 -->
        <table class="tariff__table">
            <caption>Друк на футболках методом шовкодруку розмір А3</caption>
            <tbody>
                <tr class="tariff__value">
                    <th>Тираж</th>
                    <th>20</th>
                    <th>50</th>
                    <th>100</th>
                    <th>200</th>
                    <th>300</th>
                    <th>500</th>
                    <th>1000</th>
                </tr>
                <tr class="tariff__value">
                    <th>1+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>2+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>3+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>4+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>5+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
                <tr class="tariff__value">
                    <th>6+0</th>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                    <td>00.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>