<!-- Блок тарифів на друк -->
<section data-fls-printingTariff class="tariff">
  <h2 class="tariff__title">Вартість друку на футболках</h2>

  <div class="tariff__block">
    <button data-fls-button type="button" class="tariff__printing-size-select-btn _active">Розмір А5</button>
    <button data-fls-button type="button" class="tariff__printing-size-select-btn">Розмір А4</button>
    <button data-fls-button type="button" class="tariff__printing-size-select-btn">Розмір А3</button>
    <table class="tariff__table _active">
      <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
      <thead>
        <tr class="tariff__table-value">
          <th scope="col">Тираж</th>
          <th scope="col">20</th>
          <th scope="col">50</th>
          <th scope="col">100</th>
          <th scope="col">200</th>
          <th scope="col">300</th>
          <th scope="col">500</th>
          <th scope="col">1000</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tariff__table-value">
          <th scope="row">1+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">2+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">3+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">4+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">5+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">6+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
      </tbody>
    </table>
    <table class="tariff__table">
      <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
      <thead>
        <tr class="tariff__table-value">
          <th scope="col">Тираж</th>
          <th scope="col">20</th>
          <th scope="col">50</th>
          <th scope="col">100</th>
          <th scope="col">200</th>
          <th scope="col">300</th>
          <th scope="col">500</th>
          <th scope="col">1000</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tariff__table-value">
          <th scope="row">1+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">2+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">3+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">4+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">5+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">6+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
      </tbody>
    </table>
    <table class="tariff__table">
      <!-- <caption class="tariff__table-caption">Розмір А5</caption> -->
      <thead>
        <tr class="tariff__table-value">
          <th scope="col">Тираж</th>
          <th scope="col">20</th>
          <th scope="col">50</th>
          <th scope="col">100</th>
          <th scope="col">200</th>
          <th scope="col">300</th>
          <th scope="col">500</th>
          <th scope="col">1000</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tariff__table-value">
          <th scope="row">1+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">2+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">3+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">4+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">5+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
        <tr class="tariff__table-value">
          <th scope="row">6+0</th>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
          <td>00.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>