<aside class="left-side-bar" aria-label="Швидкі контакти" data-fls-leftSideBar>
   <ul class="left-side-bar__list">
      <!-- <li class="left-side-bar__items">
         <a href="#" class="left-side-bar__link" data-name="logIn" title="Особистий кабінет" aria-label="Особистий кабінет">
            <svg class="left-side-bar__svg" aria-hidden="true" focusable="false">
               <use xlink:href="__spritemap#sprite-login"></use>
            </svg>
         </a>
      </li> -->
      <!--<li class="left-side-bar__items">
         <a class="left-side-bar__link" href="#">
            <svg class="left-side-bar__svg">
               <use xlink:href="@img/icons/icons.svg#messenger"></use>
            </svg>
         </a>
      </li>-->
      <li class="left-side-bar__items">
         <a href="#" class="left-side-bar__link" data-name="viber" title="Viber" aria-label="Viber">
            <svg class="left-side-bar__svg" aria-hidden="true" focusable="false">
               <use xlink:href="__spritemap#sprite-viber"></use>
            </svg>
         </a>
      </li>

      <li class="left-side-bar__items">
         <a href="#" class="left-side-bar__link" data-name="telegram" title="telegram" aria-label="Telegram">
            <svg class="left-side-bar__svg" aria-hidden="true" focusable="false">
               <use xlink:href="__spritemap#sprite-telegram"></use>
            </svg>
         </a>
      </li>

      <li class="left-side-bar__items">
         <button class="left-side-bar__link" type="button" data-name="phone" title="Номери контактних телефонів" aria-label="Номери контактних телефонів">
            <svg class="left-side-bar__svg" aria-hidden="true" focusable="false">
               <use xlink:href="__spritemap#sprite-phones"></use>
            </svg>
         </button>
         <div class="wrapper-modal left-side-bar__modal _contacts" tabindex="-1" data-name="phone" role="dialog" aria-labelledby="modal-phone-title">
            <h3 id="modal-phone-title" class="visually-hidden"></h3>
            <div class="type-board left-side-bar__contacts-item">
               <address class="type-board__paragraph">+38&nbsp;095&nbsp;931&nbsp;76&nbsp;31</address>
            </div>
         </div>
      </li>

      <li class="left-side-bar__items">
         <button class="left-side-bar__link" type="button" data-name="mail" title="Контактний E-mail" aria-label="Контактний E-mail">
            <svg class="left-side-bar__svg" aria-hidden="true" focusable="false">
               <use xlink:href="__spritemap#sprite-eMail"></use>
            </svg>
         </button>
         <div class="wrapper-modal left-side-bar__modal _contacts" tabindex="-1" data-name="mail" role="dialog" aria-labelledby="modal-email-title">
            <h3 id="modal-email-title" class="visually-hidden"></h3>
            <div class="type-board left-side-bar__contacts-item" title="пошта">
               <address class="type-board__paragraph">info@megakompromis.com.ua</address>
            </div>
         </div>
      </li>

      <li class="left-side-bar__items">
         <button class="burger-menu" data-name="view-nav-menu" type="button" aria-label="Головне меню">
            <div class="burger-menu__line"></div>
         </button>
      </li>
   </ul>
</aside>
