<section data-fls-order_landing class="order" data-component="order_landing" data-part="root" itemscope itemtype="https://schema.org/HowTo">
  <h2 class="order__title" itemprop="name">Як замовити футболки з принтом?</h2>

  <ol class="order__steps">
    <li class="order__step" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
      <meta itemprop="position" content="1" />
      <div class="order__icon">1</div>
      <div class="order__content">
        <h3 class="order__content-title" itemprop="name">Ви надсилаєте макет</h3>
        <p class="order__txt" itemprop="text">Приймаємо ваш логотип, зображення чи текст для друку.</p>
      </div>
      <div class="order__arrow"></div>
    </li>

    <li class="order__step" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
      <meta itemprop="position" content="2" />
      <div class="order__icon">2</div>
      <div class="order__content">
        <h3 class="order__content-title" itemprop="name">Узгодимо модель футболки і ціну</h3>
        <p class="order__txt" itemprop="text">Надаємо варіанти і обговорюємо всі деталі.</p>
      </div>
      <div class="order__arrow"></div>
    </li>

    <li class="order__step" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
      <meta itemprop="position" content="3" />
      <div class="order__icon">3</div>
      <div class="order__content">
        <h3 class="order__content-title" itemprop="name">Ви підтверджуєте та оплачуєте</h3>
        <p class="order__txt" itemprop="text">Після оплати починаємо виконання вашого замовлення.</p>
      </div>
      <div class="order__arrow"></div>
    </li>

    <li class="order__step" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
      <meta itemprop="position" content="4" />
      <div class="order__icon">4</div>
      <div class="order__content">
        <h3 class="order__content-title" itemprop="name">Друк і доставка</h3>
        <p class="order__txt" itemprop="text">Виготовляємо, пакуємо та надсилаємо у зручний для вас спосіб.</p>
      </div>
    </li>
  </ol>

  <button class="order__btn" data-action="open-modal" data-target="contact-form-order-landing" data-part="button" type="button">Замовити друк на футболках</button>
   <include src="@components/custom/modal/modal.html" locals='{
      "addClass": "",
      "modalName": "contact-form-order-landing",
      "closeOrRemove": "close",
      "dirName": "custom",
      "fileName": "contactform"
   }'></include>
</section>
