<section data-fls-welcomeTxt class="welcome-txt" data-component="welcomeTxt" data-part="expandable" data-state="closed"
   aria-labelledby="welcome-title">
   <div class="welcome-txt__title-block">
      <img data-fls-image-ignore class="welcome-txt__img" src="@img/paint.webp"
         alt="Пензель з фарбами — символ креативного підходу до бізнесу">
      <h2 id="welcome-title" class="welcome-txt__title">ФУТБОЛКИ ДЛЯ ДРУКУ АБО ВИШИВКИ</h2>
   </div>
   <p>
      На нашому складі завжди можна підібрати <a href="/print-t-shirts/branded-t-shirts/"
         title="Брендовані, корпоративні футболки"><strong>футболку для брендування логотипом</strong></a> або нанесення
      корпоративної символіки, а також для створення ексклюзивних зображень для виготовлення подарункової футболки
      колезі, клієнтові або другу! Замовляйте футболки у нас! У нас завжди найкраща пропозиція !!! <br> <br>

      <a href="/print-t-shirts/" title="Друк на футболках"><strong>Друк на футболках у нас</strong></a> - це завжди
      гарна ідея!
   </p>
   <include src="@components/globalBlokcs/showtextbtn/showtextbtn.html" locals='{}'></include>
</section>