<section data-fls-welcomeTxt class="welcome-txt" data-component="welcomeTxt" data-part="expandable" data-state="closed"
   aria-labelledby="welcome-title">
   <div class="welcome-txt__title-block">
      <h2 id="welcome-title" class="welcome-txt__title">Футболки під друк - каталог якісного текстилю для нанесення принтів</h2>
   </div>
   <p>
      Ласкаво просимо до каталогу футболок із можливістю нанесення принтів та логотипів! У нас ви знайдете широкий вибір моделей: чоловічі, жіночі, дитячі та унісекс варіанти від провідних брендів: Fruit of the Loom, Gildan, S’ols, JHK та інші.
      Кожна футболка підібрана з урахуванням якості тканини, оптимальної щільності та зручності для нанесення — шовкодрук, DTF-друк, термоперенос чи вишивка.
      Замовляючи у нас, ви отримуєте надійну базу для ваших друкованих проєктів — від корпоративних футболок до сувенірної продукції.
   </p>
   <include src="@components/globalBlokcs/showtextbtn/showtextbtn.html" locals='{}'></include>
</section>