<div data-fls-insert_component_child_menu class="insert-component-child-menu _view"
   data-component="insert-component-child-menu" data-part="root">

   <!-- Хедер меню -->
   <include src="@components/adminMK/components/admin_modal_header/admin_modal_header.html" locals='{
      "dataAction": "close-menu",
      "dataTarget": "insert-component-child-menu",
      "ariaTabel": "Закрити меню",
      "pTitle": "Компоненти доступні до додавання"
   }'></include>

   <div class="insert-component-child-menu__content" data-part="content">
      <form method="post" action="/admin/setup/insert-component-child/">

         <input type="hidden" name="page_id" value="5">
         <input type="hidden" name="instance_id" value="776">
         <input type="hidden" name="parent_instance_id" value="776">
         <input type="hidden" name="position" value="last">

         <ul class="insert-component-child-menu__items">
            <li class="insert-component-child-menu__item">
               <label class="insert-component-child-menu__choice" data-component-id="49"
                  data-component-view="advantages_items">

                  <input class="component-insert-menu__tile-radio" type="radio" name="component_id" value="49"
                     required="">

                  <span class="component-insert-menu__tile-title">advantages_items</span>
               </label>
            </li>
         </ul>

         <input class="insert-component-child-menu__submit" type="submit" value="Додати">
      </form>
   </div>
</div>