<section data-fls-related-categories class="related-categories" data-component="relatedСategories" data-part="root" aria-label="Інші популярні категорії">
    <div class="related-categories__tiles">
        <a href="" class="related-categories__item _tall" style="--itemBg: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);">
            <img src="@img/related_categories/t-shirt_ico.webp" alt="Image">
        </a>
        <a href="" class="related-categories__item _small" style="--itemBg: linear-gradient( 135deg, #FF7AF5 10%, #513162 100%);"></a>
        <a href="" class="related-categories__item _wide" style="--itemBg: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);">
            <img src="@img/related_categories/pen_ico.webp" alt="Image">
        </a>
        <a href="" class="related-categories__item _small" style="--itemBg: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);">
            <img src="@img/related_categories/mug_ico.webp" alt="Image">
        </a>
        <a href="" class="related-categories__item _large" style="--itemBg: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);">
            <img src="@img/related_categories/polo_large_ico.webp" alt="Image">
        </a>
        <a href="" class="related-categories__item _small" style="--itemBg: linear-gradient( 135deg, #FFF3B0 10%, #CA26FF 100%);"></a>
        <a href="" class="related-categories__item _small" style="--itemBg: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);"></a>
        <a href="" class="related-categories__item _large" style="--itemBg: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);">
            <img src="@img/related_categories/t-shirt_large_ico.webp" alt="Image">
        </a>
        <a href="" class="related-categories__item _wide" style="--itemBg: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);">
            <img src="@img/related_categories/charger_ico.webp" alt="Image">
        </a>
        <a href="" class="related-categories__item _small" style="--itemBg: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);"></a>
        <a href="" class="related-categories__item _small" style="--itemBg: linear-gradient( 135deg, #F05F57 10%, #360940 100%);"></a>
        <a href="" class="related-categories__item _extra-large " style="--itemBg: linear-gradient( 135deg, #FFF5C3 10%, #9452A5 100%);">
            <img src="@img/related_categories/eco-bag_ico.webp" alt="Image">
        </a>
    </div>
</section>