<div data-fls-filters class="filters">
   <ul class="filters__types">
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types _active"
            aria-label="Пластикові ручки">Пластикові</a>
      </li>
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Металеві ручки">Металеві</a>
      </li>
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Стілус ручки">Стілус</a>
      </li>
   </ul>
   <ul class="filters__colors">
      <li class="">
         <a class="filters__btn-colors _active col010">010</a>
      </li>
      <li>
         <a class="filters__btn-colors col027">027</a>
      </li>
   </ul>
</div>