<div data-fls-filters class="filters">
   <ul class="filters__types">
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types _checed"
            aria-label="Пластикові ручки">Пластикові</a>
      </li>
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Металеві ручки">Металеві</a>
      </li>
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Стілус ручки">Стілус</a>
      </li>
   </ul>
   <ul class="filters__colors">
      <li>
         <label class="filters__color-option">
            <input class="filters__color-option-input" type="checkbox" name="color" value="col010">
            <span class="filters__color-swatch col010">010</span>
         </label>
      </li>
      <li>
         <label class="filters__color-option">
            <input class="filters__color-option-input" type="checkbox" name="color" value="col027">
            <span class="filters__color-swatch col027">027</span>
         </label>
      </li>
      <li>
         <label class="filters__color-option">
            <input class="filters__color-option-input" type="checkbox" name="color" value="col011">
            <span class="filters__color-swatch col011">011</span>
         </label>
      </li>
      <li>
         <label class="filters__color-option">
            <input class="filters__color-option-input" type="checkbox" name="color" value="col023">
            <span class="filters__color-swatch col023">023</span>
         </label>
      </li>
      <li>
         <label class="filters__color-option">
            <input class="filters__color-option-input" type="checkbox" name="color" value="col034">
            <span class="filters__color-swatch col034">034</span>
         </label>
      </li>
      <li>
         <label class="filters__color-option">
            <input class="filters__color-option-input" type="checkbox" name="color" value="col034">
            <span class="filters__color-swatch col022-004">022-004</span>
         </label>
      </li>
   </ul>
</div>