<div data-fls-filters class="filters">
   <ul class="filters__types">
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Пластикові ручки">Пластикові</a>
      </li>
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Металеві ручки">Металеві</a>
      </li>
      <li>
         <a href="/print-pen/catalog-pen/?type=plastic-pen" class="filters__btn-types"
            aria-label="Стілус ручки">Стілус</a>
      </li>


   </ul>
   <ul data-fls-articleContent class="filters__colors">
      <li class="article__colors-item col010 _active" data-name="color-items" data-img-src="/img/goods/pr006_010.jpg"
         data-cost="5.45" title="Теракотовий">
         009
      </li>
      <li class="article__colors-item col010 _active" data-name="color-items" data-img-src="/img/goods/pr006_010.jpg"
         data-cost="5.45" title="Теракотовий">
         010
      </li>
   </ul>
</div>