<section data-fls-tile_6x3 class="tiles-6x3">
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/powerBank.png" alt="">
      <p class="tile__txt">Павербанки<br>з лого</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/umbrellas.png" alt="">
      <p class="tile__txt">парасолі</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/ekoBag.png" alt="">
      <p class="tile__txt">ЕКО-СУМКИ</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/t-shirt.png" alt="">
      <p class="tile__txt">Друк<br>
         на фУтболках</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/pen.png" alt="">
      <p class="tile__txt">РУЧКИ</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/paperBag.png" alt="">
      <p class="tile__txt">КРАФТОВІ<br>
         ПАКЕТИ</p>
   </a>
   <a href="landing-roznica.html" class="tile _main">
      <img class="tile__img" src="@img/tile/t-shirt-ukrain.png" alt="">
      <p class="tile__txt">патріотичні<br>
         футболки</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/mug.png" alt="">
      <p class="tile__txt">Друк<br>
         на<br>
         чашках</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/cap.png" alt="">
      <p class="tile__txt">КЕПКИ<br>
         З ЛОГО</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/hoody.png" alt="">
      <p class="tile__txt">ХУДІ З ЛОГО</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/hoody-ukraine.png" alt="">
      <p class="tile__txt">Патріотичні<br>
         худі</p>
   </a>
   <a href="#" class="tile _main">
      <img class="tile__img" src="@img/tile/flashDrive.png" alt="">
      <p class="tile__txt">ФЛЕШКИ</p>
   </a>
</section>