<section data-fls-tile_6x3 class="tiles tiles--6x3">
   <ul class="tiles__list">
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути павербанки з логотипом">
            <img class="tile__img" src="@img/tile/powerBank.png" alt="Павербанки з лого" loading="lazy">
            <p class="tile__txt">Павербанки<br>з лого</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути парасолі">
            <img class="tile__img" src="@img/tile/umbrellas.png" alt="Парасолі" loading="lazy">
            <p class="tile__txt">парасолі</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути ЕКО-СУМКИ">
            <img class="tile__img" src="@img/tile/ekoBag.png" alt="ЕКО-СУМКИ" loading="lazy">
            <p class="tile__txt">ЕКО-СУМКИ</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути друк на футболках">
            <img class="tile__img" src="@img/tile/t-shirt.png" alt="Друк на футболках" loading="lazy">
            <p class="tile__txt">Друк<br>
               на фУтболках</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути РУЧКИ">
            <img class="tile__img" src="@img/tile/pen.png" alt="РУЧКИ" loading="lazy">
            <p class="tile__txt">РУЧКИ</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути КРАФТОВІ ПАКЕТИ">
            <img class="tile__img" src="@img/tile/paperBag.png" alt="КРАФТОВІ ПАКЕТИ" loading="lazy">
            <p class="tile__txt">КРАФТОВІ<br>
               ПАКЕТИ</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="landing-roznica.html" class="tile tile--main" aria-label="Переглянути патріотичні футболки">
            <img class="tile__img" src="@img/tile/t-shirt-ukrain.png" alt=" патріотичні футболки" loading="lazy">
            <p class="tile__txt">патріотичні<br>
               футболки</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути друк на чашках">
            <img class="tile__img" src="@img/tile/mug.png" alt="Друк на чашках" loading="lazy">
            <p class="tile__txt">Друк<br>
               на<br>
               чашках</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути КЕПКИ З ЛОГО">
            <img class="tile__img" src="@img/tile/cap.png" alt="КЕПКИ З ЛОГО" loading="lazy">
            <p class="tile__txt">КЕПКИ<br>
               З ЛОГО</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути ХУДІ З ЛОГО">
            <img class="tile__img" src="@img/tile/hoody.png" alt="ХУДІ З ЛОГО" loading="lazy">
            <p class="tile__txt">ХУДІ З ЛОГО</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути патріотичні худі">
            <img class="tile__img" src="@img/tile/hoody-ukraine.png" alt="Патріотичні худі" loading="lazy">
            <p class="tile__txt">Патріотичні<br>
               худі</p>
         </a>
      </li>
      <li class="tiles__item">
         <a href="#" class="tile tile--main" aria-label="Переглянути ФЛЕШКИ">
            <img class="tile__img" src="@img/tile/flashDrive.png" alt="ФЛЕШКИ" loading="lazy">
            <p class="tile__txt">ФЛЕШКИ</p>
         </a>
      </li>
   </ul>
</section>