<section class="models" data-fls-models_landing itemscope itemtype="https://schema.org/ItemList">
   <h2 class="title-visually-hidden" itemprop="name">Моделі худі, реглани, толстовки для друку</h2>
   <meta itemprop="category" content="Худі для друку та брендування">

   <div class="models__wrapper">
      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Чоловічі (унісекс) худі для друку логотипу">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/hppdie_male.webp"
               alt="Чоловічі унісекс худі для друку логотипу">
         </div>
         <h3 class="models__title" itemprop="name">Чоловічі (унісекс) худі</h3>
         <p class="models__desc" itemprop="description">
            Класичний прямий крій, зручна посадка та щільна бавовна — ідеальна основа для друку логотипів, принтів і
            рекламних написів. У наявності популярні моделі брендів Gildan, Roly, Malfini, JHK та інших. Доступні в
            широкій палітрі кольорів і розмірів.
         </p>
      </div>

      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Жіночі реглани для брендування">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/hoodie_female.webp"
               alt="Жіночі реглани для брендування та друку">
         </div>
         <h3 class="models__title" itemprop="name">Жіночі реглани</h3>
         <p class="models__desc" itemprop="description">
            Облягаючий силует, м’яка еластична тканина та жіночний крій — чудово підходять для брендування одягу, акцій,
            подій та дизайнерських замовлень. Різноманітні варіанти: з коротким або довгим рукавом, V-подібним вирізом
            тощо.
         </p>
      </div>

      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Дитячі толстовки для друку">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/hoodie_childrens.webp"
               alt="Дитячі толстовки з принтом">
         </div>
         <h3 class="models__title" itemprop="name">Дитячі толстовки</h3>
         <p class="models__desc" itemprop="description">
            Безпечні матеріали, яскраві кольори та комфортна посадка. Ідеальні для шкільних заходів, дитячих гуртків,
            таборів або сімейних принтів. Підходять для всіх методів друку, включно з шовкодруком та DTF.
         </p>
      </div>
   </div>

   <a itemprop="url" class="models__btn" href="/print-hoodies/catalog-hoodies/" title="Обрати толстовку для друку">
      Обрати толстовку
   </a>
</section>