<section class="models" data-fls-models_landing itemscope itemtype="https://schema.org/ItemList">
   <h2 class="title-visually-hidden" itemprop="name">Модели футболок для печати</h2>
   <meta itemprop="category" content="Футболки для печати и брендирования">

   <div class="models__wrapper">
      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Мужские (унисекс) футболки для печати логотипа">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/male-1.webp"
               alt="Мужские унисекс футболки для печати логотипа">
         </div>
         <h3 class="models__title" itemprop="name">Мужская (унисекс) футболка</h3>
         <p class="models__desc" itemprop="description">
            Классический прямой крой, удобная посадка и плотный хлопок – идеальное основание для печати логотипов,
            принтов и рекламных надписей. Налицо популярные модели брендов Gildan, Roly, Malfini, JHK и других. Доступны
            в широкой цветовой палитре и размеров.
         </p>
      </div>

      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Женские футболки для брендирования">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/female-1.webp"
               alt="Женские футболки для брендирования и печати">
         </div>
         <h3 class="models__title" itemprop="name">Женские футболки</h3>
         <p class="models__desc" itemprop="description">
            Облегающий силуэт, мягкая эластичная ткань и женственный крой прекрасно подходят для брендирования одежды,
            акций, событий и дизайнерских заказов. Различные варианты: с коротким или длинным рукавом, V-образным
            вырезом и т.д.
         </p>
      </div>

      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Детские футболки для печати">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/childrens-1.webp"
               alt="Детские футболки с принтом">
         </div>
         <h3 class="models__title" itemprop="name">Детские футболки</h3>
         <p class="models__desc" itemprop="description">
            Безопасные материалы, яркие цвета и удобная посадка. Идеальны для школьных мероприятий, детских кружков,
            лагерей или семейных принтов. Подходят для всех методов печати, включая шелкопечать и DTF.
         </p>
      </div>
   </div>

   <a itemprop="url" class="models__btn" href="ru/print-t-shirts/catalog-t-shirts/" title="Выбрать футболку для печати">
      Выбрать футболку для печати
   </a>
</section>