<section class="models" data-fls-models_landing itemscope itemtype="https://schema.org/ItemList">
   <h2 class="title-visually-hidden" itemprop="name">Моделі футболок для друку</h2>
   <meta itemprop="category" content="Футболки для друку та брендування">

   <div class="models__wrapper">
      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Чоловічі (унісекс) футболки для друку логотипу">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/male-1.png"
               alt="Чоловічі унісекс футболки для друку логотипу">
         </div>
         <h3 class="models__title" itemprop="name">Чоловічі (унісекс) футболки</h3>
         <p class="models__desc" itemprop="description">
            Класичний прямий крій, зручна посадка та щільна бавовна — ідеальна основа для друку логотипів, принтів і
            рекламних написів. У наявності популярні моделі брендів Gildan, Roly, Malfini, JHK та інших. Доступні в
            широкій палітрі кольорів і розмірів.
         </p>
      </div>

      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Жіночі футболки для брендування">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/female-1.png"
               alt="Жіночі футболки для брендування та друку">
         </div>
         <h3 class="models__title" itemprop="name">Жіночі футболки</h3>
         <p class="models__desc" itemprop="description">
            Облягаючий силует, м’яка еластична тканина та жіночний крій — чудово підходять для брендування одягу, акцій,
            подій та дизайнерських замовлень. Різноманітні варіанти: з коротким або довгим рукавом, V-подібним вирізом
            тощо.
         </p>
      </div>

      <div class="models__block" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
         <meta itemprop="name" content="Дитячі футболки для друку">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore data-fls-image-ignore itemprop="image" class="models__img" src="@img/landing/childrens-1.png"
               alt="Дитячі футболки з принтом">
         </div>
         <h3 class="models__title" itemprop="name">Дитячі футболки</h3>
         <p class="models__desc" itemprop="description">
            Безпечні матеріали, яскраві кольори та комфортна посадка. Ідеальні для шкільних заходів, дитячих гуртків,
            таборів або сімейних принтів. Підходять для всіх методів друку, включно з шовкодруком та DTF.
         </p>
      </div>
   </div>

   <a itemprop="url" class="models__btn" href="/print-t-shirts/catalog-t-shirts/" title="Обрати футболку для друку">
      Обрати футболку для друку
   </a>
</section>