<section data-fls-technologies class="technologies" itemscope itemtype="https://schema.org/ItemList">
   <meta itemprop="name" content="Технологии печати на рекламно-сувенирной продукции">
   <H2 class="technologies__title">технологии печати на рекламно-сувенирной продукции</H2>

   <div class="technologies__bloc">

      <!-- 1 Silk-screen -->
      <a href="/ru/technologies/silk-screen/" class="technologies__btn" title="ШЕЛКОГРАФИЯ" id="silk-screen" itemscope
         itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="1">
         <meta itemprop="url" content="/technologies/silk-screen/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробнее</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-left.png"
               alt="Декоративный ролик слева" title="Декоративный ролик слева">
            <img data-fls-image-ignore class="technologies__function-img _bottom"
               src="@img/technologies/roller-left_bottom.png" alt="Роллер снизу слева"
               title="Роллер снизу слева">
         </div>
         <h3 class="technologies__name" itemprop="name">ШЕЛКОГРАФИЯ</h3>
         <p class="technologies__text" itemprop="description">
            Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных
            надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей
            универсальности и высокому качеству печати.
         </p>
         <div class="technologies__icon">
            <img data-fls-image-ignore src="@img/technologies/silk_screen_printing.png" alt="Иконка шелкографии"
               itemprop="image" title="Иконка шелкографии">
         </div>
      </a>

      <!-- 2 Stamping -->
      <a href="/ru/technologies/stamping/" class="technologies__btn" title="ТАМПОПЕЧАТЬ" id="stamping" itemscope
         itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="2">
         <meta itemprop="url" content="/technologies/stamping/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробнее</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-right.png"
               alt="Декоративный ролик справа" title="Декоративный ролик справа">
            <img data-fls-image-ignore class="technologies__function-img _bottom"
               src="@img/technologies/roller-right_bottom.png" alt="Декоративный ролик снизу справа"
               title="Декоративный ролик снизу справа">
         </div>
         <h3 class="technologies__name" itemprop="name">ТАМПОПЕЧАТЬ</h3>
         <p class="technologies__text" itemprop="description">
            Тампопечать — это технология нанесения изображения на изделия с помощью силиконового тампона, который переносит
            краску с клише (гравированной пластины) на поверхность предмета.
         </p>
         <img data-fls-image-ignore class="technologies__icon" src="@img/technologies/pad_printing.png"
            alt="Иконка тампопечати" itemprop="image" title="Иконка тампопечати">
      </a>

      <!-- 3 DTF-print -->
      <a href="/ru/technologies/dtf-print/" class="technologies__btn" title="DTF-ПЕЧАТЬ" id="dtf-print" itemscope
         itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="3">
         <meta itemprop="url" content="/technologies/dtf-print/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробнее</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-left.png"
               alt="Декоративный ролик слева" title="Декоративный ролик слева">
            <img data-fls-image-ignore class="technologies__function-img _bottom"
               src="@img/technologies/roller-left_bottom.png" alt="Роллер снизу слева"
               title="Роллер снизу слева">
         </div>
         <h3 class="technologies__name" itemprop="name">DTF-ПЕЧАТЬ</h3>
         <p class="technologies__text" itemprop="description">
            DTF-печать (Direct to Film) – это современная технология нанесения изображений на ткань, при которой рисунок
            печатается специальными пигментными красками на пленку, после чего сверху наносится порошковый клей. Затем
            пленку с рисунком термопрессом переносят на изделие (футболку, свитшот, сумку и т. д.).
         </p>
         <img data-fls-image-ignore class="technologies__icon" src="@img/technologies/DTF_printing.png"
            alt="Иконка DTF-печати" itemprop="image" title="Иконка DTF-печати">
      </a>

      <!-- 4 Sublimation -->
      <a href="/ru/technologies/sublimation/" class="technologies__btn" title="СУБЛИМАЦИОННАЯ ПЕЧАТЬ" id="sublimation"
         itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
         <meta itemprop="position" content="4">
         <meta itemprop="url" content="/technologies/sublimation/">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробнее</span>
            <img data-fls-image-ignore class="technologies__function-img _side" src="@img/technologies/roller-right.png"
               alt="Декоративный ролик справа" title="Декоративный ролик справа">
            <img data-fls-image-ignore class="technologies__function-img _bottom"
               src="@img/technologies/roller-right_bottom.png" alt="Декоративный ролик снизу справа"
               title="Декоративный ролик снизу справа">
         </div>

         <h3 class="technologies__name" itemprop="name">СУБЛИМАЦИОННАЯ ПЕЧАТЬ</h3>
         <p class="technologies__text" itemprop="description">
            Сублимационная печать – это метод нанесения изображений, при котором специальные сублимационные чернила под действием
            высокой температуры (около 180–200°C) переходят из твердого состояния в газообразное, минуя жидкую фазу, и
            проникают непосредственно в волокна материала. Благодаря этому краска становится частью структуры изделия, а не
            лежит на поверхности.
         </p>
         <img data-fls-image-ignore class="technologies__icon" src="@img/technologies/sublimation_printing.png"
            alt="Иконка сублимационной печати" itemprop="image" title="Иконка сублимационной печати">
      </a>

   </div>
   <!-- Переключатели, листающие карточки технологий -->
   <div class="technologies__items-nav">
      <a href="#silk-screen" title="ШЕЛКОГРАФИЯ"></a>
      <a href="#stamping" title="ТАМПОПЕЧАТЬ"></a>
      <a href="#dtf-print" title="DTF-ПЕЧАТЬ"></a>
      <a href="#sublimation" title="СУБЛИМАЦИОННАЯ ПЕЧАТЬ"></a>
   </div>
</section>