<header data-fls-header class="header">
   <!-- Логотип компанії -->
   <a class="header__logo" href="/" title="Рекламно-виробнича компанія Мега Компроміс">
      <img src="@img/global/logo.webp" alt="Лого компанії" width="100" height="50">
   </a>
   <!-- Панель пошуку -->
   <div class="search">
      <div class="search__panel" data-search-panel>
         <!-- <div class="search__elements"> -->
         <svg class="search__icon">
            <use xlink:href="__spritemap#sprite-search"></use>
         </svg>
         <form action="/">
            <input class="search__input" type="search" name="search" data-search-value="" placeholder="Пошук"
               autocomplete="off" size="1">
         </form>
         <div class="search__input-clean" data-name="search__input-clean"></div>
         <!-- </div> -->
      </div>
      <div class="search__modal" data-name="search-modal">
         <button class="search__modal-close" data-close-modal="search-modal" type="button"></button>
         <!-- Стартове повідомлення на екрані пошуку -->
         <div class="search__results" data-container="search-results">
            <a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a><a href="#">
               <div class="search__result-card search-card">
                  <img src="assets/img/goods/CLASSIC-HOODED-SWEAT_021.jpg" alt="">
                  <div class="search-card__content">
                     <h3 class="search-card__title">Заголовок знайденого</h3>
                     <p class="search-card__art"> Арт.: 097775</p>
                     <p class="search-card__description">Опис знайденого товару, можливо іще чогось.
                        Неважливо. Може бути навіть дуже довгий текст. Або дуже дуже довгий текст. йог треба
                        підрізати
                     </p>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
   <!-- Вибір мови сторінки -->
   <a class="header__language" href="/ru/" title="Перекласти сторінку">
      <p></p>
      <img src="@img/global/ork.webp" alt="Лого компанії" width="40">
   </a>
</header>