<header data-fls-header class="header">
   <!-- Логотип компанії -->
   <a class="header__logo" href="/" title="Рекламно-виробнича компанія Мега Компроміс">
      <img src="@img/global/logo.webp" alt="Лого компанії" width="100" height="50">
   </a>
   <!-- Панель пошуку -->
   <div class="search">
      <div class="search__panel" data-search-panel>
         <div class="search__elements">
            <svg class="search__icon">
               <use xlink:href="__spritemap#sprite-search"></use>
            </svg>
            <form action="/">
               <input class="search__input" type="search" name="search" data-search-value="" placeholder="Пошук"
                  autocomplete="off" size="1">
            </form>
            <div class="search__close"></div>
         </div>
      </div>
      <div class="search__results" data-container="search-results">
         <button class="search__results-close-btn" data-close-modal="search-results" type="button"></button>
         <!-- Стартове повідомлення на екрані пошуку -->
         <div class="wrapper">
            <p class="search__welcome-text">Для початку пошуку почніть вводити
               <br>назву або артикул товару
               <br>(мінімум три символи).
            </p>
         </div>
      </div>
   </div>
   <!-- Вибір мови сторінки -->
   <a class="header__language" href="/ru/" title="Перекласти сторінку">
      <p></p>
      <img src="@img/global/ork.webp" alt="Лого компанії" width="40">
   </a>
</header>