<header data-fls-header class="header">
   <!-- Логотип компанії -->
   <a class="header__logo" href="/" title="Рекламно-виробнича компанія Мега Компроміс">
      <svg>

         <!-- <use xlink:href="@assets/svgicons.svg#logo"></use> -->
         <use xlink:href="__spritemap#sprite-logo"></use>
      </svg>
   </a>
   <!-- Панель пошуку -->
   <div class="search">

      <div class="search__panel" data-fetch-html="search__result" data-container-name="search-results">
         <div class="search__elements">
            <svg class="search__icon">
               <use xlink:href="__spritemap#sprite-search"></use>

               <!-- <use xlink:href="@img/icons/icons.svg#search"></use> -->
            </svg>
            <form action="/">
               <input class="search__input" type="search" name="search" placeholder="Пошук" autocomplete="off" size="1">
            </form>
            <div class="search__close"></div>
         </div>
      </div>

      <div class="search__results" data-container="search-results">

      </div>

   </div>
   <!-- Вибір мови сторінки -->
   <a class="header__language" href="/ru/" title="Перекласти сторінку">
      <p></p>
      <svg>
         <use xlink:href="__spritemap#sprite-ork"></use>
      </svg>
   </a>
</header>