@import "../../sections/catalog/catalogColor";

// Основний блок сторінки
.article {
   position: relative;
   display: grid;
   // grid-template-columns: repeat(5, max-content);
   // grid-template-columns: repeat(5, fit-content);
   grid-template-columns: max-content min-content 1fr 1fr 1fr;
   grid-template-rows: repeat(5, max-content);

   min-height: 300px;
   max-width: 100%;

   padding: 0 12px 0 max(80px,5%);
   gap: 8px;

   font-family: 'Montserrat';
   font-style: normal;

   background: #ffffff;

   overflow: hidden;
 
   @media (max-width: 1100px) {
      // grid-template-columns: repeat(3, auto);
      grid-template-columns: max-content max-content 1fr;
      grid-template-rows: min-content min-content min-content 1fr min-content;
   }
   @media (max-width: 1023px) {
      padding: 0 12px 0 12px;
   }
   @media (max-width: 770px) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(7, min-content);

      width: max-content;

      margin: auto;
   }
   @media (max-width: 612px) {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(9, min-content);

      max-width: 100%;
   }
   @media (max-width: 490px) {
      padding: 0 8px 0 8px;

   }
   &__imgs {
      display: flex;
      flex-direction: row;
      justify-content: start;

      width: 100%;

      gap: 8px;
      grid-column: 1 / 2;
      grid-row: 1 / 6;

      height: auto;
      @media (max-width: 1100px) {
         grid-column: 1 / 2;
         grid-row: 1 / 5;

         justify-content: center;
      }
      @media (max-width: 880px) {
         flex-direction: column-reverse;
      }
      @media (max-width: 770px) {
         grid-column: 1 / 2;
         grid-row: 1 / 2;

         flex-direction: row;
         width: fit-content;

         justify-self: flex-end;
      }
      @media (max-width: 612px) {
         justify-self: center;
         justify-content: flex-start;
      }
      @media (max-width: 490px) {
         width: calc(100svw - 16px);
      }
   }
   &__mine-img-block {
      display: flex;

      justify-content: center;
      width: 100%;
      height: auto;

      overflow: hidden;
      @media (max-width: 880px) {
         width: 100%;
      }
      
      @media (max-width: 612px) {
         width: auto;

      }
      @media (max-width: 490px) {
         width: 100%;
      }
   }
   &__mine-img {
      width: 100%;
      max-width: 400px;
      max-height: 500px;
   }
   &__colors {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 6;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      gap: 8px;

      width: 88px;
      max-height: 500px;

      overflow-y: scroll;

      &::-webkit-scrollbar {
         width: 0;
       }

      @media (max-width: 1100px) {
         grid-column: 1 / 2;
         grid-row: 5 / 6;

         flex-direction: column;
         flex-wrap: wrap;

         width: 100%;
         max-height: 88px;

         &::-webkit-scrollbar {
            height: 0;
          }
      }
      @media (max-width: 770px) {
         grid-column: 2 / 3;
         grid-row: 1 / 2;

         flex-direction: row;
         flex-wrap: wrap;

         width: 88px;
         height: fit-content;
         max-height: 500px;

         justify-self: flex-start;
         align-self: flex-start;

         margin: 0;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 2 / 3;

         flex-direction: column;
         flex-wrap: wrap;

         width: 100%;
         max-height: 88px;

         &::-webkit-scrollbar {
            height: 0;
          }
      }
      @media (max-width: 490px) {
         width: calc(100svw - 16px);
      }
   }
   &__colors-item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      border-radius: 10px;
      // border: 1px solid #6F6F6F;

      cursor: pointer;
   }
   &__type-name {
      grid-column: 3 / 4;
      grid-row: 1 / 2;

      color: #4976B3;
      font-family: Montserrat;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: left;
      @media (max-width: 1100px) {
         grid-column: 2 / 3;
      }
      @media (max-width: 770px) {
         grid-column: 1 / 2;
         grid-row: 2 / 3;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 3 / 4;

         margin-top: 12px;
      }
   }
   &__title {
      grid-column: 3 / 4;
      grid-row: 2 / 3;

      color: #6F6F6F;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      @media (max-width: 1100px) {
         grid-column: 2 / 3;
      }
      @media (max-width: 770px) {
         grid-column: 1 / 2;
         grid-row: 3 / 3;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 4 / 5;
      }
   }
   &__id {
      grid-column: 3 / 4;
      grid-row: 3 / 4;

      color: #6F6F6F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      @media (max-width: 1100px) {
         grid-column: 2 / 3;
      }
      @media (max-width: 770px) {
         grid-column: 1 / 2;
         grid-row: 4 / 5;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 5 / 6;
      }
   }
   &__cost {
      grid-column: 4 / 5;
      grid-row: 1 / 2;

      text-align: right;
      @media (max-width: 1100px) {
         grid-column: 3 / 4;
      }
      @media (max-width: 770px) {
         grid-column: 2 / 3;
         grid-row: 2 / 3;

         padding-right: 0;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 6 / 7;

         margin-top: 12px;

         text-align: left;
      }
   }
   &__price {
      color: $colorOrange;
      font-family: Montserrat;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      text-align: right;
   }
   &__price-additional-elements {
      color: $colorOrange;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 14px;
      text-align: right;
      &._priceCurrency {
         padding-left: 8px;
      }
   }
   &__description {
      grid-column: 3 / 6;
      grid-row: 4 / 5;

      max-width: 100%;
      max-height: 394px;

      color: #6F6F6F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;

      overflow-y: auto;
      th,
      td {
         padding: .5em 1em;
         border-radius: 12px;

         text-align: center;
      }

      // margin-top: 16px;
      @media (max-width: 1100px) {
         grid-column: 2 / 4;
         grid-row: 4 / 5;
         // max-width: 44svw;
         max-height: 414px;
      }
      @media (max-width: 880px) {
         // max-width: 46svw;
         max-height: 400px;
      }
      @media (max-width: 770px) {
         grid-column: 1 / 3;
         grid-row: 6 / 8;

         // max-width: 516px;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 8 / 10;

         // max-width: 100%;
      }
      @media (max-width: 490px) {
         // width: calc(100svw - 16px);
      }  
   }


   &__order-block {
      display: flex;
      justify-content: center;

      grid-column: 5 / 6;
      grid-row: 1 / 2;

      gap: 16px;
      @media (max-width: 1100px) {
         grid-column: 2 / 4;
         grid-row: 5 / 6;

         width: 100%;

         align-items: flex-start;
      }
      @media (max-width: 770px) {
         grid-column: 1 / 3;
         grid-row: 5 / 6;

         align-items: center;
         margin-top: 16px;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 7 / 8;
      }
      @media (max-width: 490px) {
         align-items: flex-start;

         // height: 137px;
      }
   }
   &__size-chart {
      grid-column: 3 / 5;
      grid-row: 5 / 6;
      // @media (max-width: 1411px) {
      //    grid-column: 2 / 4;
      //    grid-row: 6 / 7;

      //    width: 100%;
      // }
      @media (max-width: 770px) {
         grid-column: 1 / 3;
         grid-row: 7 / 8;
         margin-top: 12px;
      }
      @media (max-width: 612px) {
         grid-column: 1 / 2;
         grid-row: 9 / 10;
      }
      @media (max-width: 490px) {
         width: calc(100svw - 16px);
         overflow-x: scroll;

         &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
      }
   }
}
.order-table {
   width: auto;
   @media (max-width: 490px) {
      width: calc(100svw - 16px);
      overflow: scroll;
      &::-webkit-scrollbar {
         width: 0;
         height: 0;
       }
   }  
}
.order {
   display: grid;
   grid-template: repeat(2, max-content)/repeat(2, 1fr);
   gap: 16px;

   width: 180px;
   height: fit-content;

   padding: 16px;
   justify-content: center;
   align-items: center;

   border-radius: 20px;
   border: 1px solid #6F6F6F;
   @media (max-width: 1411px) {
      padding: 12px;
      gap: 12px;

      width: min-content;

      border-radius: 16px;
   }

   @media (max-width: 1100px) {
      padding: 8px;
      gap: 8px;

      width: min-content;

      border-radius: 16px;
   }
   p {
      color: #6F6F6F;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      @media (max-width: 1023px) {
         text-align: left;
      }
   }
   &__size {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
   }
}

.quantity {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
   @media (max-width: 1023px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
   }
}

.size-names {  
   grid-column: 1 / 2;
   grid-row: 2 / 3;

   display: flex;
   flex-direction: column;

   align-items: center;
   gap: 16px;
   @media (max-width: 1411px) {
      gap: 12px;
   }
   @media (max-width: 1023px) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      flex-direction: row;
      justify-content: space-around;

      gap: 8px;
   }
   li {
      width: 68px;

      color: #6F6F6F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      @media (max-width: 1411px) {
         width: 52px;
      }
      @media (max-width: 1023px) {
         font-size: 12px;
         width: 48px;
      }
   }
}

// .quantity-inputs {
//    grid-column: 2 / 3;
//    grid-row: 2 / 3;

//    display: flex;
//    flex-direction: column;

//    align-items: center;

//    gap: 16px;
//    input::-webkit-outer-spin-button,
//    input::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//    margin: 0;
//    }

//    /* Firefox */
//    input[type=number] {
//    -moz-appearance: textfield;
//    }
//    @media (max-width: 1411px) {
//       gap: 12px;

//       width: min-content;

//       border-radius: 16px;
//    }
//    @media (max-width: 1023px) {
//       grid-column: 2 / 3;
//       grid-row: 2 / 3;

//       flex-direction: row;
//       justify-content: center;

//       gap: 8px;
//    }
// }

//.input {
//   height: 22px;
//   //width: 68px;

//   padding: 4px;

//   color: #6F6F6F;
//   font-family: Montserrat;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 14px; /* 100% */

//   text-align: center;

//   border-radius: 10px;
//   background: #F5F5F5;
//   @media (max-width: 1411px) {
//      width: 52px;
//   }
//   @media (max-width: 1138px) {
//      font-size: 12px;
//   }
//   @media (max-width: 1023px) {
//      width: 48px;
//   }
//}

.order-btn {   
   height: 44px;
   width: 140px;

   // justify-self: center;
   // margin: auto;

   border-radius: 16px;
   background: $colorOrange;

   color: #FFF;
   text-align: center;
   font-family: Montserrat;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
}

.size-chart {
   display: flex;
   flex-direction: column;
   gap: 4px;
   @media (max-width: 1138px) {
      // display: none;
   }
   &__title {
      color: #4170B5;
      text-align: left;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 12px; /* 100% */
   }
   &__items {
      display: grid;
      grid-template: repeat(3, max-content)/repeat(2, max-content);
      gap: 4px;
   }
}

.params-cells {
   display: flex;
   flex-direction: column;

   grid-column: 1 / 2;
   grid-row: 1 / 4;

   gap: 4px;
}
.size-cells {
   display: flex;

   grid-column: 2 / 3;
   grid-row: 1 / 2;
   gap: 4px;
}
.value-cells {
   display: grid;
   grid-template: repeat(2, 1fr)/repeat(7, 1fr);
   grid-column: 2 / 3;
   grid-row: 2 / 4;
   gap: 4px;
}

.cell {
   display: inline-flex;
   padding: 8px 4px;
   justify-content: center;
   align-items: center;

   min-width: 44px;

   border-radius: 10px;

   p {
      color: #6F6F6F;
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 100% */
   }
}
.param,
.size {
   border: 1px solid #6F6F6F;
}
.value {
   border-radius: 10px;
   border: 1px solid #E5E5E5;
}

// Css форми articleContentForm

