<section data-fls-printSize_T-shirts class="printSize" itemscope itemtype="https://schema.org/Product">
   <meta itemprop="name" content="Футболки з друком">
   <meta itemprop="category"
      content="Футболки з логотипом, брендовані футболки, корпоративні футболки, футболки з фото">

   <p class="printSize__description" itemprop="description">
      Ми виготовляємо брендовані худі, реглани та світшоти з логотипом вашої компанії. Такі вироби підходять для:
      орпоративного одягу, подарунків клієнтам та партнерам, івентів та промоакцій, продажу під власним брендом.
      У нас можна замовити як друк на толстовках від 10 шт., так і індивідуальне нанесення від 1 одиниці.
   </p>

   <h2 class="printSize__title">Замовити толстовку з принтом можна з нанесенням зображень кількох розмірів:</h2>
   <div class="printSize__size-wrapper">
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie_A6.webp"
               alt="Футболка з принтом формату A6" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A6</p>
         <p class="printSize__size"><span itemprop="description">105 х 149 мм</span></p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie_A5.webp"
               alt="Футболка з принтом формату A5" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A5</p>
         <p class="printSize__size"><span itemprop="description">149 х 210 мм</span></p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie_A4.webp"
               alt="Футболка з принтом формату A4" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A4</p>
         <p class="printSize__size"><span itemprop="description">210 х 297 мм</span></p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie_A3.webp"
               alt="Футболка з принтом формату A3" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A3</p>
         <p class="printSize__size"><span itemprop="description">297 х 420 мм</span></p>
      </div>
   </div>

   <h3 class="printSize__title">Існує декілька популярних варіантів друку на худі та регланах.</h3>
   <div class="printSize__place-wrapper">
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie-chest.webp"
               alt="Друк на футболці на грудях" itemprop="image">
         </div>
         <p class="printSize__print-location" itemprop="name">на грудях</p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie-sleeve.webp"
               alt="Друк на футболці на рукаві" itemprop="image">
         </div>
         <p class="printSize__print-location" itemprop="name">на рукавах</p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img data-fls-image-ignore class="printSize__img" src="@img/landing/hoodie-back.webp"
               alt="Друк на футболці на спині" itemprop="image">
         </div>
         <p class="printSize__print-location" itemprop="name">на спині</p>
      </div>
   </div>
</section>