<section data-fls-printSize_T-shirts class="printSize" itemscope itemtype="https://schema.org/Product">
   <meta itemprop="name" content="Футболки з друком">
   <meta itemprop="category" content="Футболки з логотипом, брендовані футболки, корпоративні футболки, футболки з фото">

   <p class="printSize__description" itemprop="description">
      "Мега Компроміс" пропонує друк на футболках будь-якої складності оптом та від 1
      шт. У нас ви можете замовити футболки з логотипом, брендовані, корпоративні футболки, футболки з фотографією з
      друком написів та інших зображень за демократичною ціною. Звʼяжіться з нами, і ми впевнені - ви отримаєте футболку
      своєї мрії.
   </p>

   <h2 class="printSize__title">Замовити футболку з принтом можна з нанесенням зображень таких розмірів:</h2>
   <div class="printSize__size-wrapper">
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/t-shirt_A6.png" alt="Футболка з принтом формату A6" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A6</p>
         <p class="printSize__size"><span itemprop="description">105 х 149 мм</span></p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/t-shirt_A5.png" alt="Футболка з принтом формату A5" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A5</p>
         <p class="printSize__size"><span itemprop="description">149 х 210 мм</span></p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/t-shirt_A4.png" alt="Футболка з принтом формату A4" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A4</p>
         <p class="printSize__size"><span itemprop="description">210 х 297 мм</span></p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/t-shirt_A3.png" alt="Футболка з принтом формату A3" itemprop="image">
         </div>
         <p class="printSize__format" itemprop="name">A3</p>
         <p class="printSize__size"><span itemprop="description">297 х 420 мм</span></p>
      </div>
   </div>

   <h3 class="printSize__title">Ми пропонуємо кілька варіантів друку на футболках. Перш за все це:</h3>
   <div class="printSize__place-wrapper">
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/chest.png" alt="Друк на футболці на грудях" itemprop="image">
         </div>
         <p class="printSize__print-location" itemprop="name">на грудях</p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/sleeve.png" alt="Друк на футболці на рукаві" itemprop="image">
         </div>
         <p class="printSize__print-location" itemprop="name">на рукавах</p>
      </div>
      <div class="printSize__card" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
         <div class="printSize__img-wrapper">
            <img class="printSize__img" src="@img/landing/back.png" alt="Друк на футболці на спині" itemprop="image">
         </div>
         <p class="printSize__print-location" itemprop="name">на спині</p>
      </div>
   </div>
</section>
