.printSize {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   gap: 40px;

   padding: 24px 12px 24px 72px;
   &__description {
      width: 100%;
      text-align: center;

      color: $colorDarkGray;

      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
   }
   &__title {
      width: 100%;

      font-size: 2em;
      line-height: 1em;
      letter-spacing: 0%;

      text-align: center;
      text-transform: uppercase;

      color: $colorBlue;

      background-color: white;
   }
   &__size-wrapper,
   &__place-wrapper {
      width: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 16px;
   }
   &__card {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: min-content;

      gap: 20px;
   }
   &__img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 284px;
      height: 318px;
   }
   &__img {
      width: min-content;
      // height: auto;
      max-height: auto;

   }
   &__format {
      // text-align: center;
      font-family: Montserrat;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      text-transform: uppercase;

      color: $colorBlue;
   }
   &__size {
      color: $colorDarkGray;

      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
   }
   &__print-location {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;

      color: $colorDarkGray;
   }
   @media (max-width: 1268px) {
      &__size-wrapper {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   @media (max-width: 1023px) {
      padding: 12px;
      &__size-wrapper,
      &__place-wrapper {
         flex-direction: row;
         justify-content: center;

         gap: 4px;

         padding: 12px;
         overflow-y: auto;
         scrollbar-width: none;
         &::-webkit-scrollbar {
            display: none;
         }
      }
      &__size-wrapper {
         justify-content: center;
         flex-wrap: wrap;
         gap: 14px;
      }
   }
   @media (max-width: 868px) {
      &__place-wrapper {
         justify-content: flex-start;
      }
   }
   @media (max-width: 560px) {
      &__img-wrapper {
         width: calc(284px * 0.6);
         height: calc(318px * 0.6);
      }
      &__img {
         max-height: 218px;
      }
      &__print-location {
         font-size: 1rem;
      }
   }
   @media (max-width: 398px) {
      padding: 12px 8px;
      gap: 16px;
      &__img-wrapper {
         width: calc(254px * 0.6);
         height: calc(268px * 0.6);
      }
   }
   @media (max-width: 375px) {
      padding: 12px 8px;
   }
}
