<div data-fls-articleOrderForm class="article-order-form" data-name="article-order-form">
    <div class="article-order-form__close" data-name="close-article-order-form"></div>
    <div class="article-order-form__info info">
        <h2 class="info__title">Футболка унісекс</h2>
        <h3 class="info__subtitle">Gildan SoftStyle 153</h3>
        <p class="info__article-id">арт.: 7019008</p>
        <div class="info__color col016">016</div>
    </div>
    
    <div class="article-order-form__cost">
        <p>Вартість замовлення:</p>
        <p>000000.00</p>
    </div>
    <form class="article-order-form__form" action="/" name="article-order">
        <p class="article-order-form__form-txt">Вкажіть кількість<i>*</i></p>
        <input class="article-order-form__form-input" type="text" name="quantity" required>
        <div class="article-order-form__quantity-of-sizes-block">
            <button data-fls-button type="button" class="article-order-form__quantity-of-sizes-btn">Обрати розміри<span></span></button>
            <div class="article-order-form__quantity-of-sizes _open">
                <p class="size-name">XS</p>
                <p class="size-name">S</p>
                <p class="size-name">M</p>
                <p class="size-name">L</p>
                <p class="size-name">XL</p>
                <p class="size-name">2XL</p>
                <p class="size-name">3XL</p>
                <p class="size-name">4XL</p>
                <input class="quantity-input" type="number" name="XS" value="0">
                <input class="quantity-input" type="number" name="S" value="0">
                <input class="quantity-input" type="number" name="M" value="0">
                <input class="quantity-input" type="number" name="L" value="0">
                <input class="quantity-input" type="number" name="XL" value="0">
                <input class="quantity-input" type="number" name="2XL" value="0">
                <input class="quantity-input" type="number" name="3XL" value="0">
                <input class="quantity-input" type="number" name="4XL" value="0">
            </div>
        </div>
        <p class="article-order-form__form-txt">Ім'я:<i>*</i></p>
        <input class="article-order-form__form-input" type="text" name="name" required>
        <p class="article-order-form__form-txt">Телефон:<i>*</i></p>
        <input class="article-order-form__form-input" type="tel" name="phone" required>
        <p class="article-order-form__form-txt">E-mail:<i>*</i></p>
        <input class="article-order-form__form-input" type="email" name="email" required>
        <p class="article-order-form__form-txt">Додати макет</p>
        <input class="custom-file-input" type="file" name="upload">
        <input type="submit" value="Надіслати" name="articleOrderBtn" title="Надіслати заявку">
    </form>
</div>