<!-- Основний блок сторінки -->
<section data-fls-articleContent class="article" itemscope itemtype="https://schema.org/Product">
    <div class="article__imgs">
        <div class="article__mine-img-block" data-name="mine-img">
            <img class="article__mine-img" src="@img/articleContent/article_mine.jpg" alt="Футболка Gildan SoftStyle 153 жовта" itemprop="image">
        </div>
    </div>
    <ul class="article__colors">
        <li class="article__colors-item col016" data-name="colors-item" title="Жовтий">016</li>
        <li class="article__colors-item col027" data-name="colors-item" title="Блакитний">027</li>
        <li class="article__colors-item col011" data-name="colors-item" title="Помаранчевий">011</li>
        <li class="article__colors-item col029" data-name="colors-item" title="Синій">029</li>
        <li class="article__colors-item col001" data-name="colors-item" title="Білий">001</li>
        <li class="article__colors-item col006" data-name="colors-item" title="Червоний">006</li>
        <li class="article__colors-item col022" data-name="colors-item" title="Зелений">022</li>
        <li class="article__colors-item col002" data-name="colors-item" title="Чорний">002</li>
        <li class="article__colors-item col003" data-name="colors-item" title="Сірий">003</li>
        <li class="article__colors-item col016" data-name="colors-item" title="Жовтий">016</li>
        <li class="article__colors-item col027" data-name="colors-item" title="Блакитний">027</li>
        <li class="article__colors-item col011" data-name="colors-item" title="Помаранчевий">011</li>
        <li class="article__colors-item col029" data-name="colors-item" title="Синій">029</li>
        <li class="article__colors-item col001" data-name="colors-item" title="Білий">001</li>
        <li class="article__colors-item col006" data-name="colors-item" title="Червоний">006</li>
        <li class="article__colors-item col022" data-name="colors-item" title="Зелений">022</li>
        <li class="article__colors-item col002" data-name="colors-item" title="Чорний">002</li>
        <li class="article__colors-item col003" data-name="colors-item" title="Сірий">003</li><li class="article__colors-item col016" data-name="colors-item" title="Жовтий">016</li>
        <li class="article__colors-item col027" data-name="colors-item" title="Блакитний">027</li>
        <li class="article__colors-item col011" data-name="colors-item" title="Помаранчевий">011</li>
        <li class="article__colors-item col029" data-name="colors-item" title="Синій">029</li>
        <li class="article__colors-item col001" data-name="colors-item" title="Білий">001</li>
        <li class="article__colors-item col006" data-name="colors-item" title="Червоний">006</li>
        <li class="article__colors-item col022" data-name="colors-item" title="Зелений">022</li>
        <li class="article__colors-item col002" data-name="colors-item" title="Чорний">002</li>
        <li class="article__colors-item col003" data-name="colors-item" title="Сірий">003</li>
        
    </ul>
    <p class="article__type-name" itemprop="description">Футболка унісекс</p>
    <h1 class="article__title" itemprop="name">Gildan SoftStyle 153</h1>
    <p class="article__id" itemprop="sku">арт.: 7019008</p>
    <p class="article__cost" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="article__price" itemprop="price"  data-name="product-price">2170</span><span class="article__price-additional-elements">.00</span><span class="article__price-additional-elements _priceCurrency" itemprop="priceCurrency" content="UAH">грн.</span>
        <link itemprop="availability" href="https://schema.org/InStock">
    </p>
    <div class="article__description" itemprop="description">
        <p>
            <br>
            <br>
            <b>Детальний опис:</b><br>
        </p>
        <p>
            Наша компанія пропонує <a href="/print-t-shirts/" title="друк на футболках">друк на футболках</a> <strong>Fruit of the Loom Original T</strong>.
            Футболки <strong>Fruit of the Loom Original T</strong> — це
            поєднання класичного дизайну та високої якості. Виготовлені з 100% бавовни, вони забезпечать комфорт і довговічність
            у носінні. Ідеально підходять для нанесення логотипів, написів чи принтів, що робить їх чудовим вибором для
            промо-акцій, корпоративного одягу чи повсякденного використання.
        </p>
        <br>
        <p>
            На нашому підприємстві ми використовуємо різноманітні методи друку:
        </p>
        <ul>
        <li><a href="/technologies/silk-screen/" title="Шовкотрафаретний друк">Шовкотрафаретний
                друк</a></li>
        <li>Термотрансферний друк</li>
        <li><a href="/technologies/sublimation/" title="Сублімаційний друк">Сублімаційний
                друк</a></li>
        <li><a href="/technologies/dtf-print/" title="ДТФ-друк">ДТФ-друк</a></li>
        <li>Вишивка та інші.</li>
        <li><a href="/print-t-shirts/" title="Детальніше про друк на футболках">Детальніше про друк на футболках
            </a></li>
        </ul>
        <br>
        <p><strong>Характеристики товару:</strong></p>
        <ul>
        <li>Бренд - Fruit of the loomFruit of the loom</li>
        <li>Склад - 100% Бавовна</li>
        <li>Країна походження - Марокко</li>
        <li>Призначення - Повсякденне носіння</li>
        <li>Сезон - Літо</li>
        <li>Тип - Футболка</li>
        <li>Стать - Чоловіча</li>
        <li>Щільність м² - 145г</li>
        </ul>
        <br><em><b>Ціни вказані без урахування ПДВ.</b></em><br><br>
        <b><font color="red">Наявність і ціни уточнюйте у наших менеджерів по тел .: +38 095 931 76 31</font></b><br><br>
        <br>
        <table>
            <colgroup>
                <col style="background-color: #F0EFEF">
                <col style="background-color: #e3e2e2">
                <col style="background-color: #F0EFEF">
                <col style="background-color: #e3e2e2">
                <col style="background-color: #F0EFEF">
                <col style="background-color: #e3e2e2">
                <col style="background-color: #F0EFEF">
            </colgroup>
            <tbody>
                <tr>
                    <th>Розмір</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>2XL</th>
                    <th>3XL</th>
                </tr>
                <tr>
                    <th>Ширина</th>
                    <td>46</td>
                    <td>51</td>
                    <td>56</td>
                    <td>61</td>
                    <td>66</td>
                    <td>73</td>
                </tr>
                <tr>
                    <th>Довжина</th>
                    <td>66,5</td>
                    <td>69</td>
                    <td>71,5</td>
                    <td>74</td>
                    <td>76,5</td>
                    <td>79</td>
                </tr>
            </tbody>
        </table>
        
            
        
        <!-- <p class="article__description-txt">
            Футболка унісекс з круглою горловиною.<br>
            Щільність: 153 г / м2<br>
            Матеріал: джерсі, однотонні 100% котон, меланж з темною ниткою: 90 котон / 10 поліестер, меланж зі світлою ниткою: 35 котон / 65 поліестер.<br>
            Футболки без бічних швів, фасон прямий європейський стиль, що зміцнює тасьма від плеча до плеча, подвійний плечовий шов, подвійна строчка на горловині.<br>
            Горловина: гумка 1,9 см. Чи не сідає і не змінює колір в процесі прання. Бирка з перфорацією, при бажанні можна відірвати.
        </p> -->
    </div>
    <div class="article__order-block">
        <button class="order-btn" data-btn="view-order-btn" type="button">Замовити</button>
    </div>
</section>


<section class="shape">
    <div class="shape__content">
        <div class="shape__content-txt-block">
            <h2 class="shape__content-txt-block-title">Текстиль</h2>
            <p class="shape__content-txt-block-txt">Не можна забувати про такі, здавалося б, дрібниці як брелоки , запальнички , візитки тощо.</p>
        </div>
        <img class="shape__content-img" src="@img/cover/coverMine.png" alt="Image">
    </div>
    <div class="shape__element" style="--bgGradient: linear-gradient(35deg, #ffd200, #f7971e, #ff8126, #ea4444);">
        <h3 class="shape__element-title">Футболки</h3>
        <p class="shape__element-txt">Шукаєте спосіб яскраво та незвичайно представити свій бізнес, або вам потрібні сувеніри чи подарунки до якоїсь події? Тоді ми маємо що вам запропонувати - великий вибір рекламно-сувенірної продукції , а також усі сучасні технології по її брендуванню. Ми готові виготовити для вас промо одяг, бізнес сувеніри на замовлення з урахуванням всіх ваших потреб. Наші спеціалісти докладають всіх зусиль, щоб наші клієнти отримали найкращу брендовану рекламно-сувенірну продукцію , яка буде не тільки буде використовуватись за своїм прямим призначенням, але й стане унікальним рекламним носієм.</p>
    </div>
</section>
