<!-- Основний блк сторінки -->
<section data-fls-articleContent class="article">
   <div class="article__imgs">
      <div class="article__img-preview">
         <img src="@img/articleContent/article_preview1.jpg" alt="Футболка Gildan SoftStyle 153 - вигляд спереду">
         <img src="@img/articleContent/article_preview2.jpg" alt="Футболка Gildan SoftStyle 153 - чорна">
      </div>
      <div class="article__mine-img">
         <img src="@img/articleContent/article_mine.jpg" alt="Футболка Gildan SoftStyle 153 жовта">
      </div>

   </div>
   <ul class="article__colors">
      <li class="article__colors-item col016">016</li>
      <li class="article__colors-item col027">027</li>
      <li class="article__colors-item col011">011</li>
      <li class="article__colors-item col029">029</li>
      <li class="article__colors-item col001">001</li>
      <li class="article__colors-item col006">006</li>
      <li class="article__colors-item col022">022</li>
      <li class="article__colors-item col002">002</li>
      <li class="article__colors-item col003">003</li>
      <li class="article__colors-item col016">016</li>
      <li class="article__colors-item col027">027</li>
      <li class="article__colors-item col011">011</li>
      <li class="article__colors-item col029">029</li>
      <li class="article__colors-item col001">001</li>
      <li class="article__colors-item col006">006</li>
      <li class="article__colors-item col011">011</li>
      <li class="article__colors-item col029">029</li>
      <li class="article__colors-item col001">001</li>
      <li class="article__colors-item col006">006</li>
      <li class="article__colors-item col022">022</li>
      <li class="article__colors-item col002">002</li>
      <li class="article__colors-item col003">003</li>
      <li class="article__colors-item col006">006</li>
      <li class="article__colors-item col011">011</li>
      <li class="article__colors-item col029">029</li>
      <li class="article__colors-item col001">001</li>
      <li class="article__colors-item col006">006</li>
      <li class="article__colors-item col022">022</li>
      <li class="article__colors-item col002">002</li>
      <li class="article__colors-item col003">003</li>
   </ul>
   <h2>Футболка унісекс</h2>
   <h1>Gildan SoftStyle 153</h1>
   <p class="article__id">арт.: 7019008</p>
   <p class="article__cost">170<span>.00 грн.</span></p>
   <p class="article__description">
      <br>
      <br>
      Ручка кулькова, пластикова, матова . Стержень з синім чорнилом.<br>
      <br>
      <b>Характеристики товару</b><br>
      <br>
      Група нанесення - Тамподрук, гравіювання<br>
      Матеріал - пластик/метал<br>
      Розмір - довжина 13,1 см<br>
      Розмір ящика - 38 х 32 х 15 см<br>
      <br><em><b>Ціни вказані без урахування ПДВ.</b></em><br>
      <br><b>
         <font color="red"> Наявність і ціни уточнюйте у наших менеджерів по тел .: +38 095 931 76 31</font>
      </b><br><br>
   </p>
   <div class="article__order-block">
      <!-- <div class="order-table">
            <div class="order">
                <p class="order__size">Розмір</p>
                <p class="quantity">Оберіть кількість</p>
                <ul class="size-names">
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                    <li>2XL</li>
                    <li>3XL</li>
                    <li>4XL</li>
                </ul>
                <form class="quantity-inputs">
                    <input class="input" type="number" name="S" value="0">
                    <input class="input" type="number" name="M" value="0">
                    <input class="input" type="number" name="L" value="0">
                    <input class="input" type="number" name="XL" value="0">
                    <input class="input" type="number" name="2XL" value="0">
                    <input class="input" type="number" name="3XL" value="0">
                    <input class="input" type="number" name="4XL" value="0">
                </form>
            </div>
        </div> -->
      <button class="order-btn" data-name="view-order-btn" type="button"
         data-fetch-html="articleOrderForm">Замовити</button>
   </div>
   <!-- <div class="article__size-chart size-chart">
        <h3 class="size-chart__title">Розмірна таблиця</h3>
        <div class="size-chart__items">
            <div class="params-cells">
                <div class="cell param">
                    <p>Розмір</p>
                </div>
                <div class="cell param">
                    <p>Довжина</p>
                </div>
                <div class="cell param">
                    <p>Ширина</p>
                </div>
            </div>
            <div class="size-cells">
                <div class="cell size">
                    <p>S</p>
                </div>
                <div class="cell size">
                    <p>M</p>
                </div>
                <div class="cell size">
                    <p>L</p>
                </div>
                <div class="cell size">
                    <p>XL</p>
                </div>
                <div class="cell size">
                    <p>2XL</p>
                </div>
                <div class="cell size">
                    <p>3XL</p>
                </div>
                <div class="cell size">
                    <p>4XL</p>
                </div>
            </div>
            <div class="value-cells">
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                
            </div>
        </div>

    </div> -->

</section>

<!-- Основний блок сторінки -->
<section data-fls-articleContent class="article" itemscope itemtype="https://schema.org/Product">
   <div class="article__imgs">
      <div class="article__img-preview">
         <img src="@img/articleContent/article_preview1.jpg" alt="Футболка Gildan SoftStyle 153 - вигляд спереду"
            itemprop="image">
         <img src="@img/articleContent/article_preview2.jpg" alt="Футболка Gildan SoftStyle 153 - чорна"
            itemprop="image">
      </div>
      <div class="article__mine-img" data-name="mine-img">
         <img src="@img/articleContent/article_mine.jpg" alt="Футболка Gildan SoftStyle 153 жовта" itemprop="image">
      </div>
   </div>
   <ul class="article__colors">
      <li class="article__colors-item col016" data-name="colors-item">016</li>
      <li class="article__colors-item col027" data-name="colors-item">027</li>
      <li class="article__colors-item col011" data-name="colors-item">011</li>
      <li class="article__colors-item col029" data-name="colors-item">029</li>
      <li class="article__colors-item col001" data-name="colors-item">001</li>
      <li class="article__colors-item col006" data-name="colors-item">006</li>
      <li class="article__colors-item col022" data-name="colors-item">022</li>
      <li class="article__colors-item col002" data-name="colors-item">002</li>
      <li class="article__colors-item col003" data-name="colors-item">003</li>
      <li class="article__colors-item col016" data-name="colors-item">016</li>
      <li class="article__colors-item col027" data-name="colors-item">027</li>
      <li class="article__colors-item col011" data-name="colors-item">011</li>
      <li class="article__colors-item col029" data-name="colors-item">029</li>
      <li class="article__colors-item col001" data-name="colors-item">001</li>
      <li class="article__colors-item col006" data-name="colors-item">006</li>
      <li class="article__colors-item col011" data-name="colors-item">011</li>
      <li class="article__colors-item col029" data-name="colors-item">029</li>
      <li class="article__colors-item col001" data-name="colors-item">001</li>
      <li class="article__colors-item col006" data-name="colors-item">006</li>
      <li class="article__colors-item col022" data-name="colors-item">022</li>
      <li class="article__colors-item col002" data-name="colors-item">002</li>
      <li class="article__colors-item col003" data-name="colors-item">003</li>
      <li class="article__colors-item col006" data-name="colors-item">006</li>
      <li class="article__colors-item col011" data-name="colors-item">011</li>
      <li class="article__colors-item col029" data-name="colors-item">029</li>
      <li class="article__colors-item col001" data-name="colors-item">001</li>
      <li class="article__colors-item col006" data-name="colors-item">006</li>
      <li class="article__colors-item col022" data-name="colors-item">022</li>
      <li class="article__colors-item col002" data-name="colors-item">002</li>
      <li class="article__colors-item col003" data-name="colors-item">003</li>
   </ul>
   <p itemprop="description">Футболка унісекс</p>
   <h1 itemprop="name">Gildan SoftStyle 153</h1>
   <p class="article__id" itemprop="sku">арт.: 7019008</p>
   <p class="article__cost" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <span itemprop="priceCurrency" content="UAH"></span>
      <span itemprop="price" data-name="product-price">170</span><span>.00 грн.</span>
      <link itemprop="availability" href="https://schema.org/InStock">
   </p>
   <p class="article__description" itemprop="description">
      <br>
      <br>
      <b>Детальний опис:</b><br>
   <p>Наша компанія пропонує <a href="/print-t-shirts/" title="друк на футболках">друк на футболках</a> <strong>Gildan
         SoftStyle
         153</strong>. Футболки унісекс <strong>Gildan SoftStyle 153</strong> – це стиль і
      комфорт в одному. Виготовлені з м'яких та приємних на дотик матеріалів, вони ідеально підходять для нанесення
      друку
      чи
      вишивки. Завдяки легкому матеріалу та крою, ці футболки забезпечують комфорт навіть у спекотні дні. Ідеальний
      вибір
      для брендування, промоакцій або повсякденного носіння.</p>
   <br>
   <p><strong>Інші фасони цієї моделі:</strong></p>
   <ul>
      <li><a href="/t-shirts-gildan-softstyle-lady-153/7019009/" title="Жіноча модель Gildan SoftStyle lady 153">Жіноча
            модель Gildan SoftStyle lady 153</a>
      </li>
   </ul>
   <br>
   <p>На нашому підприємстві ми використовуємо різноманітні методи друку:</p>
   <ul>
      <li><a href="/technologies/silk-screen/" title="Шовкотрафаретний друк">Шовкотрафаретний
            друк</a></li>
      <li>Термотрансферний друк</li>
      <li><a href="/technologies/sublimation/" title="Сублімаційний друк">Сублімаційний
            друк</a></li>
      <li><a href="/technologies/dtf-print/" title="ДТФ-друк">ДТФ-друк</a></li>
      <li>Вишивка та інші.</li>
      <li><a href="/print-t-shirts/" title="Детальніше про друк на футболках">Детальніше про друк на футболках</a></li>
   </ul>
   <br>
   <p><strong>Характеристики товару:</strong></p>
   <ul>
      <li>Футболка унісекс з круглою горловиною.</li>
      <li>Щільність: 153 г/м2</li>
      <li>Матеріал: джерсі, однотонні 100% котон, меланж з темною ниткою: 90 котон/10 поліестер, меланж зі світлою
         ниткою:
         35 котон/65 поліестер.</li>
      <li>Футболки без бічних швів, фасон прямий європейський стиль, що зміцнює тасьма від плеча до плеча, подвійний
         плечовий шов, подвійна строчка на горловині.</li>
      <li>Горловина: гумка 1,9 см. Чи не сідає і не змінює колір в процесі прання.</li>
      <li>Бирка з перфорацією, при бажанні можна відірвати.</li>
   </ul>
   <br><em><b>Ціни вказані без урахування ПДВ.</b></em><br>
   <br><b>
      <font color="red">Наявність і ціни уточнюйте у наших менеджерів по тел .: +38 095 931 76 31</font>
   </b><br><br>
   <table>
      <colgroup>
         <col style="background-color: #F0EFEF">
         <col style="background-color: #e3e2e2">
         <col style="background-color: #F0EFEF">
         <col style="background-color: #e3e2e2">
         <col style="background-color: #F0EFEF">
         <col style="background-color: #e3e2e2">
         <col style="background-color: #F0EFEF">
      </colgroup>
      <tr>
         <th>Розмір</th>
         <th>S</th>
         <th>M</th>
         <th>L</th>
         <th>XL</th>
         <th>2XL</th>
         <th>3XL</th>
      </tr>
      <tr>
         <th>Ширина</th>
         <td>46</td>
         <td>51</td>
         <td>56</td>
         <td>61</td>
         <td>66</td>
         <td>71</td>
      </tr>
      <tr>
         <th>Довжина</th>
         <td>70,5</td>
         <td>73</td>
         <td>76,5</td>
         <td>78</td>
         <td>81,5</td>
         <td>84</td>
      </tr>
   </table>
   </p>
   <div class="article__order-block">
      <button class="order-btn" data-btn="view-order-btn" type="button">Замовити</button>
   </div>
</section>