

<!-- Основний блк сторінки -->
<section data-fls-articleContent class="article">
    <div class="article__imgs">
        <div class="article__img-preview">
            <img src="@img/articleContent/article_preview1.jpg" alt="">
            <img src="@img/articleContent/article_preview2.jpg" alt="">
        </div>
        <div class="article__mine-img">
            <img src="@img/articleContent/article_mine.jpg" alt="">
        </div>
        
    </div>
    <div class="article__colors">
        <div class="article__colors-item col016">016</div>
        <div class="article__colors-item col027">027</div>
        <div class="article__colors-item col011">011</div>
        <div class="article__colors-item col029">029</div>
        <div class="article__colors-item col001">001</div>
        <div class="article__colors-item col006">006</div>
        <div class="article__colors-item col022">022</div>
        <div class="article__colors-item col002">002</div>
        <div class="article__colors-item col003">003</div>
        <div class="article__colors-item col016">016</div>
        <div class="article__colors-item col027">027</div>
        <div class="article__colors-item col011">011</div>
        <div class="article__colors-item col029">029</div>
        <div class="article__colors-item col001">001</div>
        <div class="article__colors-item col006">006</div>
        <div class="article__colors-item col011">011</div>
        <div class="article__colors-item col029">029</div>
        <div class="article__colors-item col001">001</div>
        <div class="article__colors-item col006">006</div>
        <div class="article__colors-item col022">022</div>
        <div class="article__colors-item col002">002</div>
        <div class="article__colors-item col003">003</div>
        <div class="article__colors-item col006">006</div>
        <div class="article__colors-item col011">011</div>
        <div class="article__colors-item col029">029</div>
        <div class="article__colors-item col001">001</div>
        <div class="article__colors-item col006">006</div>
        <div class="article__colors-item col022">022</div>
        <div class="article__colors-item col002">002</div>
        <div class="article__colors-item col003">003</div>
    </div>
    <h2>Футболка унісекс</h2>
    <h1>Gildan SoftStyle 153</h1>
    <p class="article__id">арт.: 7019008</p>
    <p class="article__cost">170<span>.00 грн.</span></p>
    <p class="article__description">
        Футболка унісекс з круглою горловиною.<br>
        Щільність: 153 г / м2<br>
        Матеріал: джерсі, однотонні 100% котон, меланж з темною ниткою: 90 котон / 10 поліестер, меланж зі світлою ниткою: 35 котон / 65 поліестер.<br>
        Футболки без бічних швів, фасон прямий європейський стиль, що зміцнює тасьма від плеча до плеча, подвійний плечовий шов, подвійна строчка на горловині.<br>
        Горловина: гумка 1,9 см. Чи не сідає і не змінює колір в процесі прання. Бирка з перфорацією, при бажанні можна відірвати.
    </p>
    <div class="article__order-block">
        <div class="order-table">
            <div class="order">
                <p class="order__size">Розмір</p>
                <p class="quantity">Оберіть кількість</p>
                <ul class="size-names">
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                    <li>2XL</li>
                    <li>3XL</li>
                    <li>4XL</li>
                </ul>
                <form class="quantity-inputs">
                    <input class="input" type="number" name="S" value="0">
                    <input class="input" type="number" name="M" value="0">
                    <input class="input" type="number" name="L" value="0">
                    <input class="input" type="number" name="XL" value="0">
                    <input class="input" type="number" name="2XL" value="0">
                    <input class="input" type="number" name="3XL" value="0">
                    <input class="input" type="number" name="4XL" value="0">
                </form>
            </div>
        </div>
        <button class="order-btn" data-name="view-order-btn" type="button" data-fetch-html="articleOrderForm">Замовиити</button>
    </div>
    <div class="article__size-chart size-chart">
        <h3 class="size-chart__title">Розмірна таблиця</h3>
        <div class="size-chart__items">
            <div class="params-cells">
                <div class="cell param">
                    <p>Розмір</p>
                </div>
                <div class="cell param">
                    <p>Довжина</p>
                </div>
                <div class="cell param">
                    <p>Ширина</p>
                </div>
            </div>
            <div class="size-cells">
                <div class="cell size">
                    <p>S</p>
                </div>
                <div class="cell size">
                    <p>M</p>
                </div>
                <div class="cell size">
                    <p>L</p>
                </div>
                <div class="cell size">
                    <p>XL</p>
                </div>
                <div class="cell size">
                    <p>2XL</p>
                </div>
                <div class="cell size">
                    <p>3XL</p>
                </div>
                <div class="cell size">
                    <p>4XL</p>
                </div>
            </div>
            <div class="value-cells">
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                <div class="cell value">
                    <p>00</p>
                </div>
                
            </div>
        </div>

    </div>

</section>