<section data-fls-componentEditButtons class="component-edit-buttons" data-component="componentEditButtons"
   data-part="root" data-component-id="12">
   <div class="component-edit-buttons__wrapper">
      <div class="component-edit-buttons__btns-wrapper">
         <button class="component-edit-buttons__btn" title="Налаштування секції">
            <div class="component-edit-buttons__items items">
               <span class="items__number" data-number="12">12</span>
               <svg class="items__svg">
                  <use xlink:href="__spritemap#sprite-GearNew"></use>
               </svg>
            </div>
            <p class="component-edit-buttons__name">cover</p>
         </button>
         <div class="component-edit-buttons__management-block management-block">
            <div class="component-edit-buttons__management management">
               <form class="management__form" action="/admin/setup/component-up/" title="up component" method="post"
                  enctype="multipart/form-data">
                  <input type="hidden" name="page_id" value="php">
                  <input type="hidden" name="component_id" value="php">
                  <input type="hidden" name="s_o_id" value="php">
                  <input type="hidden" name="number" value="php">
                  <button class="management__button" type="submit" title="Перемістити секцію вгору">
                     <svg class="management__svg">
                        <use xlink:href="__spritemap#sprite-up-btn"></use>
                     </svg>
                  </button>
               </form>
               <form class="management__form" action="/admin/setup/component-down/">
                  <button class="management__button" type="submit" title="Перемістити секцію вниз">
                     <svg class="management__svg">
                        <use xlink:href="__spritemap#sprite-down-btn"></use>
                     </svg>
                  </button>
               </form>
            </div>
            <div class="component-edit-buttons__management">
               <button class="management__button" type="button" title="Редагування контенту секції"
                  data-action="open-admin-menu" data-target="/admin/html/component-edit-menu/" data-instance-id="php"
                  data-page-id="php" data-component-id="php">
                  <svg class="management__svg">
                     <use xlink:href="__spritemap#sprite-editing-btn"></use>
                  </svg>
               </button>
               <form class="management__form" action="/admin/setup/component-remove/">
                  <button class="management__button" type="submit" title="Видалити секцію">
                     <svg class="management__svg">
                        <use xlink:href="__spritemap#sprite-del-btn"></use>
                     </svg>
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>