<section data-fls-componentEditButtons class="component-edit-buttons" data-name="component-edit-buttons"
   data-section-id="@@number">
   <div class="component-edit-buttons__wrapper">
      <div class="component-edit-buttons__btns-wrapper">
         <button class="component-edit-buttons__btn" title="Налаштування секції">
            <div class="component-edit-buttons__items items">
               <span class="items__number" data-number="@@number">00</span>
               <svg class="items__svg">
                  <use xlink:href="__spritemap#sprite-GearNew"></use>
               </svg>
            </div>
            <p class="component-edit-buttons__name">Name</p>
         </button>
         <div class="component-edit-buttons__management-block management-block">
            <div class="component-edit-buttons__management management">
               <form class="management__form" action="/setup/section/up/" title="up section" method="post"
                  enctype="multipart/form-data">
                  <input type="hidden" name="page_id" value="php">
                  <input type="hidden" name="section_id" value="php">
                  <input type="hidden" name="s_o_id" value="php">
                  <input type="hidden" name="number" value="php">
                  <button class="management__button" type="submit" title="Перемістити секцію вгору">
                     <svg class="management__svg">
                        <use xlink:href="__spritemap#sprite-up-btn"></use>
                     </svg>
                  </button>
               </form>
               <form class="management__form" action="">
                  <button class="management__button" type="submit" title="Перемістити секцію вниз">
                     <svg class="management__svg">
                        <use xlink:href="__spritemap#sprite-down-btn"></use>
                     </svg>
                  </button>
               </form>
            </div>
            <div class="component-edit-buttons__management">
               <button class="management__button" type="button" title="Редагування контенту секції">
                  <svg class="management__svg" data-fetch-modal="section_editMenu">
                     <use xlink:href="__spritemap#sprite-editing-btn"></use>
                  </svg>
               </button>
               <form class="management__form" action="/">
                  <button class="management__button" type="submit" title="Видалити секцію">
                     <svg class="management__svg">
                        <use xlink:href="__spritemap#sprite-del_btn"></use>
                     </svg>
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- @@include('section_editMenu.html',{}) -->
</section>