

.brands {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(2, min-content);
   justify-content: center;
   justify-self: center;
   gap: 40px;
   padding-top: 0;
   padding-right: clamp(8px, 7vw, 120px);
   padding-bottom: 40px;
   padding-left: clamp(8px, 7vw, 120px);
   width: auto;
   max-width: 100%;
   height: min-content;
   &__txt {
      width: 100%;
      color: $colorDarkGray;
      text-align: left;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
   }
   &__list-wrapper {
      display: flex;
      flex-wrap: nowrap;

      width: 100%;
      height: auto;
   }
   &__list {
      // display: flex;
      // flex-wrap: nowrap;
      // flex-direction: column;

      display: block;

      width: 100%;

      gap: 20px;
   }
   &__img {
      width: auto;
      height: var(--height);
      order: 0;
   }
   &__item-txt {
      width: auto;
      color: $colorDarkGray;
      text-align: left;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      order: 1;
   }
   &__item {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;

      gap: 20px;
      &:nth-child(even) .brands__img {
         order: 1;
      }
      &:nth-child(even) .brands__item-txt {
         order: 0;
      }
   }
   @media (max-width: 1023px) {
      padding: 20px;
   }
   @media (max-width: 720px) {
      padding: 12px;
      gap: 12px;
      &__list-wrapper {
         width: 100%;
         overflow-x: auto;
         // overflow-y: hidden;
         scroll-snap-type: x mandatory;
         scroll-behavior: smooth;
         scrollbar-width: none;
         &::-webkit-scrollbar {
            display: none;
         }
      }
      &__list {
         display: flex;
         flex-wrap: nowrap;
         flex-direction: row;
         width: max-content;
         scroll-snap-align: start;
         padding: 4px;
      }
      &__item {
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         flex: 0 0 55svw;
         // flex: 1 1 calc(50% - 16px);

         padding: 16px;

         // border: 1px solid $colorDarkGray;
         box-shadow: 1px 1px 4px rgba(111, 111, 111, .3);
         border-radius: 16px;
         &:nth-child(even) .brands__img {
            order: 0;
         }
         &:nth-child(even) .brands__item-txt {
            order: 1;
         }
      }
      &__img {
         height: 60px;
      }
   }
   @media (max-width: 425px) {
      padding: 12px 8px;
      gap: 20px;
      &__list {
         gap: 12px;
      }
      &__item {
         flex: 0 0 85svw;
      }
   }
   
}
