<section data-fls-brands class="brands" itemscope itemtype="https://schema.org/ItemList">
    <h2 class="brands__title">Бренди футболок для друку</h2>
    <meta itemprop="name" content="Бренди футболок для друку">
    <p class="brands__txt" itemprop="description">
        Для друку ми використовуємо футболки перевірених американських, європейських та канадських виробників.
        Завдяки цьому ви можете обрати серед широкого асортименту футболку, яка підійде вам за кольором,
        складом тканини, розміром та кроєм.
    </p>

    <ul class="brands__wrapper">
        <!-- Fruit of the Loom -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Fruit of the Loom - </h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/fruitOfTheLoom-1.webp" 
                 alt="Футболки Fruit of the Loom для друку логотипів та принтів" itemprop="logo">
            <p class="brands__txt" itemprop="description">
               <strong>Fruit of the Loom</strong> - Один із найвідоміших світових брендів одягу, з понад 160-річною історією. Футболки Fruit of the Loom
               ідеально підходять для нанесення логотипів, принтів та промо-дизайнів завдяки якісній бавовні
               з щільною і гладкою структурою.
            </p>
        </li>

        <!-- Sol’s -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Sol’s -</h3>
               <img data-fls-image-ignore class="brands__img" src="@img/landing/sols-1.webp" 
                 alt="Брендовані футболки Sol’s для нанесення принтів" itemprop="logo">
            <p class="brands__txt" itemprop="description">
                <strong>Sol’s</strong> - Провідний французький бренд промо-одягу, який спеціалізується на виробництві футболок для брендування,
                друку логотипів та корпоративного стилю. Завдяки широкому модельному ряду та відмінній якості тканини,
                футболки Sol’s чудово підходять для нанесення зображень будь-якої складності.
            </p>
        </li>

        <!-- Gildan -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Gildan -</h3>
            <img data-fls-image-ignore class="brands__img _height-size" src="@img/landing/gildan-1.webp" 
                 alt="Футболки Gildan для промо та корпоративного друку" itemprop="logo">
            <p class="brands__txt" itemprop="description">
                <strong>Gildan</strong> - Один із найбільших виробників базового текстилю у світі, відомий високою якістю та доступною ціною.
                Футболки Gildan ідеально підходять для друку логотипів, написів і дизайнерських принтів завдяки
                щільній тканині та широкому вибору кольорів і фасонів.
            </p>
        </li>

        <!-- Stedman -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Stedman -</h3>
               <img data-fls-image-ignore class="brands__img" src="@img/landing/stedman-1.webp" 
                 alt="Футболки Stedman для брендування і рекламних акцій" itemprop="logo">
            <p class="brands__txt" itemprop="description">
                <strong>Stedman</strong> - Німецький бренд, що спеціалізується на виробництві якісного повсякденного та промо-текстилю.
                Футболки Stedman вирізняються сучасним кроєм, приємною на дотик тканиною та високою зносостійкістю,
                що робить їх ідеальною основою для друку логотипів, написів або рекламних принтів.
            </p>
        </li>

        <!-- JHK -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">JHK T-Shirt -</h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/jhk-1.webp" 
                 alt="Футболки JHK для друку логотипів та брендування" itemprop="logo">
            <p class="brands__txt" itemprop="description">
                <strong>JHK T-Shirt</strong> - Іспанський бренд, який спеціалізується на виробництві промо-одягу та базових футболок для брендування.
                Продукція JHK поєднує доступну ціну, широкий асортимент кольорів та моделей, а також надійну якість,
                що робить футболки ідеальними для нанесення логотипів та принтів.
            </p>
        </li>

        <!-- Roly -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Roly -</h3>
               <img data-fls-image-ignore class="brands__img _height-size" src="@img/landing/roly-1.webp" 
                 alt="Футболки Roly для друку на замовлення та промо" itemprop="logo">
            <p class="brands__txt" itemprop="description">
                <strong>Roly</strong> - Один із лідерів на європейському ринку промо-текстилю, зокрема футболок для друку на замовлення.
                Використовує сертифіковану сировину, безпечну для здоров’я. Виробництво відповідає високим
                екологічним стандартам.
            </p>
        </li>

        <!-- Malfini -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Malfini -</h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/malfini-1.webp" 
                 alt="Футболки Malfini для нанесення логотипів та принтів" itemprop="logo">
            <p class="brands__txt" itemprop="description">
                <strong>Malfini</strong> - Чеський виробник якісного текстилю, який заслужено посідає місце серед лідерів європейського ринку
                промо-одягу та одягу для брендування. Футболки Malfini поєднують відмінний крій, приємну на дотик бавовну
                та високі стандарти виробництва, що робить їх ідеальними для друку логотипів, написів та персоналізованих дизайнів.
            </p>
        </li>
    </ul>
</section>