<nav data-fls-navigation class="navigate" data-name="nav-bar-menu" aria-label="Головне навігаційне меню сайту">
   <ul class="navigate__list">
      <!-- Текстиль (має підменю) -->
      <li class="navigate__item" data-name="textile">
         <button class="navigate__link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-textile"
            type="button">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-merchandise"></use>
            </svg>
            <span class="navigate__content">Текстиль</span>
         </button>
         <!-- Включення підменю -->
         <include src="@components/sections/navigation/partsMenu/textile.html" locals='{}'></include>
      </li>

      <!-- Чашки (має підменю) -->
      <li class="navigate__item" data-name="dishes">
         <button class="navigate__link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-dishes"
            type="button">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-mugs"></use>
            </svg>
            <span class="navigate__content">Чашки</span>
         </button>
         <include src="@components/sections/navigation/partsMenu/dishes.html" locals='{}'></include>
      </li>

      <!-- Електроніка (має підменю) -->
      <li class="navigate__item" data-name="electronics">
         <button class="navigate__link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-electronics"
            type="button">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-flash-drives"></use>
            </svg>
            <span class="navigate__content">Електроніка</span>
         </button>
         <include src="@components/sections/navigation/partsMenu/electronics.html" locals='{}'></include>
      </li>

      <!-- Парасольки (посилання без підменю) -->
      <li class="navigate__item">
         <a href="/print-umbrellas/catalog-umbrellas/" class="navigate__link">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-umbrellas"></use>
            </svg>
            <span class="navigate__content">Парасольки</span>
         </a>
      </li>

      <!-- Браслети (посилання без підменю) -->
      <li class="navigate__item">
         <a href="/print-silicone-bracelet/" class="navigate__link">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-braslets"></use>
            </svg>
            <span class="navigate__content">Браслети</span>
         </a>
      </li>

      <!-- Кульки (посилання без підменю) -->
      <li class="navigate__item">
         <a href="/print-balloons/" class="navigate__link">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-baloons"></use>
            </svg>
            <span class="navigate__content">Кульки</span>
         </a>
      </li>

      <!-- Сумки та пакети (має підменю) -->
      <li class="navigate__item" data-name="bags">
         <button class="navigate__link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-bags"
            type="button">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-bags"></use>
            </svg>
            <span class="navigate__content">Сумки та пакети</span>
         </button>
         <include src="@components/sections/navigation/partsMenu/bags.html" locals='{}'></include>
      </li>

      <!-- Блокноти (посилання без підменю) -->
      <li class="navigate__item">
         <a href="/print-notepad/catalog-notepad/" class="navigate__link">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-notebooks"></use>
            </svg>
            <span class="navigate__content">Блокноти</span>
         </a>
      </li>

      <!-- Кепки (має підменю) -->
      <li class="navigate__item" data-name="caps">
         <button class="navigate__link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-caps"
            type="button">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-caps"></use>
            </svg>
            <span class="navigate__content">Кепки</span>
         </button>
         <include src="@components/sections/navigation/partsMenu/caps.html" locals='{}'></include>
      </li>

      <!-- Брелоки (посилання без підменю) -->
      <li class="navigate__item">
         <a href="/print-keychain/catalog-keychain/" class="navigate__link">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-keychains"></use>
            </svg>
            <span class="navigate__content">Брелоки</span>
         </a>
      </li>

      <!-- Ліхтарики (посилання без підменю) -->
      <li class="navigate__item">
         <a href="/print-flashlight/catalog-flashlight/" class="navigate__link">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-flashlights"></use>
            </svg>
            <span class="navigate__content">Ліхтарики</span>
         </a>
      </li>

      <!-- Ручки (має підменю) -->
      <li class="navigate__item" data-name="pens">
         <button class="navigate__link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-pens"
            type="button">
            <svg class="navigate__svg" role="img" aria-hidden="true">
               <use xlink:href="__spritemap#sprite-pens"></use>
            </svg>
            <span class="navigate__content">Ручки</span>
         </button>
         <include src="@components/sections/navigation/partsMenu/pens.html" locals='{}'></include>
      </li>

   </ul>
</nav>