<section data-fls-brands_landing class="brands" itemscope itemtype="https://schema.org/ItemList">
    <h2 class="brands__title">Бренди худі, толстовок та регланів для друку</h2>
    <meta itemprop="name" content="Бренди худі, толстовок та регланів для друку">
    <p class="brands__txt" itemprop="description">
        Ми пропонуємо друк на худі, толстовках і регланах провідних світових виробників.
        У нашому асортименті — моделі з різним складом тканини, щільністю та кроєм, що дозволяє підібрати ідеальний варіант
        для корпоративного одягу, промоакцій або персоналізованого брендування.
    </p>
    <div class="brands__wrapper">
        <ul class="brands__list">
            <!-- Fruit of the Loom -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 80px" src="@img/landing/fruitOfTheLoom-1.webp" 
                    alt="Худі та толстовки Fruit of the Loom для друку логотипів та принтів" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                <strong>Fruit of the Loom</strong> – легендарний американський бренд із понад 160-річною історією. Худі та толстовки Fruit of the Loom 
                виготовлені з високоякісної бавовни та поліестеру, що забезпечує комфорт, довговічність і чудову основу для нанесення логотипів або дизайнів.
                </p>
            </li>

            <!-- Sol’s -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 80px" src="@img/landing/sols-1.webp" 
                    alt="Брендовані худі та реглани Sol’s для нанесення принтів" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                    <strong>Sol’s</strong> – французький бренд, який пропонує широкий вибір худі, толстовок і регланів для брендування. 
                    Вироби Sol’s поєднують стильний дизайн, приємну тканину та якісне пошиття, завдяки чому вони чудово підходять для друку логотипів і корпоративної айдентики.
                </p>
            </li>

            <!-- Gildan -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 50px" src="@img/landing/gildan-1.webp" 
                    alt="Толстовки та худі Gildan для промо та корпоративного друку" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                    <strong>Gildan</strong> – канадський виробник високоякісного базового текстилю. Худі та реглани Gildan відзначаються міцною тканиною, 
                    насиченими кольорами та оптимальною посадкою, що робить їх ідеальними для нанесення друку будь-якої складності.
                </p>
            </li>

            <!-- Stedman -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 80px" src="@img/landing/stedman-1.webp" 
                    alt="Худі та толстовки Stedman для брендування і промо" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                    <strong>Stedman</strong> – німецький бренд, відомий якістю, комфортом і довговічністю. Толстовки й худі Stedman 
                    виготовлені з м’якої бавовни з додаванням поліестеру, чудово тримають форму та ідеально підходять для нанесення логотипів і рекламних принтів.
                </p>
            </li>

            <!-- JHK -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 80px" src="@img/landing/jhk-1.webp" 
                    alt="Толстовки та худі JHK для друку логотипів та брендування" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                    <strong>JHK T-Shirt</strong> – іспанський виробник промо-одягу, який пропонує широкий вибір худі та регланів для брендування. 
                    Моделі JHK поєднують доступну ціну, комфорт і якість, що робить їх чудовим вибором для друку корпоративних логотипів або дизайнерських принтів.
                </p>
            </li>

            <!-- Roly -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 50px" src="@img/landing/roly-1.webp" 
                    alt="Реглани та худі Roly для друку на замовлення" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                    <strong>Roly</strong> – відомий іспанський бренд, що спеціалізується на якісному промо-текстилі. 
                    Його худі та толстовки поєднують комфорт, довговічність і стиль, а також відповідають європейським екологічним стандартам.
                </p>
            </li>

            <!-- Malfini -->
            <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
                <img data-fls-image-ignore class="brands__img" style="--height: 80px" src="@img/landing/malfini-1.webp" 
                    alt="Худі, толстовки та реглани Malfini для нанесення логотипів" itemprop="logo">
                <p class="brands__item-txt" itemprop="description">
                    <strong>Malfini</strong> – чеський бренд, що виробляє преміальний промо-одяг. Худі та реглани Malfini 
                    відзначаються якісними матеріалами, зручним кроєм і довговічністю, завдяки чому вони чудово підходять для брендування, друку логотипів і персоналізованого дизайну.
                </p>
            </li>
        </ul>
    </div>
</section>
