<section data-fls-brands_landing class="brands" itemscope itemtype="https://schema.org/ItemList">
    <h2 class="brands__title">Бренды футболок для печати</h2>
    <meta itemprop="name" content="Бренды футболок для печати">
    <p class="brands__txt" itemprop="description">
         Для печати мы используем футболки проверенных американских, европейских и канадских изготовителей. 
         Благодаря этому вы можете выбрать среди широкого ассортимента футболку, которая подойдет вам по цвету, 
         составом ткани, размером и кроем.
    </p>

    <ul class="brands__wrapper">
        <!-- Fruit of the Loom -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Fruit of the Loom - </h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/fruitOfTheLoom-1.webp" 
                 alt="Футболки Fruit of the Loom для печати логотипов и принтов" itemprop="logo">

            <p class="brands__txt" itemprop="description">
               <strong>Fruit of the Loom</strong> - Один из самых известных мировых брендов одежды, с более чем 160-летней историей. Футболки Fruit of the Loom 
                  идеально подходят для нанесения логотипов, принтов и промо-дизайнов благодаря качественному хлопку 
                  с плотной и гладкой структурой.
            </p>
        </li>

        <!-- Sol’s -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Sol’s -</h3>
            <p class="brands__txt" itemprop="description">
               <strong>Sol’s</strong> - Ведущий французский бренд промо-одежды, специализирующийся на производстве футболок для брендирования, 
               печати логотипов и корпоративного стиля. Благодаря широкому модельному ряду и отличному качеству ткани, 
               футболки Sol's отлично подходят для нанесения изображений любой сложности.
            </p>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/sols-1.webp" 
                 alt="Брендированные футболки Sol's для нанесения принтов" itemprop="logo">
        </li>

        <!-- Gildan -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Gildan -</h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/gildan-1.webp" 
                 alt="Футболки Gildan для промо и корпоративной печати" itemprop="logo">

            <p class="brands__txt" itemprop="description">
               <strong>Gildan</strong> - Один из крупнейших производителей базового текстиля в мире, известен высоким качеством и доступной ценой. 
               Футболки Gildan идеально подходят для печати логотипов, надписей и дизайнерских принтов благодаря 
               плотной ткани и широкому выбору цветов и фасонов.
            </p>
        </li>

        <!-- Stedman -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Stedman -</h3>
            <p class="brands__txt" itemprop="description">
               <strong>Stedman</strong> - Немецкий бренд, специализирующийся на производстве качественного повседневного и промотекстиля. 
               Футболки Stedman отличаются современным кроем, приятной на ощупь тканью и высокой износостойкостью, 
               что делает их идеальным основанием для печати логотипов, надписей или рекламных принтов.
            </p>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/stedman-1.webp" 
                 alt="Футболки Stedman для брендирования и рекламных акций" itemprop="logo">
        </li>

        <!-- JHK -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">JHK T-Shirt -</h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/jhk-1.webp" 
                 alt="Футболки JHK для печати логотипов и брендирования" itemprop="logo">
            <p class="brands__txt" itemprop="description">
               <strong>JHK T-Shirt</strong> - Испанский бренд, специализирующийся на производстве промо-одежды и базовых футболок для брендирования. 
               Продукция JHK сочетает доступную цену, широкий ассортимент цветов и моделей, а также надежное качество, 
               что делает футболки идеальными для нанесения логотипов и принтов.
            </p>
        </li>

        <!-- Roly -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Roly -</h3>
            <p class="brands__txt" itemprop="description">
               <strong>Roly</strong> - Один из лидеров на европейском рынке промо-текстиля, в том числе футболок для печати на заказ. 
               Использует сертифицированное сырье, безопасное для здоровья. Производство отвечает высоким 
               экологическим стандартам.
            </p>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/roly-1.webp" 
                 alt="Футболки Roly для печати на заказ и промо" itemprop="logo">
        </li>

        <!-- Malfini -->
        <li class="brands__item" itemscope itemtype="https://schema.org/Brand" itemprop="itemListElement">
            <h3 class="title-visually-hidden" itemprop="name">Malfini -</h3>
            <img data-fls-image-ignore class="brands__img" src="@img/landing/malfini-1.webp" 
                 alt="Футболки Malfini для нанесения логотипов и принтов" itemprop="logo">
            <p class="brands__txt" itemprop="description">
               <strong>Malfini</strong> - Чешский производитель качественного текстиля, заслуженно занимающий место среди лидеров европейского рынка 
               промо-одежду и одежду для брендирования. Футболки Malfini сочетают отличный крой, приятный на ощупь хлопок 
               и высокие стандарты производства, что делает их идеальными для печати логотипов, надписей и персонализированных дизайнов.
            </p>
        </li>
    </ul>
</section>