<div data-fls-contactform class="contact-form" data-component="contactform" data-part="root">
   <h3 class="contact-form__title">Щоб зробити запит,<br>заповніть форму.</h3>
   <form class="contact-form__form" name="contact-form" data-form-source="cover">
      <label class="contact-form__label" for="name">Name:<i>*</i></label>
      <input class="contact-form__input" type="text" name="name" required>

      <label class="contact-form__label" for="phone">Telephone:<i>*</i></label>
      <input class="contact-form__input" type="tel" name="phone" required>

      <label class="contact-form__label" for="email">E-mail:</label>
      <input class="contact-form__input" type="email" name="email">

      <label class="contact-form__label" for="text">Ваше повідомлення:</label>
      <textarea class="contact-form__textarea" name="text"></textarea>

      <p class="contact-form__form-txt" data-name="print-maket">Додати макет</p>
      <input type="file" name="file_print">

      <input data-action="send-contact-form" class="contact-form__submit" type="submit" value="Надіслати">
   </form>
</div>