<div data-fls-contactform data-fls-modal class="contact-form-modal" data-name-form data-name="contact-form">
   <div class="contact-form-close" data-close-modal="contact-form"></div>
   <h3 class="contact-form-modal__title">Щоб зробити запит,<br>заповніть форму.</h3>
   <form action="/" name="contact-form" class="contact-form-modal__form">
      <label for="name">Name:<i>*</i></label>
      <input type="text" name="name" required>
      <label for="phone">Telephone:<i>*</i></label>
      <input type="tel" name="phone" required>
      <label for="email">E-mail:</label>
      <input type="email" name="email">
      <label for="text">Ваше повідомлення:</label>
      <textarea name="text"></textarea>
      <input data-send-form type="submit" value="Надіслати" name="contactBtn">
   </form>
</div>