<div data-fls-alarmMesageModal class="alarm-mesage-modal" data-name="alarm-section-upd-view">
   <button class="section-select-menu__close" name="close-section-select-menu"></button>
   <div class="alarm-mesage-modal__card-wrapper">
      <img class="alarm-mesage-modal__ico" src="@img/404/attention.png" alt="attention">
      <span class="alarm-mesage-modal__txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet consequuntur laudantium magni rem delectus
         pariatur incidunt commodi repellat unde accusantium, voluptatem tempora, iure totam quae debitis non saepe!
         Numquam, deserunt?</span>
      <div class="alarm-mesage-modal__buttons-block">
         <button class="alarm-mesage-modal__button _confirm">Згода</button>
         <button class="alarm-mesage-modal__button _reject">Відхилити</button>
      </div>
   </div>
</div>