<div data-fls-edit_component_menu class="component-edit-menu _view" data-component="component_edit_menu"
   data-part="root">
   <!-- Хедер меню -->
   <include src="@components/adminMK/components/admin_modal_header/admin_modal_header.html" locals='{
      "dataAction": "close-menu",
      "dataTarget": "component_edit_menu",
      "ariaTabel": "Закрити меню",
      "pTitle": "Меню редагування параметрів header"
   }'></include>

   <div class="component-edit-menu__items-wraper">

      <!-- Навігаційний блок меню -->
      <div class="component-edit-menu__menu-navigation-block">
         <ul class="component-edit-menu__menu-navigation-items">
            <p class="component-edit-menu__items-title">Параметри компонента</p>
            <li class="component-edit-menu__menu-navigation-li">
               <a class="component-edit-menu__item" href="#titleh2" title="title">Title h2</a>
            </li>
            <li class="component-edit-menu__menu-navigation-li">
               <a class="component-edit-menu__item" href="#subtitle" title="subtitle">Subtitle</a>
            </li>
         </ul>
         <ul class="component-edit-menu__menu-navigation-items">
            <p class="component-edit-menu__items-title">Дочірні компонента</p>
            <li class="component-edit-menu__menu-navigation-li">
               <div class="component-edit-menu__menu-navigation-btns">
                  <button class="component-edit-menu__item" type="button" title="title"
                     data-action="open-admin-edit-component-menu" data-target="/admin/html/component-edit-menu/"
                     data-instance-id="101" data-page-id="5" data-component-id="501">Logo</button>
                  <button type="button" class="component-edit-menu__submenu-open-btn _hide" data-action="toggle-submenu"
                     data-target="logo"></button>
                  <!-- Кнопка видалення компонента -->
                  <button type="button" class="component-edit-menu__item-del-btn" title="Del">
                     <svg class="component-edit-menu__item-del-btn-svg" role="img" aria-hidden="true">
                        <use xlink:href="__spritemap#sprite-trash_can_ico"></use>
                     </svg>
                  </button>
               </div>
               <ul class="component-edit-menu__submenu-navigation-items" data-submenu="logo">
                  <li class="component-edit-menu__menu-navigation-li">
                     <div class="component-edit-menu__menu-navigation-btns">
                        <button class="component-edit-menu__item _submenu" type="button" title="title"
                           data-action="open-admin-edit-component-menu" data-target="/admin/html/component-edit-menu/"
                           data-instance-id="102" data-page-id="5" data-component-id="502">Image</button>
                        <button type="button" class="component-edit-menu__submenu-open-btn _show"
                           data-action="toggle-submenu" data-target="logo"></button>
                        <!-- Кнопка видалення компонента -->
                        <button type="button" class="component-edit-menu__item-del-btn" title="Del">
                           <svg class="component-edit-menu__item-del-btn-svg" role="img" aria-hidden="true">
                              <use xlink:href="__spritemap#sprite-trash_can_ico"></use>
                           </svg>
                        </button>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="component-edit-menu__menu-navigation-li">
               <div class="component-edit-menu__menu-navigation-btns">
                  <button class="component-edit-menu__item" type="button" title="title"
                     data-action="open-admin-edit-component-menu" data-target="/admin/html/component-edit-menu/"
                     data-instance-id="104" data-page-id="5" data-component-id="504">Language</button>
                  <button type="button" class="component-edit-menu__submenu-open-btn _show" data-action="toggle-submenu"
                     data-target="language"></button>
                  <!-- Кнопка видалення компонента -->
                  <button type="button" class="component-edit-menu__item-del-btn" title="Del">
                     <svg class="component-edit-menu__item-del-btn-svg" role="img" aria-hidden="true">
                        <use xlink:href="__spritemap#sprite-trash_can_ico"></use>
                     </svg>
                  </button>
               </div>
               <ul class="component-edit-menu__submenu-navigation-items _collapsed-menu" data-submenu="language">
                  <li class="component-edit-menu__menu-navigation-li">
                     <button class="component-edit-menu__item _submenu" type="button" title="title"
                        data-action="open-admin-edit-component-menu" data-target="/admin/html/component-edit-menu/"
                        data-instance-id="105" data-page-id="5" data-component-id="505">Img</button>
                  </li>
               </ul>
            </li>
         </ul>
         <!-- Кнопка "Додати елемент" -->
         <button type="button" class="component-edit-menu__add-component-element-btn"
            data-action="fetch-admin-form-insert-component-child" data-form-instance-id="101" data-form-page-id="5"
            data-form-parent-instance-id="101" data-form-position="last"></button>

         <!-- Меню додавання елемента (оболонка в DOM; контент підвантажуємо фетчем) -->
         <include src="@components/adminMK/components/insert_component_child_menu/insert_component_child_menu.html"
            locals='{}'></include>
      </div>

      <!-- Блок введення данних меню -->
      <ul class="component-edit-menu__list">
         <!-- Змінні компонента -->
         <li class="component-edit-menu__tile">
            <form class="component-edit-menu__form" id="titleh2" action="/admin/setup/component-var-update/"
               method="post">
               <input type="hidden" name="instance_id" value="101">
               <input type="hidden" name="page_id" value="5">
               <input type="hidden" name="var_name" value="titleh2">
               <p class="component-edit-menu__input-name">Title h2</p>
               <textarea class="component-edit-menu__param-input" name="param-input" data-autosize="true"
                  data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
               <!-- Кнопка "Підтвердження змін" -->
               <input class="component-edit-menu__submit-btn" type="submit" value="OK">
            </form>
         </li>
         <li class="component-edit-menu__tile">
            <form class="component-edit-menu__form" id="subtitle" action="/admin/setup/component-var-update/"
               method="post">
               <input type="hidden" name="instance_id" value="101">
               <input type="hidden" name="page_id" value="5">
               <input type="hidden" name="var_name" value="subtitle">
               <p class="component-edit-menu__input-name">Subtitle</p>
               <textarea class="component-edit-menu__param-input" name="param-input" data-autosize="true"
                  data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
               <!-- Кнопка "Підтвердження змін" -->
               <input class="component-edit-menu__submit-btn" type="submit" value="OK">
            </form>
         </li>
      </ul>
   </div>
</div>