<div data-fls-christmasStiker class="christmas-gifts" data-name="christmas-gifts">
   <button class="christmas-gifts__close " type="button" data-action="close"></button>
   <a class="christmas-gifts__link" href="/ru/holiday/christmas-clothes/">
      <img data-fls-image-ignore class="christmas-gifts__img" src="@img/global/сhristmas_gifts.webp" alt="Обрати Різдвяні та новорічні подарунки">
   </a>
</div>

<button class="christmas-gifts-causes-btn _hide" data-action="view-christmas-gifts" type="button">
      <img data-fls-image-ignore class="christmas-gifts-causes-btn__img" src="@img/global/сhristmas_giftsBtn.webp" alt="Різдвяно-новорічні подарунки">
</button>