<section data-fls-goods class="goods" aria-labelledby="popular-products" itemscope itemtype="https://schema.org/ItemList">
   <h2 class="goods__title" id="popular-products">Самые популярные товары</h2>
   <div class="goods__tiles _horizontal-scroll-for-mine">
      <div class="goods__tiles-wrapper _grid-settings-for-mine">
         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про браслет силіконовий" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/bras-sel_031.webp" alt="Силіконовий браслет з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col001">001</li>
                  <li class="goods-card__color-item col022">022</li>
                  <li class="goods-card__color-item col013">013</li>
                  <li class="goods-card__color-item col017">017</li>
                  <li class="goods-card__color-item col025">025</li>
                  <li class="goods-card__color-item col023">023</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col021">021</li>
                  <li class="goods-card__color-item col003">003</li>
                  <li class="goods-card__color-item col005">005</li>
                  <li class="goods-card__color-item col008">008</li>
                  <li class="goods-card__color-item col033">033</li>
                  <li class="goods-card__color-item col031">031</li>
                  <li class="goods-card__color-item col034">034</li>
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col028">028</li>
                  <li class="goods-card__color-item col030">030</li>
                  <li class="goods-card__color-item col020">020</li>
                  <li class="goods-card__color-item col011">011</li>
                  <li class="goods-card__color-item col009">009</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Браслет силіконовий</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">6.50</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:1111/goods-page.html" title="Детальніше про товстовку" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/CLASSIC-HOODED-SWEAT_021.webp" alt="Товстовка з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col032" data-srcImg="img/goods/AURA_001.jpg" data-price="11,00">032</li>
                  <li class="goods-card__color-item col022" data-srcImg="img/goods/Baloon_006.jpg" data-price="12,00">022</li>
                  <li class="goods-card__color-item col013" data-srcImg="img/goods/Baloon_023.jpg" data-price="13,00">013</li>
                  <li class="goods-card__color-item col017" data-srcImg="img/goods/bras-sel_031.jpg" data-price="14,00">017</li>
                  <li class="goods-card__color-item col025" data-srcImg="img/goods/bras-sel_034.jpg" data-price="15,00">025</li>
                  <li class="goods-card__color-item col023" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">023</li>
                  <li class="goods-card__color-item col012" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">012</li>
                  <li class="goods-card__color-item col021" data-srcImg="img/goods/Original T_019.jpg" data-price="11,22">021</li>
                  <li class="goods-card__color-item col003" data-srcImg="img/goods/Valueweigth-T_028.jpg" data-price="11,22">003</li>
                  <li class="goods-card__color-item col005" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">005</li>
                  <li class="goods-card__color-item col008" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">008</li>
                  <li class="goods-card__color-item col033" data-srcImg="img/goods/Valueweigth-T_028.jpg" data-price="11,22">033</li>
                  <li class="goods-card__color-item col031" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">031</li>
                  <li class="goods-card__color-item col034" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">034</li>
                  <li class="goods-card__color-item col035" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">035</li>
                  <li class="goods-card__color-item col012" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">012</li>
                  <li class="goods-card__color-item col028" data-srcImg="img/goods/Valueweigth-T_028.jpg" data-price="11,22">028</li>
                  <li class="goods-card__color-item col030" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">030</li>
                  <li class="goods-card__color-item col020" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">020</li>
                  <li class="goods-card__color-item col011" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">011</li>
                  <li class="goods-card__color-item col009" data-srcImg="img/goods/img/goods/Baloon_023.jpg" data-price="11,22">009</li>
                  <li class="goods-card__color-item col011" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">011</li>
                  <li class="goods-card__color-item col030" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">030</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Товстовка</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">425,00</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img"href="http://localhost:1111/goods-page.html" title="Детальніше про браслет силіконовий в два ряди" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/Classic-sandvich_027.webp" alt="Браслет силіконовий в два ряди з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col022">022</li>
                  <li class="goods-card__color-item col013">013</li>
                  <li class="goods-card__color-item col017">017</li>
                  <li class="goods-card__color-item col025">025</li>
                  <li class="goods-card__color-item col023">023</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col021">021</li>
                  <li class="goods-card__color-item col003">003</li>
                  <li class="goods-card__color-item col005">005</li>
                  <li class="goods-card__color-item col008">008</li>
                  <li class="goods-card__color-item col033">033</li>
                  <li class="goods-card__color-item col031">031</li>
                  <li class="goods-card__color-item col034">034</li>
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col028">028</li>
                  <li class="goods-card__color-item col030">030</li>
                  <li class="goods-card__color-item col020">020</li>
                  <li class="goods-card__color-item col011">011</li>
                  <li class="goods-card__color-item col009">009</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Браслет силіконовий в два ряди</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">187,00</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про браслет силіконовий" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/Original T_019.webp" alt="Браслет силіконовий з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col022">022</li>
                  <li class="goods-card__color-item col013">013</li>
                  <li class="goods-card__color-item col017">017</li>
                  <li class="goods-card__color-item col025">025</li>
                  <li class="goods-card__color-item col023">023</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col021">021</li>
                  <li class="goods-card__color-item col003">003</li>
                  <li class="goods-card__color-item col005">005</li>
                  <li class="goods-card__color-item col008">008</li>
                  <li class="goods-card__color-item col033">033</li>
                  <li class="goods-card__color-item col031">031</li>
                  <li class="goods-card__color-item col034">034</li>
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col028">028</li>
                  <li class="goods-card__color-item col030">030</li>
                  <li class="goods-card__color-item col020">020</li>
                  <li class="goods-card__color-item col011">011</li>
                  <li class="goods-card__color-item col009">009</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Браслет силіконовий</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">6.50</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про браслет силіконовий" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/bras-sel_031.webp" alt="Браслет силіконовий з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col022">022</li>
                  <li class="goods-card__color-item col013">013</li>
                  <li class="goods-card__color-item col017">017</li>
                  <li class="goods-card__color-item col025">025</li>
                  <li class="goods-card__color-item col023">023</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col021">021</li>
                  <li class="goods-card__color-item col003">003</li>
                  <li class="goods-card__color-item col005">005</li>
                  <li class="goods-card__color-item col008">008</li>
                  <li class="goods-card__color-item col033">033</li>
                  <li class="goods-card__color-item col031">031</li>
                  <li class="goods-card__color-item col034">034</li>
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col028">028</li>
                  <li class="goods-card__color-item col030">030</li>
                  <li class="goods-card__color-item col020">020</li>
                  <li class="goods-card__color-item col011">011</li>
                  <li class="goods-card__color-item col009">009</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Браслет силіконовий</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">6.50</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про браслет силіконовий в два ряди" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/Classic-sandvich_027.webp" alt="Браслет силіконовий в два ряди з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col022">022</li>
                  <li class="goods-card__color-item col013">013</li>
                  <li class="goods-card__color-item col017">017</li>
                  <li class="goods-card__color-item col025">025</li>
                  <li class="goods-card__color-item col023">023</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col021">021</li>
                  <li class="goods-card__color-item col003">003</li>
                  <li class="goods-card__color-item col005">005</li>
                  <li class="goods-card__color-item col008">008</li>
                  <li class="goods-card__color-item col033">033</li>
                  <li class="goods-card__color-item col031">031</li>
                  <li class="goods-card__color-item col034">034</li>
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col028">028</li>
                  <li class="goods-card__color-item col030">030</li>
                  <li class="goods-card__color-item col020">020</li>
                  <li class="goods-card__color-item col011">011</li>
                  <li class="goods-card__color-item col009">009</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Браслет силіконовий в два ряди</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">6.50</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про браслет силіконовий" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/Original T_019.webp" alt="Браслет силіконовий з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col022">022</li>
                  <li class="goods-card__color-item col013">013</li>
                  <li class="goods-card__color-item col017">017</li>
                  <li class="goods-card__color-item col025">025</li>
                  <li class="goods-card__color-item col023">023</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col021">021</li>
                  <li class="goods-card__color-item col003">003</li>
                  <li class="goods-card__color-item col005">005</li>
                  <li class="goods-card__color-item col008">008</li>
                  <li class="goods-card__color-item col033">033</li>
                  <li class="goods-card__color-item col031">031</li>
                  <li class="goods-card__color-item col034">034</li>
                  <li class="goods-card__color-item col035">035</li>
                  <li class="goods-card__color-item col012">012</li>
                  <li class="goods-card__color-item col028">028</li>
                  <li class="goods-card__color-item col030">030</li>
                  <li class="goods-card__color-item col020">020</li>
                  <li class="goods-card__color-item col011">011</li>
                  <li class="goods-card__color-item col009">009</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Браслет силіконовий</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">6.50</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>

         <article class="goods-card" itemscope itemtype="https://schema.org/Product">
            <a class="goods-card__img" href="http://localhost:5500/article.html" title="Детальніше про товстовку" itemprop="url">
               <img data-fls-image-ignore src="@img/goods/CLASSIC-HOODED-SWEAT_021.webp" alt="Товстовка з логотипом" itemprop="image">
            </a>
            <div class="goods-card__color-box">
               <ul class="goods-card__color-items" data-name="view-color-items">
                  <li class="goods-card__color-item col032" data-srcImg="img/goods/AURA_001.jpg" data-price="11,22">032</li>
                  <li class="goods-card__color-item col022" data-srcImg="img/goods/Baloon_006.jpg" data-price="11,22">022</li>
                  <li class="goods-card__color-item col013" data-srcImg="img/goods/Baloon_023.jpg" data-price="11,22">013</li>
                  <li class="goods-card__color-item col017" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">017</li>
                  <li class="goods-card__color-item col025" data-srcImg="img/goods/bras-sel_034.jpg" data-price="11,22">025</li>
                  <li class="goods-card__color-item col023" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">023</li>
                  <li class="goods-card__color-item col012" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">012</li>
                  <li class="goods-card__color-item col021" data-srcImg="img/goods/Original T_019.jpg" data-price="11,22">021</li>
                  <li class="goods-card__color-item col003" data-srcImg="img/goods/Valueweigth-T_028.jpg" data-price="11,22">003</li>
                  <li class="goods-card__color-item col005" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">005</li>
                  <li class="goods-card__color-item col008" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">008</li>
                  <li class="goods-card__color-item col033" data-srcImg="img/goods/Valueweigth-T_028.jpg" data-price="11,22">033</li>
                  <li class="goods-card__color-item col031" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">031</li>
                  <li class="goods-card__color-item col034" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">034</li>
                  <li class="goods-card__color-item col035" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">035</li>
                  <li class="goods-card__color-item col012" data-srcImg="img/goods/Eco-bag_013.jpg" data-price="11,22">012</li>
                  <li class="goods-card__color-item col028" data-srcImg="img/goods/Valueweigth-T_028.jpg" data-price="11,22">028</li>
                  <li class="goods-card__color-item col030" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">030</li>
                  <li class="goods-card__color-item col020" data-srcImg="img/goods/bras-sel_031.jpg" data-price="11,22">020</li>
                  <li class="goods-card__color-item col011" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">011</li>
                  <li class="goods-card__color-item col009" data-srcImg="img/goods/img/goods/Baloon_023.jpg" data-price="11,22">009</li>
                  <li class="goods-card__color-item col011" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">011</li>
                  <li class="goods-card__color-item col030" data-srcImg="img/goods/Classic-sandvich_027.jpg" data-price="11,22">030</li>
               </ul>
            </div>
            <h3 itemprop="name" class="goods-card__title">Товстовка</h3>
            <p itemprop="description" class="goods-card__sub-title">З логотипом ширина 12 мм</p>
            <p class="goods-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
               Ціна: <span itemprop="price">425,00</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
         </article>
      </div>
   </div>
</section>