<section data-fls-SEO-txt_landing class="SEO-txt" data-component="SEO-txt_landing" data-part="root" data-part="expandable" data-state="closed" itemscope itemtype="https://schema.org/Article">
   <meta itemprop="name" content="Друк на футболках">
   <meta itemprop="author" content="Рекламно-виробнича компанія 'Мега Компроміс'">
   <meta itemprop="description" content="Футболки для друку: індивідуальні замовлення, оптові партії, вимоги до макету, три простих кроки замовлення, доставка по Україні.">
   <meta itemprop="inLanguage" content="uk">

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <p class="SEO-txt__txt">Рекламно-виробнича компанія "Мега Компроміс" готова втілити вашу будь-яку фантазію і
         виготовити оригінальну футболку в єдиному екземплярі, а також подбати про ваш колектив або захід і підготувати
         брендовані футболки оптом.</p>
      <p class="SEO-txt__txt">За досить невелику суму ви можете отримати унікальну футболку з принтом. Ціна залежить від
         тиражу, розміру нанесення і макета, який потрібно надрукувати.</p>
      <h2 class="SEO-txt__title">Де придбати футболку для друку?</h2>
      <p class="SEO-txt__txt">У нас на складі завжди є в наявності футболки для того, щоб нанести логотип, фото або напис.
         Всі вироби призначені для нанесення логотипів, фотографій або ж вашої корпоративної символіки. Ми пропонуємо
         продукцію в якій впевнені - футболки відмінної якості і стійкі безпечні фарби. Ми співпрацюємо з перевіреними
         виробниками і використовуємо футболки американського, французького та канадського виробників.</p>
      <p class="SEO-txt__txt">З переліком моделей і кольоровою гамою футболок ви можете ознайомитися в <a href="/print-t-shirts/catalog-t-shirts/"
            title="каталозі футболок" itemprop="url">каталозі футболок</a> на
         нашому сайті. В наявності на складі рекламно-виробничої компанії "Мега Компроміс" є футболки:</p>
      <ul class="SEO-txt__list">
         <li>унісекс (підходять як для жінок, так і для чоловіків)</li>
         <li>жіночі</li>
         <li>дитячі</li>
      </ul>
      <p class="SEO-txt__txt">Кожна модель футболки представлена ​​в більш ніж 10 кольорах, що дозволяє нашим клієнтам
         підібрати колір в тон
         особистого лого і навіть кольору заходу. Ми співпрацюємо як з компаніями і виробляємо корпоративні футболки,
         так і
         з клієнтами, які організовують для себе вечірки і виготовляємо футболки з фото, гумористичними слоганами,
         пам'ятними датами і т.д.</p>
      <p class="SEO-txt__txt">Вибираючи футболку на нашому сайті вам варто звертати увагу на бажану модель виробу, а про
         якість подбали ми. Всі
         футболки представлені на сайті чудово підходять для створення брендованих футболок.</p>
   </div>

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <h2 class="SEO-txt__title">Як замовити друк на футболках в Києві і інших містах України?</h2>
      <p class="SEO-txt__txt">Рекламно-виробнича компанія "Мега Компроміс" співпрацює з клієнтами з Києва і будь-якого
         іншого міста України. Доставка товару здійснюється за допомогою логістичної компанії "Нова пошта" в найкоротші
         терміни. Для того, щоб оформити замовлення вам достатньо скористатися формою на нашому сайті. Якщо у вас
         виникли питання - звертайтеся до нас за телефонами, що також зазначені на сайті.</p>
   </div>

   <div class="block" style="--bg: #f5f5f5" itemprop="articleBody">
      <h2 class="block__title">Три простих кроки, щоб замовити друк на футболках</h2>
      <div class="block__wrapper" itemscope itemtype="https://schema.org/HowTo">
         <div class="block__item" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
            <span class="block__step-title" itemprop="name">Крок перший.</span>
            <div itemprop="text">
               <p class="block__description">Визначтеся з параметрами і заповніть відповідні поля</p>
               <ul class="block__list">
                  <li class="block__list-item">друк на білій або кольоровій футболці</li>
                  <li class="block__list-item">розмір логотипу</li>
                  <li class="block__list-item">кількість кольорів лого/напису</li>
                  <li class="block__list-item">тираж.</li>
               </ul>
               <p class="block__description">Після цього ви побачите передбачувану суму замовлення</p>
            </div>
         </div>
         <div class="block__item" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
            <span class="block__step-title" itemprop="name">Крок другий.</span>
            <p class="block__description" itemprop="text">Натискайте кнопку "Замовити прорахунок"</p>
         </div>
         <div class="block__item" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
            <span class="block__step-title" itemprop="name">Крок третій.</span>
            <p class="block__description" itemprop="text">Після ви побачите вікно, де потрібно вказати контактну інформацію для того,
               щоб наші менеджери могли зв'язатися з вами. Заповнюйте і тисніть "Відправити".</p>
         </div>
      </div>
   </div>

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <h2 class="SEO-txt__title">Вимоги до макету для нанесення лого на футболку</h2>
      <p class="SEO-txt__txt">Важливо! Саме від якості макета буде залежати яскравість и чіткість лого на брендованої
         футболці.</p>
      <p class="SEO-txt__txt">Допустимі формати макета: *.ai, *.eps, *.tif, *.png, а також *.jpg (high quality). Ми
         рекомендуємо макети з розширенням 300 dpi, но при цьому мінімальний допустимий 150 dpi.</p>
      <p class="SEO-txt__txt">Враховуйте також розміри макета. Вони повинні відповідати розміру наноситься логотипу. Ми
         наносимо логотипи 4 розмірів:</p>
      <ul class="SEO-txt__list">
         <li>А3 - 30 см х 42 см</li>
         <li>А4 - 21 см х 30 см</li>
         <li>А5 - 15 см х 21 см</li>
         <li>А6 - 10,5 см х 15 см</li>
      </ul>
      <p class="SEO-txt__txt">Якщо у вас немає в наявності макета з відповідними параметрами, то наші дизайнери прийдуть
         до вас на допомогу. Вам варто тільки дати знати нам про це!</p>
   </div>

   <button class="SEO-txt__btn" data-action="open-modal" data-target="contact-form-SEO-txt-landing" data-part="button" type="button" itemprop="potentialAction" itemscope itemtype="https://schema.org/Action">
      <span itemprop="name">НАДІСЛАТИ ЗАПИТ</span>
   </button>

   <div class="SEO-txt__wrapper" itemprop="articleBody">
      <p class="SEO-txt__txt">Говорячи про футболках з принтом, ми маємо на увазі також брендовані футболки з лого,
         футболки з фото, іменні та будь-які інші з нанесеними написами і зображеннями.</p>
      <p class="SEO-txt__txt">За наш чималий досвід, а це більше 12 років на ринку виробництва реклами, нашими клієнтами
         ставали як компанії різних розмірів для створення корпоративного духу завдяки брендованому одягу, так і
         клієнти, які хочуть урізноманітнити свій гардероб унікальною річчю.</p>
      <p class="SEO-txt__txt">Також футболки з принтом від рекламно-виробничої компанії "Мега Компроміс" стають частиною
         свят: сімейних, шкільних, корпоративних. У таких випадках ми виготовляємо футболки з принтом, друкуючи на них
         пам'ятні дати, імена членів родини, гумористичні написи, афоризми, фотографії, героїв з улюблених мультиків, а
         також інші написи і зображення.</p>
      <p class="SEO-txt__txt">Також ми часто спостерігаємо, як футболка з принтом стає пам'ятним подарунком для
         близьких. У таких випадках замовники віддають перевагу замовляючи друк фотографій на футболках. Для бабусь і
         дідусів - футболки з фото улюблених онуків, для закоханих - парні футболки з власними фото, для друзів -
         футболки з принтами власного дизайну.</p>
   </div>
   <include src="@components/globalBlokcs/showtextbtn/showtextbtn.html" locals='{}'></include>
   <include src="@components/custom/modal/modal.html" locals='{
      "addClass": "",
      "modalName": "contact-form-SEO-txt-landing",
      "closeOrRemove": "close",
      "dirName": "custom",
      "fileName": "contactform"
   }'></include>
</section>
