.SEO-txt {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   width: 100%;
   height: auto;

   padding: 16px 16px 16px 72px;
   gap: 20px;

   background:  $colorLightGray;

   transition: all .3s;
   
   @media (max-width: 1023px) {
      height: 50svh;
      padding: 16px;

      overflow: hidden;
      &._action {
         height: auto;
         overflow-y: hidden;
         padding-bottom: 52px;
      }
   }
   @media (max-width: 768px) {
      padding: 12px;
   }
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 100%;
   }
   &__title,
   &__title-h3 {
      color: $colorDarkGray;

      text-align: left;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2em;
   }
   &__title-h3 {
      font-size: 1rem;
   }
   &__step-title {
      text-align: left;

      color: $colorDarkGray;

      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
   }
   &__txt {
      text-align: left;

      color: $colorDarkGray;

      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      a {
         color: $colorBlue;
         font-family: Montserrat;
         font-size: 14px;
         font-weight: 700;
         line-height: 20px;
      }
   }
   &__list {
      width: 100%;
      margin-left: 14px;

      color: $colorDarkGray;

      text-align: left;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      li {
         list-style-type: disc;
      }
   }
}
.txt-info {
   padding: 12px 12px 12px 72px;
   width: 100%;
   background: var(--txtInfoBG);

   &__block {
      display: flex;
      flex-direction: column;

      width: 100%;

      border-radius: 28px;
      gap: 12px;
      padding: 24px;

      background: $colorDarkGray;
   }
   &__title {
      width: 100%;

      color: $colorWhite;

      text-align: center;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2em;
   }
   &__wrapper {
      column-count: 2;
      column-gap: 16px;
   }
   &__step-title {
      text-align: left;

      color: $colorOrange;

      font-size: 1rem;
      font-weight: 700;
      line-height: 2em;
   }
   &__description {
      width: 100%;
      text-align: left;

      color: $colorWhite;

      font-size: 14px;
      font-weight: 400;
      line-height: 1.5em;
   }
   &__list-item {
      width: 100%;
      margin-left: 14px;

      color: $colorWhite;

      text-align: left;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5em;

      list-style-type: disc;
   }
   @media (max-width: 1023px) {
      padding: 20px;
   }
   @media (max-width: 768px) {
      padding: 12px;
   }
   @media (max-width: 450px) {
      padding: 8px;
      &__title {
         font-size: 20px;
      }
      &__wrapper {
         column-count: 1;
         column-gap: 12px;
      }
   }
}

.submit-request {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 12px 12px 12px 72px;
   width: 100%;
   background: var(--sReqBG);
   &__btn {
      width: fit-content;

      color: $colorWhite;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 16px;
      box-shadow: 2px 2px 4px rgba(111, 111, 111, 0.5);
      padding: 1em 1.5em;

      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      background: $colorOrange;
      transition: all .3s;
      &:hover {
         scale: .97;
      }
   }
}
   