@import "goodsCard";
@import "goodsColor";
.goods {
   width: 100%;
   padding-bottom: 12px;

   background: white;
   overflow: hidden;
   
   &__title {
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      text-transform: uppercase;
      
      background-color: white;
      margin: 16px 0;
         h2{
            font-size: 2.1em;
            line-height: 1em;
            letter-spacing: 0%;

            color: $colorBlue;
         }
      @media (max-width: 426px) {
         //font-size: 1.6em;
         h2{
            font-size: 1.8em;
            line-height: 1.2em;
            //letter-spacing: 0%;
         }
      }
   }
   &__tiles {
      width: 100%;
      overflow-y: auto;
   }
   &__tiles-wrapper {
      display: grid;
      margin: auto;

      grid-template-columns: repeat(auto-fill, 320px);
      max-width: 1440px;

      justify-content: flex-start;

      padding: 12px 0 12px 64px;
      gap: 4px;
      
      @media (max-width: 1024px) {
         grid-template-columns: repeat(4, min-content);
         grid-template-rows: repeat(2, min-content);
      }
      @media (max-width: 1023px) {
         padding: 12px 12px 12px 12px;
      }
      @media (max-width: 768px) {
         grid-template-columns: repeat(8, min-content);
         grid-template-rows: repeat(1, min-content);
         max-width: max-content;
      }
      @media (max-width: 375px) {
         padding: 4px 4px 4px 4px;
      }
   }
}
