<section data-fls-T-shirtPrintingTechnologies class="tshirt-printing-tech">
   <h2 class="tshirt-printing-tech__title">Технології друку на футболках</h2>
   <p class="tshirt-printing-tech__text">Ми пропонуємо кілька технологій друку, щоб кожен клієнт отримав найкращий
      результат відповідно до своїх потреб — від великих тиражів до одиничних замовлень.</p>
   <div class="tshirt-printing-tech__card">
      <article class="print-method">
         <img class="print-method__img" src="@img/landing/silk-printing.webp" alt="Шовкодрук">
         <div class="print-method__wrapper">
            <h3 class="print-method__title">Шовкодрук</h3>
            <p class="print-method__desc">
               Класичний метод друку для великих партій. Зображення наноситься через трафарет безпосередньо на тканину,
               забезпечуючи насичені кольори та високу зносостійкість.</p>
            <span class="print-method__benefits-title">Переваги шовкодруку:</span>
            <ul class="print-method__benefits">
               <li class="print-method__benefit">Вигідно при великих тиражах</li>
               <li class="print-method__benefit">Яскраві, довговічні принти</li>
               <li class="print-method__benefit">Підходить для бавовни та поліестеру</li>
            </ul>
         </div>
      </article>
      <article class="print-method">
         <img class="print-method__img" src="@img/landing/dtf-printing.webp" alt="Шовкодрук">
         <div class="print-method__wrapper">
            <h3 class="print-method__title">DTF-друк (Direct to Film)</h3>
            <p class="print-method__desc">
               Класичний метод друку для великих партій. Зображення наноситься через трафарет безпосередньо на тканину,
               забезпечуючи насичені кольори та високу зносостійкість.</p>
            <span class="print-method__benefits-title">Переваги шовкодруку:</span>
            <ul class="print-method__benefits">
               <li class="print-method__benefit">Без обмежень по кольорах</li>
               <li class="print-method__benefit">Висока чіткість і деталізація</li>
               <li class="print-method__benefit">Підходить для будь-якого типу тканини</li>
               <li class="print-method__benefit">Добре тримається після прання</li>
            </ul>
         </div>
      </article>
      <article class="print-method">
         <img class="print-method__img" src="@img/landing/termo-printing.webp" alt="Шовкодрук">
         <div class="print-method__wrapper">
            <h3 class="print-method__title">Термоперенос (флексографія)</h3>
            <p class="print-method__desc">
               Класичний метод друку для великих партій. Зображення наноситься через трафарет безпосередньо на тканину,
               забезпечуючи насичені кольори та високу зносостійкість.</p>
            <span class="print-method__benefits-title">Переваги шовкодруку:</span>
            <ul class="print-method__benefits">
               <li class="print-method__benefit">Швидке виготовлення</li>
               <li class="print-method__benefit">Підходить для малих тиражів</li>
               <li class="print-method__benefit">Можна друкувати по темному текстилю</li>
               <li class="print-method__benefit">Висока якість при доступній ціні</li>
            </ul>
         </div>
      </article>
   </div>
   <div class="tshirt-printing-tech__footer">
      <div class="tshirt-printing-tech__texts">
         <span class="tshirt-printing-tech__text-question">Не знаєте, який метод обрати?</span>
         <p class="tshirt-printing-tech__text">
               Наші фахівці допоможуть підібрати оптимальний спосіб друку залежно від кількості,
               типу тканини та вашого дизайну. Зв’яжіться з нами — і ми зробимо все якісно та вчасно!
         </p>
      </div>
      <button class="tshirt-printing-tech__button">Звʼязатись з нами</button>
   </div>
</section>