
// Обкладинка
.cover {
   position: relative;

   font-family: 'Montserrat';
   font-style: normal;

   overflow: hidden;

   &__img-gradient {
      display: block;
      position: absolute;
      bottom: 0;
      right: -7%;
      z-index: 1;
      width: 70%;
      height: 12svh;
      background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 100%);
   }

   &__img{ 
      position: absolute;
      bottom: 0;
      right: -7%;
      z-index: -1;

      width: 114%;
      img{
         width: 100%;
      }
      @media (min-width: $tabletWidth) {
         width: 65%;
         right: 0;
      }
   }
   &__content {
      @media (min-width: $tabletWidth) {
         padding-left: 7vw;
      }
      //@media (min-width: $desctopSmallWidth) {
      //   padding-left: 7vw;
      //}
   }
   &__title {
      margin: 48px 0 0 0;
      font-weight: 700;
      font-size: 7vw;
      line-height: 1.2em;
      text-align: center;
      //text-align: left;
      text-transform: uppercase;
      color: $colorBlue;
      //background-color: $colorTest;
      @media (min-width: $tabletWidth) {
         font-size: 6vw;
         text-align: left;
         width: 80%;
      }
      
   }
   &__txt {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      hyphens: auto;
      margin: 44px 36px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: justify;

      mix-blend-mode: difference;
      letter-spacing: 0.02em;
      color: $colorDarkGray;
      &._view {
         -webkit-line-clamp: unset;
      }
      @media (min-width: $tabletWidth) {
         width: 40%;
         margin: 32px 0;
      }
   }
   
   &__button {
      margin: 0 1.1em 50vw 1.1em;
      padding: 1em 2em;
      //position: absolute;
      //top: 75svh;
      //width: 200px;
      //height: 48px;

      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;

      border-radius: 20px;
      border: solid 2px $colorBlue;
      background-color: $colorLightGray;
      color: $colorBlue;
      @media (min-width: $tabletWidth) {
         margin: 2% 1.1em 10% 7vw;
      }
   }
}
