<section data-fls-mainScreen404 class="main-screen">
   <h1 class="main-screen__title" edit="true">
      Вибачте,
      сторінку не знайдено!
   </h1>
   <p class="main-screen__text" edit="true">
      Можливо, посилання, за яким ви перейшли,
      не працює або сторінку видалено.
   </p>

   <a class="main-screen__link" href="#" edit="true">
      <svg>
         <use xlink:href="@svgicons/svgicons.svg#triangle"></use>
      </svg>
      <span>Повернутися на головну сторінку</span>
   </a>

   <img edit="true" data-section-id="@@number" class="main-screen__img" src="@img/404/404.png" alt="img">
</section>