<article data-fls-recommended_products_card class="recommended-products-card" data-component="recommended_products_card" data-part="root" aria-labelledby="recommended-products-card" itemscope itemtype="https://schema.org/Product">
    <a class="recommended-products-card__items" href="http://localhost:5500/recommended-products.html" title="Детальніше про товстовку"
        itemprop="url">
        <img class="recommended-products-card__items-img" data-fls-image-ignore src="@img/goods/CLASSIC-HOODED-SWEAT_021.webp" alt="Товстовка з логотипом"
            itemprop="image">
        <div class="recommended-products-card__items-info">
            <h3 itemprop="name" class="recommended-products-card__title">Толстовка унісекс</h3>
            <p class="recommended-products-card__price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                <span itemprop="price">425,00</span> <span itemprop="priceCurrency" content="UAH">грн</span>
            </p>
        </div>
    </a>
</article>
