.models {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding: 24px 12px 24px 72px;

      gap: 40px;

   &__wrapper {
      display: flex;
      flex-direction: row;

      width: 100%;


      justify-content: center;

      gap: 120px;
   }
   &__block {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 40px;

      max-width: 320px;
      max-height: fit-content;

   }
   &__wrapper-img {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 320px;
      height: 320px;

      border-radius: 50%;
      box-shadow: 4px 6px 20px rgba($colorDarkGray, 0.3);
   }
   &__img {
      width: 300px;
      height: 300px;

      border-radius: 50%;
   }
   &__title {
      color: $colorDarkGray;

      text-align: center;
      font-family: Montserrat;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2em;

      height: 2.4em;
   }
   &__desc {
      width: 100%;
      color: $colorDarkGray;

      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
   }
   &__btn {
      color: $colorBlue;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 16px;
      border: solid 4px $colorBlue;
      padding: 1em 1.5em;

      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      // background: $colorOrange;
      transition: all .3s;
      &:hover {
         scale: .97;
      }
   }
   @media (max-width: 1282px) {
      &__wrapper {
         gap: 60px;
      }
   }
   @media (max-width: 1168px) {
      &__wrapper {
         gap: 32px;
      }
   }
   @media (max-width: 1096px) {
      &__wrapper {
         gap: 16px;
      }
   }
   @media (max-width: 1064px) {
      &__wrapper {
         height: auto;

         justify-content: flex-start;
         padding: 12px;
         overflow-y: auto;
         scrollbar-width: none;
         &::-webkit-scrollbar {
            display: none;
         }
      }
   }
   @media (max-width: 1023px) {
      padding: 12px;
      
   }
   @media (max-width: 375px) {
      &__wrapper {
         padding: 12px 8px;
      }
   }
}