<section data-fls-models_t-shirts class="models">
   <div class="models__wrapper">
      <div class="models__block">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore class="models__img" src="@img/landing/male-1.png" alt="Image">
         </div>
         <H3 class="models__title">Чоловічі (унісекс) футболки</H3>
         <p class="models__desc">Класичний прямий крій, зручна посадка та щільна бавовна — ідеальна основа для друку
            логотипів, принтів і рекламних написів. У наявності популярні моделі брендів Gildan, Roly, Malfini, JHK та
            інших. Доступні в широкій палітрі кольорів і розмірів.</p>
      </div>
      <div class="models__block">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore class="models__img" src="@img/landing/female-1.png" alt="Image">
         </div>
         <H3 class="models__title">Жіночі футболки</H3>
         <p class="models__desc">Облягаючий силует, м’яка еластична тканина та жіночний крій — чудово підходять для
            брендування одягу, акцій, подій та дизайнерських замовлень. Різноманітні варіанти: з коротким або довгим
            рукавом, V-подібним вирізом тощо.</p>
      </div>
      <div class="models__block">
         <div class="models__wrapper-img">
            <img data-fls-image-ignore class="models__img" src="@img/landing/childrens-1.png" alt="Image">
         </div>
         <H3 class="models__title">Дитячі футболки</H3>
         <p class="models__desc">Безпечні матеріали, яскраві кольори та комфортна посадка. Ідеальні для шкільних
            заходів, дитячих гуртків, таборів або сімейних принтів. Підходять для всіх методів друку, включно з
            шовкодруком та DTF.</p>
      </div>
   </div>

   <button class="models__btn" type="button">Обрати футболоку</button>
</section>