<section 
  data-fls-payment-Delivery_t-shirts 
  class="payment-delivery"
  itemscope 
  itemtype="https://schema.org/FAQPage"
>
  <h2 class="payment-delivery__title">Оплата и доставка</h2>

  <p class="payment-delivery__txt">
    Заказать печать на футболках у нас быстро и удобно. Мы предлагаем несколько вариантов оплаты и оперативную доставку по всей Украине.
  </p>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h3 class="payment-delivery__subtitle" itemprop="name">Способы оплаты:</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <ul class="payment-delivery__list" itemprop="text">
        <li class="payment-delivery__item">Безналичный расчет для физических и юридических лиц.</li>
        <li class="payment-delivery__item">Предоплата или частичная оплата по согласованию.</li>
      </ul>
    </div>
  </div>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h3 class="payment-delivery__subtitle" itemprop="name">Доставка:</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <ul class="payment-delivery__list" itemprop="text">
        <li class="payment-delivery__item">Новой почтой по Украине - 1-3 дня. Стоимость доставки согласно тарифам перевозчика.</li>
        <li class="payment-delivery__item">Самовывоз в Киеве (по договоренности).</li>
        <li class="payment-delivery__item">Курьерская доставка по городу.</li>
        <li class="payment-delivery__item">Международная доставка – по запросу.</li>
      </ul>
    </div>
  </div>

  <p class="payment-delivery__txt">
    Мы гарантируем своевременное изготовление и отправку, так что вы получите заказ вовремя и без хлопот.
  </p>
</section>
