<div data-fls-auth class="auth" data-component="auth" data-part="root">
   <!-- Форма логіну -->
   <form class="auth__form auth__form--login" action="/api/auth/login/" method="post" name="user-login"
      data-part="auth-form-login" autocomplete="off" novalidate="">
      <h4 class="auth__title">Вхід</h4>
      <label class="auth__label">
         <span class="auth__label-text">Телефон</span>
         <input type="tel" name="phone" class="auth__input" placeholder="Ваш телефон" required="">
      </label>
      <label class="auth__label">
         <span class="auth__label-text">Пароль</span>
         <input type="password" name="password" class="auth__input" placeholder="Ваш пароль" required="">
      </label>
      <button type="submit" class="auth__btn" data-action="auth-login">Увійти</button>
      <p class="auth__switch">
         Немає акаунту?
         <button type="button" class="auth__link" data-action="toggle-register">Зареєструватись</button>
      </p>
   </form>

   <!-- Форма реєстрації -->
   <form class="auth__form auth__form--register" action="/api/auth/register/" method="post" name="user-registretion"
      data-part="auth-form-register" autocomplete="off" novalidate="" hidden="">
      <h4 class="auth__title">Реєстрація</h4>
      <label class="auth__label">
         <span class="auth__label-text">Ім’я</span>
         <input type="text" name="name" class="auth__input" placeholder="Ваше ім’я" required="">
      </label>
      <label class="auth__label">
         <span class="auth__label-text">Телефон</span>
         <input type="tel" name="phone" class="auth__input" placeholder="Ваш телефон" required="">
      </label>
      <label class="auth__label">
         <span class="auth__label-text">E-mail (необовʼязково)</span>
         <input type="email" name="email" class="auth__input" placeholder="Ваш e-mail">
      </label>
      <label class="auth__label">
         <span class="auth__label-text">Пароль</span>
         <input type="password" name="password" class="auth__input" placeholder="Пароль" required="">
      </label>
      <label class="auth__label">
         <span class="auth__label-text">Повторіть пароль</span>
         <input type="password" name="confirm-password" class="auth__input" placeholder="Повторіть пароль" required="">
      </label>
      <button type="submit" class="auth__btn" data-action="auth-register">Зареєструватись</button>
      <p class="auth__switch">
         Уже маєте акаунт?
         <button type="button" class="auth__link" data-action="toggle-login">Увійти</button>
      </p>
   </form>

   <!-- Інформація про акаунт  користувача/вихід з акаута-->
   <!-- <h4 class="auth__title">Акаунт</h4>

   <div class="auth__info">
      <p class="auth__info-text"><strong>Андрій Бондар</strong></p>

      <p class="auth__info-text">0660216921</p>

      <p class="auth__info-text">b.andruchio@gmail.com</p>
      
      <p class="auth__info-text">Роль: <strong>admin</strong></p>
   </div> -->

</div>