<div class="auth" data-component="auth" data-part="root">
   <h4 class="auth__title">Акаунт</h4>

   <div class="auth__info">
      <p class="auth__text"><strong>Імʼя</strong></p>

      <p class="auth__text">
         00988757665
      </p>

      <p class="auth__text">
         email@net.i-ne.budet
      </p>

      <p class="auth__text">Роль:
         <strong>
            Роль-юзер
         </strong>
      </p>
   </div>

   <button type="button" class="auth__btn" data-action="auth-logout">Вийти</button>
</div>