<section 
  class="reviews" 
  data-fls-reviews_t-shirts 
  data-component="reviews_t-shirts" 
  data-part="expandable" 
  data-state="closed"
  itemscope 
  itemtype="https://schema.org/Product"
  aria-labelledby="reviews-title"
>
  <meta itemprop="name" content="Футболки з принтом" />
  <h2 class="reviews__title" id="reviews-title">Відгуки про нашу роботу</h2>

  <div class="reviews__rating" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="5" />
    <meta itemprop="reviewCount" content="4" />
  </div>

  <ul class="reviews__wrapper">
      <li class="reviews__card" itemprop="review" itemscope itemtype="https://schema.org/Review">
         <div class="reviews__card-header">
            <img 
               data-fls-image-ignore 
               src="@img/landing/reviewer1.webp" 
               alt="Фото користувача Nataliia Lutchyn" 
               class="reviews__avatar"
               itemprop="image"
            >
            <div class="reviews__info">
               <h3 class="reviews__name" itemprop="author">Nataliia Lutchyn</h3>
               <div class="reviews__stars-block" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                  <meta itemprop="ratingValue" content="5" />
                  <img data-fls-image-ignore src="@img/landing/objects.webp" alt="Зірка рейтингу" class="reviews__stars-img" aria-hidden="true">
                  <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
                  <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
                  <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
                  <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               </div>
            </div>
         </div>

         <div class="reviews__block">
         <p class="reviews__txt" itemprop="reviewBody">
            Відповідальна компанія. Уважна до деталей. З ними проблем нема. Рекомендую. Замовляли цілий ряд брендованої продукції. Всім задоволені.
         </p>
         <div class="reviews__image-wrapper">
            <img 
               data-fls-image-ignore 
               src="@img/landing/review1-1.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img _active"
            >
            <img 
               data-fls-image-ignore 
               src="@img/landing/review2-2.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img"
            >
            <img 
               data-fls-image-ignore 
               src="@img/landing/termo-printing.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img"
            >
         </div>
         <div class="reviews__dots" aria-hidden="true">
            <span class="reviews__dot _active"></span>
            <span class="reviews__dot"></span>
            <span class="reviews__dot"></span>
         </div>
         </div>
      </li>
      <li class="reviews__card" itemprop="review" itemscope itemtype="https://schema.org/Review">
         <div class="reviews__card-header">
         <img 
            data-fls-image-ignore 
            src="@img/landing/reviewer2.webp" 
            alt="Фото користувача Nataliia Lutchyn" 
            class="reviews__avatar"
            itemprop="image"
         >
         <div class="reviews__info">
            <h3 class="reviews__name" itemprop="author">Nataliia Lutchyn</h3>
            <div class="reviews__stars-block" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
               <meta itemprop="ratingValue" content="5" />
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="Зірка рейтингу" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
            </div>
         </div>
         </div>

         <div class="reviews__block">
         <p class="reviews__txt" itemprop="reviewBody">
            Відповідальна компанія. Уважна до деталей. З ними проблем нема. Рекомендую. Замовляли цілий ряд брендованої продукції. Всім задоволені.
         </p>
         <div class="reviews__image-wrapper">
            <img 
               data-fls-image-ignore 
               src="@img/landing/review2-2.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img _active"
            >
            <img 
               data-fls-image-ignore 
               src="@img/landing/review1-1.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img _active"
            >
         </div>
         <div class="reviews__dots" aria-hidden="true">
            <span class="reviews__dot _active"></span>
            <span class="reviews__dot"></span>
            <span class="reviews__dot"></span>
         </div>
         </div>
      </li>
      <li class="reviews__card" itemprop="review" itemscope itemtype="https://schema.org/Review">
         <div class="reviews__card-header">
         <img 
            data-fls-image-ignore 
            src="@img/landing/reviewer1.webp" 
            alt="Фото користувача Nataliia Lutchyn" 
            class="reviews__avatar "
            itemprop="image"
         >
         <div class="reviews__info">
            <h3 class="reviews__name" itemprop="author">Nataliia Lutchyn</h3>
            <div class="reviews__stars-block" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
               <meta itemprop="ratingValue" content="5" />
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="Зірка рейтингу" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
            </div>
         </div>
         </div>

         <div class="reviews__block">
         <p class="reviews__txt" itemprop="reviewBody">
            Відповідальна компанія. Уважна до деталей. З ними проблем нема. Рекомендую. Замовляли цілий ряд брендованої продукції. Всім задоволені.
         </p>
         <div class="reviews__image-wrapper">
            <img 
               data-fls-image-ignore 
               src="@img/landing/review1-1.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img _active"
            >
         </div>
         <div class="reviews__dots" aria-hidden="true">
            <span class="reviews__dot _active"></span>
            <span class="reviews__dot"></span>
            <span class="reviews__dot"></span>
         </div>
         </div>
      </li>
      <li class="reviews__card" itemprop="review" itemscope itemtype="https://schema.org/Review">
         <div class="reviews__card-header">
         <img 
            data-fls-image-ignore 
            src="@img/landing/reviewer1.webp" 
            alt="Фото користувача Nataliia Lutchyn" 
            class="reviews__avatar"
            itemprop="image"
         >
         <div class="reviews__info">
            <h3 class="reviews__name" itemprop="author">Nataliia Lutchyn</h3>
            <div class="reviews__stars-block" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
               <meta itemprop="ratingValue" content="5" />
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="Зірка рейтингу" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
               <img data-fls-image-ignore src="@img/landing/objects.webp" alt="" class="reviews__stars-img" aria-hidden="true">
            </div>
         </div>
         </div>

         <div class="reviews__block">
         <p class="reviews__txt" itemprop="reviewBody">
            Відповідальна компанія. Уважна до деталей. З ними проблем нема. Рекомендую. Замовляли цілий ряд брендованої продукції. Всім задоволені.
         </p>
         <div class="reviews__image-wrapper">
            <img 
               data-fls-image-ignore 
               src="@img/landing/review1-1.webp" 
               alt="Фото готової брендованої продукції"
               class="reviews__img _active"
            >
         </div>
         <div class="reviews__dots" aria-hidden="true">
            <span class="reviews__dot _active"></span>
            <span class="reviews__dot"></span>
            <span class="reviews__dot"></span>
         </div>
         </div>
      </li>
  </ul>
</section>
