<!--<script type="module" src="@components/custom/featch/featch.js"></script>-->

<script type="module" src="@components/pages/404/404.js"></script>
<link rel="stylesheet" href="@components/pages/404/404.scss">

<main class="page page--home">
   <block name="header">
      <include src="@components/sections/header/header.html" locals='{}'></include>
   </block>
   <block name="leftSideBar">
      <include src="@components/sections/leftSideBar/leftSideBar.html" locals='{}'></include>
   </block>
   <block name="navigation">
      <include src="@components/sections/navigation/navigation.html" locals='{}'></include>
   </block>
   <block name="mainScreen404">
      <include src="@components/404/mainScreen404/mainScreen404.html" locals='{}'></include>
   </block>
   <!-- <block name="sectionControlPanel">
      <include src="@components/adminMK/sectionControlPanel/sectionControlPanel.html" locals='{}'></include>
   </block> -->
   <!-- <block name="sectionSelectPanel">
      <include src="@components/adminMK/sectionSelectPanel/sectionSelectPanel.html" locals='{}'></include>
   </block> -->
   <!-- <block name="AddSectionBtn">
      <include src="@components/adminMK/AddSectionBtn/AddSectionBtn.html" locals='{}'></include>
   </block> -->



</main>