
// @import "contacts-form";
@use "contacts-form" as *;

.footer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas:
      "t t"
      "f i"
      "w w"
      "l l";
   
   background-color: #6f6f6f;
   overflow: hidden;
   width: 100%;
   @media (max-width: 768px) {
      grid-template-columns: 100%;
      grid-template-areas:
      "t"
      "f"
      "i"
      "w"
      "l";
   }
   // Заголовок футера
   &__title {
      grid-area: t;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.1em;
   }
   &__title-txt {
      text-align: center;
      text-transform: uppercase;
      color: $colorWhite;
      font-size: 2.1em;
      line-height: normal;
      text-transform: uppercase;
   }

   // Права/нижня частина футера
   &__contacts {
      grid-area: i;

      display: grid;
      grid-template-columns: min-content min-content 1fr;
      grid-template-rows: repeat(4, max-content);

      align-items: center;
      
      width: 85%;
      height: 400px;
      gap: 24px;
      margin: 15px auto 0 auto;
      @media (max-width: 1025px) {
         width: 95%;
      }
      @media (max-width: 768px) {
         width: 90%;
         justify-content: center;
      }
      @media (max-width: 426px) {
         grid-template-columns: min-content 1fr;
         grid-template-rows: repeat(4, max-content);
      }
      @media (max-width: 768px) {
         width: 90%;
      }
   }
   &__contacts-svg {
      width: 40px;
      height: 40px;
      fill: $colorLightGray;
      &._call {
         grid-column: 1 / 2;
         grid-row: 1 / 2;
      }
      &._e-mail {
         grid-column: 1 / 2;
         grid-row: 2 / 3;
      }
      &._adress {
         grid-column: 1 / 2;
         grid-row: 3 / 4;
      }
   }
   &__contacts-title {
      font-size: 1.2em;
      white-space: nowrap;
      line-height: normal;

      color: $colorLightGray;
      @media (max-width: 426px) {
         white-space: normal;
         font-size: 1em;
      }
      &._call-title {
         grid-column: 2 / 3;
         grid-row: 1 / 2;
         @media (max-width: 426px) {
            display: none;
         }
      }
      &._e-mail-title {
         grid-column: 2 / 3;
         grid-row: 2 / 3;
         @media (max-width: 426px) {
            display: none;
         }
      }
      &._adress-title {
         grid-column: 2 / 3;
         grid-row: 3 / 4;
         @media (max-width: 426px) {
            display: none;
         }
      }
   }
   &__contacts-description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      gap: 8px;
      &._call-description {
         grid-column: 3 / 4;
         grid-row: 1 / 2;
         @media (max-width: 426px) {
            grid-column: 2 / 3;
         }
      }
      &._e-mail-description {
         grid-column: 3 / 4;
         grid-row: 2 / 3;
         @media (max-width: 426px) {
            grid-column: 2 / 3;
         }
      }
      &._adress-description {
         grid-column: 3 / 4;
         grid-row: 3 / 4;
         @media (max-width: 426px) {
            grid-column: 2 / 3;
         }
      }
   }
   &__contacts-description-txt {
      font-size: 1.2em;
      color: $colorLightGray;
      &._important-txt {
         font-size: 1em;
         font-weight: 700;
      }
      &:nth-child(5) {
         margin-top: 16px;
      }
      @media (max-width: 426px) {
         white-space: normal;
         font-size: 1em;
      }
   }
   &__contacts-media{
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      display: flex;

      justify-content: center;
      width: auto;
      gap: 36px;
   }
   &__contacts-media-item {
      display: flex;
      width: min-content;
      height: min-content;

      justify-content: center;
      align-items: center;
   }
   &__contacts-media-item-link {
      display: block;
      cursor: pointer;
   }
   &__contacts-media-item-svg {
      width: 40px;
      height: 40px;

      fill: $colorLightGray;
   }
   &__whiteLine {
      grid-area: w;
      width: 100%;
      height: 1px;
      background-color: $colorLightGray;
      margin: 0 auto;
   }
   
   // Облако тегів/посилань
   &__links {
      width: 100svw;
      position: relative;
      grid-area: l;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;

      height: auto;

      gap: 4px;
      
      overflow-x: auto;
      @media (max-width: 1280px) {
         justify-content: start;
      }
      @media (min-width: 1024px) {
         padding-left: 68px;
      }
      @media (max-width: 1023px) {
         padding-bottom: 60px;
      }
   }
   &__links-list {
      margin: 12px 0 6px 0;
      width: max-content;

      min-width: 200px;
      color: $colorLightGray;
      font-size: 12px;
      @media (max-width: 1280px) {
         min-width: 230px;
      }
      @media (max-width: 426px) {
         min-width: 250px;
      }
   }
   &__links-section {
      margin: 0;
   }
   &__links-section-title {
      text-transform: uppercase;

      margin: 4px 0 8px 0;

      font-weight: 700;
      text-align: left;
      line-height: 16px;
      font-size: 16px;
   }
   &__links-sublist {
      font-size: 1.2em;
   }
   &__links-subsection-title {
      margin: 8px 0 4px 12px;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
   }
   &__links-item-link {
      margin: 8px 0 0 32px;
      color: $colorLightGray;
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      text-align: left;
      word-wrap: brak-word;
      transition: all .3s;
      &:hover{
         color: $colorLightOrange;
      }
      &._second-level-link {
         margin: 8px 0 0 20px;
         line-height: 16px;
         text-transform: uppercase;
      }
   }
}