<section data-fls-cover class="cover _t-shirts" style="--bg: linear-gradient(180deg, #F5F5F5 0%, #FBB03B 50%, #FD9800 100%)" data-component="cover" data-part="root" aria-label="Обкладинка сайту рекламної агенції МК">
  <picture class="cover__pic">
    <img class="cover__img" src="@img/coverLanding/coverT-shirts-1.webp" title="Обкладинка рекламної агенції МК" alt="Обкладинка рекламної агенції МК" />
  </picture>

  <div class="cover__content">
    <h1 class="cover__title _title-landing" id="cover-title">
      [[title]]
    </h1>
    <p class="cover__txt _color-txt" lang="uk-UA" id="cover-description">
      Швидкий друк, якісний матеріал, доставка по Україні.
    </p>
    <button class="cover__button _button-wht" data-action="open-modal" data-target="contact-form" data-part="button" type="button" aria-label="Замовити послугу"
    >
      Замовити
    </button>
  </div>
     <include src="@components/custom/modal/modal.html" locals='{
      "addClass": "",
      "modalName": "contact-form",
      "closeOrRemove": "close",
      "dirName": "custom",
      "fileName": "contactform"
   }'></include>
</section>
