<section data-fls-pageDescription class="page-description" aria-labelledby="about-title">
   <div class="page-description__title">
      <h2 id="about-title">Про компанію «Мега Компроміс» — виробництво рекламно-сувенірної продукції</h2>
   </div>
   <p class="page-description__txt" lang="uk-UA">
      Компанія <strong>«Мега Компроміс»</strong> надає широкий спектр <strong>рекламно-сувенірної продукції</strong> для нанесення логотипу, фотографії або корпоративної символіки. Маючи власну виробничу базу для нанесення зображень, <strong>«Мега Компроміс»</strong> може вирішити будь-яке завдання з нанесення зображення будь-якої складності. Для виготовлення продукції ми використовуємо друк, гравіювання, вишивку та інші способи нанесення на промо-продукцію. 
   </p>

   <p class="page-description__txt" lang="uk-UA">
      Ми зібрали на виробництві весь асортимент технологій нанесення, такі як: шовкотрафаретний друк, тамподрук, деколь, прямий друк по текстилю, УФ друк, сублімація, термотрансферний друк, лазерне гравіювання, вишивка, тиснення, плотерна порізка, цифровий друк, офсетний друк і багато іншого.
   </p>

   <p class="page-description__txt" lang="uk-UA">
      Завдяки цим технологіям ми можемо наносити логотипи, корпоративну символіку, графічні зображення на ручки, запальнички, брелоки, чашки, тарілки, попільнички, поліетиленові пакети, текстиль, пластик, метали, скло, кераміку, дерево та багато іншого, а також виготовляти наклейки, магніти, ароматизатори, килимки для миші, прапорці, вимпели, силіконові браслети.
   </p>

   <p class="page-description__txt" lang="uk-UA">
      Використовуючи напівавтоматичне обладнання, ми можемо в найкоротші терміни виконати навіть дуже велике замовлення, а за допомогою ручних верстатів — виконувати різні нестандартні замовлення та домагатися найвищої якості при виготовленні маленьких тиражів за рахунок повного (ручного) контролю над усім технологічним процесом.
   </p>

   <p class="page-description__txt" lang="uk-UA">
      Якщо вам потрібна <strong>сувенірна продукція з логотипом</strong>, швидше звертайтеся до наших менеджерів — вони обов’язково підберуть для вас найбільш підходящий варіант з точки зору ціни, якості та термінів. Не дарма ми <strong>«Мега Компроміс»</strong>! Основне завдання — не просто виготовляти сувеніри з вашим логотипом, а створювати кращу промо-продукцію саме таку, як хочете ви!
   </p>
</section>