<section data-fls-cover class="cover" style="--bg: #f5f5f5" data-part="root"
   aria-label="Обкладинка сайту рекламної агенції МК">
   <picture class="cover__pic">
      <img class="cover__img" src="@img/cover/coverMine.webp" title="Обкладинка рекламної агенції МК"
         alt="Обкладинка рекламної агенції МК" />
   </picture>

   <div class="cover__content">
      <h1 class="cover__title" id="cover-title" data-part="title">
         [[title]]
      </h1>
      <p class="cover__txt" lang="uk-UA" id="cover-description" data-part="description">
         Футболки, чашки, ручки, пакети, кепки та десятки інших позицій. Допоможемо з дизайном, виготовимо в термін від
         2 днів, доставимо по всій Україні.
      </p>
      <button class="cover__button" data-action="open-modal" data-target="contact-form" data-part="button" type="button"
         aria-label="Замовити послугу">
         Замовити
      </button>
   </div>
   <include src="@components/custom/modal/modal.html" locals='{
      "addClass": "",
      "modalName": "contact-form",
      "closeOrRemove": "close",
      "dirName": "custom",
      "fileName": "contactform"
   }'></include>
</section>