<section data-fls-cover class="cover" style="--bg: #f5f5f5" aria-label="Баннер обложка сайта агентства МК">
  <picture class="cover__pic">
    <img class="cover__img" src="@img/cover/coverMine.webp" title="Главний баннер агентства МК" alt="Главний баннер агентства МК" />
  </picture>

  <div class="cover__content">
    <h1 class="cover__title" id="cover-title">
      [[title]]
    </h1>
    <p class="cover__txt" lang="uk-UA" id="cover-description">
      Футболки, кружки, ручки, пакеты, кепки и десятки других позиций. Поможем с дизайном, изготовим в срок от 2 дней, доставим по всей Украине.
    </p>
    <button
    class="cover__button"
    data-name="view-contact-form"
    type="button"
    aria-label="Замовити послугу"
    >
      Заказать
    </button>
  </div>
</section>
