
// Обкладинка
.cover {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   position: relative;

   width: 100%;
   height: 80svh;

   background: var(--bg);

   overflow: hidden;

   // Сніг для нового року
   &._snowfall {
      position: relative;
   }
   &__pic {
      display: flex;
      justify-self: flex-end;
      align-self: flex-end;
      grid-column: 2 / 4;
      grid-row: 1 / 4;

      max-height: 100%;
      
      object-fit: cover;
      // ПЛАНШЕТИ
      @media (max-width: 1024px) {
      /* горизонтальний планшет */ 
         grid-column: 1 / 4;
         width: 70%;
      }
      @media (max-width: 768px) {
      /* вертикальний планшет або великий мобільний телефон */
         width: 100%;
         font-size: 8svw;
      }
   }
   &__img {
      height: 100%;
   }
   &__content {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content 1fr;

      width: 100%;

      justify-content: flex-start;
      align-items: flex-end;

      // padding-bottom: 24px;
      padding-left: 80px;
      gap: 24px;
      @media (max-width: 1023px) {
         grid-column: 1 / 3;
         padding-left: 0;
      }
      @media (max-width: 768px) {
      /* вертикальний планшет або великий мобільний телефон */
         grid-column: 1 / 4;
         justify-content: center;
         height: 65svh;
         padding-left: 0;
      }
   }
   &__title {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      width: var(--titleWidth);


      margin: 0;

      font-weight: 700;
      font-size: 68px;
      line-height: 1.2em;

      text-align: left;
      text-transform: uppercase;

      color:  var(--color);
      // ПЛАНШЕТИ
      @media (max-width: 1023px) {
      /* горизонтальний планшет */
         width: 100%;
         padding-left: 16px;
         font-size: 48px;
      }
      @media (max-width: 768px) {
      /* вертикальний планшет або великий мобільний телефон */
         grid-column: 1 / 2;
         text-align: center;
         font-size: 6svw;
      }
      // ТЕЛЕФОН
      @media (max-width: 450px) {
            font-size: 8svw;
            line-height: 1.5em;
      }
   }
   &__txt {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      hyphens: auto;
      width: 50%;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      text-align: left;

      // mix-blend-mode: difference;
      letter-spacing: 0.02em;
      color: var(--txtColor);
      &._view {
         -webkit-line-clamp: unset;
      }

      @media (max-width: 1023px) {
      /* вертикальний планшет або великий мобільний телефон */
         width: 50%;
         margin: 0 36px;
      }
      @media (max-width: 768px) {
      /* вертикальний планшет або великий мобільний телефон */
         width: auto;

      }  
   }
   &__button {
      display: flex;
      width: min-content;
      height: min-content;
      grid-column: 1 / 2;
      grid-row: 3 / 4;

      align-self: flex-end;
      padding: 1em 1.5em;
      margin: 0 0 0 16px;

      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      border-radius: 20px;
      border: solid 2px var(--btnBorderColor);
      background-color: var(--btnBg);
      color: var(--btnColor);

      transition: all .3s;
      &:hover {
         scale: .97;
      }
      @media (min-width: $tabletWidth) {
         align-self: center;
         margin: 0 0 0 24px;
      }
   }
   // ПЛАНШЕТИ
   @media (max-width: 1024px) {
   /* горизонтальний планшет */ 
         height: 50svh;
   }
   @media (max-width: 768px) {
      height: 75svh;
   }
}

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -1%;
}
.snowfall,
.snowfall::before,
.snowfall::after {
  position: absolute;
  inset: 0;
  content: "";
  overflow: hidden;
  pointer-events: none;

  background-image: radial-gradient(
      circle at 5% calc(var(--y) * 1),
      #fff 3px,
      transparent 6px
    ),
    radial-gradient(
      circle at 65% calc(var(--y) * 1.3),
      #fff 2px,
      transparent 4px
    );
}
.snowfall {
   animation: snowfall 20s linear infinite;
   background-size: 65% 100%;
   &._extra {
      animation: snowfall 16s 10s linear infinite, windExtra 16s ease-in-out infinite;
      background-size: 75% 100%;
      opacity: 0.5;
      &::before {
         inset: -6rem 0 0;
         opacity: 0.8;
         animation: snowfall 25s 13s linear infinite, wind 25s ease-in-out infinite;
         background-size: 40% 100%;
      }
      &::after {
         inset: -8rem 0 0;
         opacity: 0.6;
         animation: snowfall 22s 16s linear infinite, wind 22s ease-in-out infinite;
         background-size: 36% 100%;
      }
   }
   &::before {
      inset: -4rem 0 0;
      opacity: 0.7;
      animation: snowfall 27s linear infinite, wind 27s ease-in-out infinite;
      background-size: 45% 100%;
   }
   &::after {
      inset: -8rem 0 0;
      opacity: 0.8;
      animation: snowfall 37s linear infinite, wind 47s ease-in-out infinite;
      background-size: 32% 100%;
   }
}

@keyframes snowfall {
  0% {
    --y: -1%;
  }
  100% {
    --y: 101%;
  }
}

@keyframes wind {
  50% {
    translate: 200px;
  }
}

@keyframes windExtra {
  50% {
    translate: -100px;
  }
}

.christmas-gifts {
   position: fixed;
   top: 70%;
   left: 70%;
   transform: translateY(-50%);
   width: 0;
   height: 0;
   z-index: 3000;
   overflow: hidden;
   animation: emersion 1s ease 1s 1 normal forwards;
   &__close {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 0;
      height: 0;
      background: $colorWhite;
      border-radius: 50%;
      transform: rotate(45deg);
      box-shadow: 0 0 8px rgba(0, 0, 0, .5);
      transition: all .3s ease;
      z-index: 3001;
      overflow: hidden;
      animation: appearance .3s ease 2.2s 1 normal forwards;
      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 60%;
         height: 4px;
         background: $colorDarkGray;
         border-radius: 3px;
      }
      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 4px;
         height: 60%;
         background: $colorDarkGray;
         border-radius: 3px;
      }
      &:hover {
         scale: 1.2;
      }
   }
   &__link {
      width: 100%;
      height: auto;
   }
   &__img {
      width: 100%;
      height: auto;
      transition: all .3s;
      animation: shudder 3s ease 3.2s infinite normal none;
      &:hover {
         scale: .95;
      }
   }
}

@keyframes emersion {
   0% {
      width: 0;
      height: 0;
   }
   50% {
      width: 320px;
      height: 279px;
   }
   70% {
      width: 290px;
      height: 253px;
   }
   85% {
      width: 310px;
      height: 270px;
   }
   97% {
      width: 295px;
      height: 257px;
   }
   100% {
      width: 300px;
      height: 262px;
   }
}
@keyframes appearance {
   0% {
      width: 0;
      height: 0;
   }
   75% {
      width: 44px;
      height: 44px;
   }
   100% {
      width: 36px;
      height: 36px;
   }
}
@keyframes shudder {
   0% {
      transform: rotate(0);
      scale: 1.05;
   }
   5% {
      transform: rotate(15deg);
      scale: 1.05;
   }
   10% {
      transform: rotate(-15deg);
      scale: 1.05;
   }
   15% {
      transform: rotate(15deg);
      scale: 1.05;
   }
   20% {
      transform: rotate(-15deg);
      scale: 1.05;
   }
   25% {
      transform: rotate(0);
      scale: 1;
   }
   100% {
      transform: rotate(0);
      scale: 1;
   }
}
