<section data-fls-cover class="cover _t-shirts" aria-label="Обкладинка сайту рекламної агенції МК">
  <picture class="cover__pic">
    <img class="cover__img" src="@img/coverLanding/coverLanding.webp" title="Обкладинка рекламної агенції МК" alt="Обкладинка рекламної агенції МК" />
  </picture>

  <div class="cover__content">
    <h1 class="cover__title _color-title" id="cover-title">
      [[title]]
    </h1>
    <p class="cover__txt _color-txt" lang="uk-UA" id="cover-description">
      Швидкий друк, якісний матеріал, доставка по Україні.
    </p>
    <button
    class="cover__button _button-wht"
    data-name="view-contact-form"
    type="button"
    aria-label="Замовити послугу"
    >
      Замовити
    </button>
  </div>
</section>
