<section data-fls-cover class="cover" aria-label="Обкладинка сайту рекламної агенції МК">
  <picture class="cover__pic">
    <img class="cover__img" src="@img/coverLanding/coverLanding.webp" title="Обкладинка рекламної агенції МК" alt="Обкладинка рекламної агенції МК" />
  </picture>

  <div class="cover__content">
    <h1 class="cover__title" id="cover-title">
      [[title]]
    </h1>
    <p class="cover__txt" lang="uk-UA" id="cover-description">
      Футболки, чашки, ручки, пакети, кепки та десятки інших позицій. Допоможемо з дизайном, виготовимо в термін від 2 днів, доставимо по всій Україні.
    </p>
    <button
    class="cover__button"
    data-name="view-contact-form"
    type="button"
    aria-label="Замовити послугу"
    >
      Замовити
    </button>
  </div>
</section>
