<section data-fls-page_breadcrumbs class="page-breadcrumbs" style="--bgColor: #f5f5f5">
    <a class="page-breadcrumbs__home-page-link" href="http://localhost:1111/index.html">
        <svg class="page-breadcrumbs__home-page-link-svg" aria-hidden="true" focusable="false">
            <use xlink:href="/__spritemap__33df8242#sprite-home"></use>
         </svg>
    </a>
    <span class="page-breadcrumbs__link-arrow"></span>
    <button class="page-breadcrumbs__btn" type="button">
        <span class="page-breadcrumbs__btn-item"></span>
        <div class="page-breadcrumbs__hidden-links">
            <ul class="page-breadcrumbs__hidden-links-wrapper">
                <li class="page-breadcrumbs__link-box">
                    <a class="page-breadcrumbs__hidden-links-item">Link #1</a>
                    <span class="page-breadcrumbs__link-arrow"></span>
                </li>
                <li class="page-breadcrumbs__link-box">
                    <a class="page-breadcrumbs__hidden-links-item">Long Link #2</a>
                    <span class="page-breadcrumbs__link-arrow"></span>
                </li>
                <li class="page-breadcrumbs__link-box">
                    <a class="page-breadcrumbs__hidden-links-item">Very very Long Link #3</a>
                    <span class="page-breadcrumbs__link-arrow"></span>
                </li>
            </ul>
        </div>
    </button>
    <span class="page-breadcrumbs__link-arrow"></span>
    
    <div class="page-breadcrumbs__links-wrapper">
        <a class="page-breadcrumbs__link">Long Link #4</a>
        <span class="page-breadcrumbs__link-arrow"></span>
        <a class="page-breadcrumbs__link">Very Long Link #5</a>
    </div>
</section>