<section data-fls-contactUs_t-shirts class="contact-us">
   <h2 class="contact-us__title">Все ще є питання? Напишіть нам.</h2>
   <p class="contact-us__txt">Наші менеджери нададуть відповіді на всі ваші запитання, допоможуть підібрати футболки,
      підкажуть який метод нанесення підійде вам найкращим чином, розрахують вартість замовлення, тощо.</p>
   <div class="contact-us__block">
      <div class="contact-us__social-networks">
         <div class="contact-us__group">
            <div class="contact-us__item">
               <a href="#" title="Telegram"><img class="contact-us__img" data-fls-image-ignore src="@img/landing/telegram-t-shirts.webp" alt="Image"></a>
               <span class="contact-us__name">Telegram</span>
            </div>
            <div class="contact-us__item">
               <a href="#" title="Viber"><img class="contact-us__img" data-fls-image-ignore src="@img/landing/viber-t-shirts.webp" alt="Image"></a>
               <span class="contact-us__name">Viber</span>
            </div>
            <div class="contact-us__item">
               <a href="#" title="Instagram"><img class="contact-us__img" data-fls-image-ignore src="@img/landing/instagram-t-shirts.webp" alt="Image"></a>
               <span class="contact-us__name">Instagram</span>
            </div>
            <div class="contact-us__item">
               <a href="#" title="Facebook"><img class="contact-us__img" data-fls-image-ignore src="@img/landing/facebook-t-shirts.webp" alt="Image"></a>
               <span class="contact-us__name">Facebook</span>
            </div>
            <div class="contact-us__item">
               <a href="#" title="E-mail"><img class="contact-us__img" data-fls-image-ignore src="@img/landing/e-mail-t-shirts.webp" alt="Image"></a>
               <span class="contact-us__name">E-mail</span>
            </div>
         </div>
         <p class="contact-us__description">Звʼяжіться з нами зручним для вас способом, щоб отримати консультацію з приводу друку на футболках</p>
      </div>
      <div class="contact-us__contacts-form">
         <form action="/" name="contactUs">
            <label for="phone">Телефон:<i>*</i></label>
            <input id="phone" type="tel" name="phone" required="">
            <label for="name">Імʼя:<i>*</i></label>
            <input id="name" type="text" name="name" required="">
            <label for="text">Повідомлення:</label>
            <textarea id="text" name="text"></textarea>
            <input data-send-contactUs-form type="submit" value="Надіслати" name="contactBtn">
         </form>
      </div>
   </div>

</section>