<!--<script type="module" src="@components/custom/featch/featch.js"></script>-->

<script type="module" src="@components/pages/adminMK/home.js"></script>
<link rel="stylesheet" href="@components/pages/adminMK/home.scss">

<main class="page page--home">
   <block name="mainScreen404">
      <include src="@components/adminMK/mainScreen404/mainScreen404.html" locals='{}'></include>
   </block>
   <!-- Меню вставки компонента на сторінку -->
   <block name="componentInsertButton">
      <include src="@components/adminMK/componentInsertButton/componentInsertButton.html" locals='{}'></include>
   </block>
   <block name="componentInsertMenu">
      <include src="@components/adminMK/componentInsertMenu/componentInsertMenu.html" locals='{}'></include>
   </block>
   <!-- Меню редагування змінних компонента на сторінці -->
   <block name="componentEditButtons">
      <include src="@components/adminMK/componentEditButtons/componentEditButtons.html" locals='{}'></include>
   </block>
   <block name="componentEditMenu">
      <include src="@components/adminMK/componentEditMenu/componentEditMenu.html" locals='{}'></include>
   </block>
   <block name="mainScreen404">
      <include src="@components/adminMK/mainScreen404/mainScreen404.html" locals='{}'></include>
   </block>
</main>