<script type="module" src="@components/custom/featch/featch.js"></script>

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
   <block name="sectionControlPanel">
		<include src="@components/adminMK/sectionControlPanel/sectionControlPanel.html" locals='{}'></include>
	</block>
   <block name="CreateNewPageBtn">
		<include src="@components/adminMK/CreateNewPageBtn/CreateNewPageBtn.html" locals='{}'></include>
	</block>

   <block name="mainScreen404">
		<include src="@components/adminMK/mainScreen404/mainScreen404.html" locals='{}'></include>
	</block>
   <block name="sectionControlPanel">
		<include src="@components/adminMK/sectionControlPanel/sectionControlPanel.html" locals='{}'></include>
	</block>
   <block name="sectionSelectPanel">
		<include src="@components/adminMK/sectionSelectPanel/sectionSelectPanel.html" locals='{}'></include>
	</block>
   <block name="AddSectionBtn">
		<include src="@components/adminMK/AddSectionBtn/AddSectionBtn.html" locals='{}'></include>
	</block>


   <block name="leftSideBar">
		<include src="@components/layout/leftSideBar/leftSideBar.html" locals='{}'></include>
	</block>
   <block name="navigation">
		<include src="@components/layout/navigation/navigation.html" locals='{}'></include>
	</block>
</main>
