<section data-fls-catalog-cover class="catalog-cover" data-component="catalogCover" data-part="root" aria-label="Обкладинка каталогу товарів рекламної агенції МК">
   <div class="catalog-cover__wrapper">
      <div class="catalog-cover__gradient-bg"></div>
      <div class="catalog-cover__blure-bg"></div>
      <picture class="catalog-cover__pic">
         <img data-fls-image-ignore class="catalog-cover__img" src="@img/cover/coverCatalogPen3.webp" alt="Image" title="Image">
      </picture>
      <h1 class="catalog-cover__title">Каталог ручок для нанесення логотипа</h1>
      <button type="button" class="catalog-cover__btn">Замовити</button>
   </div>
   <include src="@components/custom/modal/modal.html" locals='{
      "addClass": "",
      "modalName": "contact-form",
      "closeOrRemove": "close",
      "dirName": "custom",
      "fileName": "contactform"
   }'></include>
</section>