<div data-fls-componentEditMenu class="component-edit-menu-container _view" data-component="component_edit_menu"
   data-part="root">
   <!-- Хедер меню -->
   <header class="component-edit-menu-container__menu-header">
      <button class="component-edit-menu-container__close" type="button" data-action="close-menu"
         data-target="edit-menu" aria-label="Закрити меню"></button>
      <p class="component-edit-menu-container__title">Меню редагування параметрів секції header</p>
   </header>

   <div class="component-edit-menu-container__items-wraper" action="/setup/section/select/" title="select section"
      method="post" enctype="multipart/form-data">

      <!-- Навігаційний блок меню -->
      <div class="component-edit-menu-container__menu-navigation-block">
         <p class="component-edit-menu-container__items-title">Параметри компонента</p>
         <div class="component-edit-menu-container__menu-navigation-items">
            <a class="component-edit-menu-container__item" href="#titleh2" title="title">Title h2</a>
            <a class="component-edit-menu-container__item" href="#subtitle" title="subtitle">Subtitle</a>
            <a class="component-edit-menu-container__item" href="#text" title="text">Text</a>
            <a class="component-edit-menu-container__item" href="#img" title="img" data-name="btn"
               data-id="param-1">Image</a>
            <a class="component-edit-menu-container__item" href="#list" title="list" data-name="btn"
               data-id="param-2">List</a>
         </div>
         <p class="component-edit-menu-container__items-title">Елементи компонента</p>
         <div class="component-edit-menu-container__menu-navigation-items">
            <a class="component-edit-menu-container__item" href="#titleh2" title="title">Title h2</a>
            <a class="component-edit-menu-container__item" href="#subtitle" title="subtitle">Subtitle</a>
            <a class="component-edit-menu-container__item" href="#text" title="text">Text</a>
            <a class="component-edit-menu-container__item" href="#img" title="img" data-name="btn"
               data-id="param-1">Image</a>
            <a class="component-edit-menu-container__item" href="#list" title="list" data-name="btn"
               data-id="param-2">List</a>
            <!-- Кнопка "Додати елемент" -->
            <button type="button" class="component-edit-menu-container__add-component-element"></button>
         </div>
      </div>

      <!-- Блок введення данних меню -->
      <ul class="component-edit-menu-container__list">
         <!-- Змінні компонента -->
         <li class="component-edit-menu-container__tile">
            <p class="component-edit-menu-container__tile-name">Title h2</p>
            <form class="component-edit-menu-container__form" id="titleh2">
               <div class="component-edit-menu-container__field _has-value">
                  <textarea class="component-edit-menu-container__param-input _textarea" name="param-input"
                     data-autosize="true" data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
               </div>
               <!-- Кнопка "Підтвердження змін" -->
               <input class="component-edit-menu-container__submit-btn" type="submit" value="OK">
            </form>
         </li>
         <li class="component-edit-menu-container__tile">
            <p class="component-edit-menu-container__tile-name">Subtitle</p>
            <form class="component-edit-menu-container__form" id="titleh2">
               <div class="component-edit-menu-container__field _has-value">
                  <textarea class="component-edit-menu-container__param-input _textarea" name="param-input"
                     data-autosize="true" data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
               </div>
               <!-- Кнопка "Підтвердження змін" -->
               <input class="component-edit-menu-container__submit-btn" type="submit" value="OK">
            </form>
         </li>
         <li class="component-edit-menu-container__tile">
            <p class="component-edit-menu-container__tile-name">logo</p>

            <ul class="component-edit-menu-container__tile-params">
               <li>
                  <p>href</p>
                  <form class="component-edit-menu-container__form" id="titleh2">
                     <div class="component-edit-menu-container__field _has-value">
                        <textarea class="component-edit-menu-container__param-input _textarea" name="param-input"
                           data-autosize="true"
                           data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
                     </div>
                     <!-- Кнопка "Підтвердження змін" -->
                     <input class="component-edit-menu-container__submit-btn" type="submit" value="OK">
                  </form>
               </li>
               <li>
                  <p>title</p>
                  <form class="component-edit-menu-container__form" id="titleh2">
                     <div class="component-edit-menu-container__field _has-value">
                        <textarea class="component-edit-menu-container__param-input _textarea" name="param-input"
                           data-autosize="true"
                           data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
                     </div>
                     <!-- Кнопка "Підтвердження змін" -->
                     <input class="component-edit-menu-container__submit-btn" type="submit" value="OK">
                  </form>
               </li>
               <li>
                  <p>img_alt</p>
                  <form class="component-edit-menu-container__form" id="titleh2">
                     <div class="component-edit-menu-container__field _has-value">
                        <textarea class="component-edit-menu-container__param-input _textarea" name="param-input"
                           data-autosize="true"
                           data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
                     </div>
                     <!-- Кнопка "Підтвердження змін" -->
                     <input class="component-edit-menu-container__submit-btn" type="submit" value="OK">
                  </form>
               </li>
               <li>
                  <p>img_src</p>
                  <form class="component-edit-menu-container__form" id="titleh2">
                     <div class="component-edit-menu-container__field _has-value">
                        <textarea class="component-edit-menu-container__param-input _textarea" name="param-input"
                           data-autosize="true"
                           data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
                     </div>
                     <!-- Кнопка "Підтвердження змін" -->
                     <input class="component-edit-menu-container__submit-btn" type="submit" value="OK">
                  </form>
               </li>
            </ul>

            <!-- Кнопка "Додати input" -->
            <button type="button" class="component-edit-menu-container__add-input-btn"></button>
            <!-- Блок кнопок "Налаштування", "Видалити" -->
            <div class="component-edit-menu-container__buttons-block">
               <!-- Кнопка "Налаштування" -->
               <button class="component-edit-menu-container__block-settings-btn" type="button"
                  title="Налаштування блоку">
                  <svg class="component-edit-menu-container__block-settings-btn-svg">
                     <use xlink:href="__spritemap#sprite-GearNew"></use>
                  </svg>
               </button>
               <!-- Кнопка "Видалити" -->
               <button class="component-edit-menu-container__del-button" type="button" title="Налаштування блоку">
                  <svg class="component-edit-menu-container__del-button-svg">
                     <use xlink:href="__spritemap#sprite-del_btn"></use>
                  </svg>
               </button>
            </div>
         </li>
      </ul>
   </div>
</div>