<div data-fls-componentEditMenu class="component-edit-menu _view" data-component="component_edit_menu" data-part="root">
   <!-- Хедер меню -->
   <header class="component-edit-menu__menu-header">
      <button class="component-edit-menu__close" type="button" data-action="close-menu" data-target="edit-menu" aria-label="Закрити меню"></button>
      <p class="component-edit-menu__title">Меню редагування параметрів header</p>
   </header>

   <div class="component-edit-menu__items-wraper" action="/setup/section/select/" title="select section" method="post" enctype="multipart/form-data">

      <!-- Навігаційний блок меню -->
      <div class="component-edit-menu__menu-navigation-block">
         <ul class="component-edit-menu__menu-navigation-items">
            <p class="component-edit-menu__items-title">Параметри компонента</p>
            <li class="component-edit-menu__menu-navigation-li">
               <a class="component-edit-menu__item" href="#titleh2" title="title">Title h2</a>
            </li>
            <li class="component-edit-menu__menu-navigation-li">
               <a class="component-edit-menu__item" href="#subtitle" title="subtitle">Subtitle</a>
            </li>
         </ul>
         <ul class="component-edit-menu__menu-navigation-items">
            <p class="component-edit-menu__items-title">Елементи компонента</p>
            <li class="component-edit-menu__menu-navigation-li">
               <div class="component-edit-menu__menu-navigation-btns">
                  <batton class="component-edit-menu__item" type="button" title="title">Logo</batton>
                  <button type="button" class="component-edit-menu__submenu-open-btn _hide"></button>
               </div>
               <ul class="component-edit-menu__submenu-navigation-items">
                  <li class="component-edit-menu__menu-navigation-li">
                     <batton class="component-edit-menu__item _submenu" type="button" title="title">Image</batton>
                  </li>
                  <li class="component-edit-menu__menu-navigation-li">
                     <batton class="component-edit-menu__item _submenu" type="button" title="title">Width</batton>
                  </li>
               </ul>
            </li>
            <li class="component-edit-menu__menu-navigation-li">
               <div class="component-edit-menu__menu-navigation-btns">
                  <batton class="component-edit-menu__item" type="button" title="title">Language</batton>
                  <button type="button" class="component-edit-menu__submenu-open-btn _show"></button>
               </div>
               <ul class="component-edit-menu__submenu-navigation-items _collapsed-menu">
                  <li class="component-edit-menu__menu-navigation-li">
                     <batton class="component-edit-menu__item _submenu" type="button" title="title">Img</batton>
                  </li>
               </ul>
            </li>
            <li class="component-edit-menu__menu-navigation-li">
               <div class="component-edit-menu__menu-navigation-btns">
                  <batton class="component-edit-menu__item" type="button" title="title">Search</batton>
               </div>
            </li>
         </ul>
         <!-- Кнопка "Додати елемент" -->
         <button type="button" class="component-edit-menu__add-component-element"></button>
         
      </div>

      <!-- Блок введення данних меню -->
      <ul class="component-edit-menu__list">
         <!-- Змінні компонента -->
         <li class="component-edit-menu__tile">
            <form class="component-edit-menu__form" id="titleh2">
               <p class="component-edit-menu__input-name">Title h2</p>
               <textarea class="component-edit-menu__param-input" name="param-input" data-autosize="true" data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
               <!-- Кнопка "Підтвердження змін" -->
               <input class="component-edit-menu__submit-btn" type="submit" value="OK">
            </form>
         </li>
         <li class="component-edit-menu__tile">
            <form class="component-edit-menu__form" id="titleh2">
               <p class="component-edit-menu__input-name">Subtitle</p>
               <textarea class="component-edit-menu__param-input" name="param-input" data-autosize="true" data-placeholder="Введіть значення…">Значення компоненту/змінної</textarea>
               <!-- Кнопка "Підтвердження змін" -->
               <input class="component-edit-menu__submit-btn" type="submit" value="OK">
            </form>
         </li>

      </ul>
   </div>
</div>