
.component-edit-menu-container {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 16px;
   right: -110%;
   height: auto;
   width: auto;
   padding: 8px 8px 8px 12px;
   gap: 16px;

   border-radius: 20px 0px 0px 20px;
   border: 1px solid $colorWhite;
   background: rgba(111, 111, 111, 0.40);
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30), 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
   backdrop-filter: blur(10px);

   overflow: hidden;
   z-index: 1000;

   transition: all .5s;

   &._view {
      right: 0;
      transition: all .3s;
   }
   // Хедер меню
   &__menu-header {
   display: flex;
   align-items: center;
   gap: 12px;
   // Кнопка закриття меню 
   &__close {
      position: relative;

      width: 28px;
      height: 28px;
      border-radius: 50%;

      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.5);

      cursor: pointer;
      transition: all 0.25s ease;

      &::before,
      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         background: #fff;
         border-radius: 2px;
      }

      &::before {
         width: 14px;
         height: 2px;
      }

      &::after {
         width: 2px;
         height: 14px;
      }

      &:hover {
         background: rgba(255, 255, 255, 0.25);
         box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
         //transform: translateY(-50%) rotate(135deg);
      }
   }
   // Заголовок меню
   &__title {
   margin: 0;

   font-family: Montserrat;
   font-size: 16px;
   line-height: 18px;
   font-weight: 600;

   color: #ffffff;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   }
}
// Налаштування компоненту   
   &__items-wraper {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: min-content 1fr;
      width: 100%;
      height: 88svh;

      gap: 12px;
   }
   // Блок навігаціїспо меню
   &__menu-navigation-block {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      width: auto;
      max-width: 200px;
      height: min-content;

      gap: 20px;
      padding: 16px;
      border-radius: 16px;
      border: 1px solid #F5F5F5;
      background: rgba(111, 111, 111, 0.60);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
   }
   &__items-title {
      width: max-content;
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
      color: $colorLightGray;
   }
   &__menu-navigation-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      width: 100%;

      gap: 12px;
   }
   &__item {
      display: block;
      position: relative;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      text-align: left;
      color: $colorLightGray;
      text-decoration: none;

      transition: all .3s;
      &::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: -2px;
         width: 0%;
         height: 0;
         background-color: $colorLightGray;
         transition: all .3s;
      }
      &:hover {
         &::after {
            width: 100%;
            height: 1px;
         }
      }
   }
   // Кнопка додавання компонента/змінної
   &__add-component-element {
      position: relative;
      display: flex;
      align-self: center;
      width: 28px;
      height: 28px;
      margin-top: 12px;
      background: $colorLightGray;
      box-shadow: 1px 1px 2px rgba(111, 111, 111, .8), inset 1px 1px 2px #FFF, inset -1px -1px 2px rgba(111, 111, 111, .4);
      border-radius: 50%;
      transition: all .3s;
      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         width: 3px;
         height: 16px;

         background: $colorDarkGray;
         border-radius: 2px;
      }
      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         width: 16px;
         height: 3px;

         background: $colorDarkGray;
         border-radius: 2px;
      }
      &:hover {
         transform: scale(1.1);
         box-shadow: 2px 2px 4px rgba(111, 111, 111, .7), inset 1px 1px 2px #FFF, inset -1px -1px 2px rgba(111, 111, 111, .4);
      }
   }

   // Меню введення парамеьрів/змінних компоненту
   &__list {   
      grid-column: 2/3;
      grid-row: 1/3;   
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      width: min-content;

      padding: 8px;
      gap: 8px;

      border-radius: 20px;
      border: 1px solid #F5F5F5;
      background: rgba(245, 245, 245, .6);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);

      overflow-y: scroll;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
         display: none;
      }
   }
   // Картка параметрів/змінних
   &__tile {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      width: min-content;

      padding: 8px;
      gap: 8px;

      border-radius: 16px;
      border: 1px solid #F5F5F5;
      background: rgba(111, 111, 111, 0.60);
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
      
      transition: all .3s;
      &._action {
         animation: element-illumination 2s linear;
         box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
         background: rgba(111, 111, 111, 0.4);
         transition: all .3s;
      }
   }
   &__form {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-template-rows: min-content min-content min-content;

      width: 100%;

      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center;

      gap: 12px;
   }
   &__tile-name {
      grid-column: 1/3;
      grid-row: 1/2;
      width: max-content;
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      text-align: center;
      color: $colorWhite;
   }
   &__param-input {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      align-self: center;
      width: clamp(320px, 75vw, 1200px);
      min-height: 3em;
      margin-bottom: 4px;
      padding: 8px;

      border-radius: 16px;
      border: 1px solid $colorWhite;
      background: $colorLightGray;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25), 1px 1px 2px 0 rgba(0, 0, 0, .25) inset;

      font-size: 12px;
      line-height: 14px;
      resize: vertical;
      &::-webkit-scrollbar {
         display: none;
      }
      font-weight: 400;
      text-align: left;
      color: $colorDarkGray;
   }
   &__submit-btn {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      aspect-ratio: 1 / 1;

      transition: all .3s;

      color: $colorWhite;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;

      padding: 1.2em;

      border-radius: 50%;
      background: $colorOrange;
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
      &:hover{
         background: $colorLightOrange;
         color: $colorDarkGray;
      }
   }
   &__add-input-btn {
      grid-column: 1/3;
      grid-row: 3/4;
      position: relative;
      display: flex;
      justify-self: center;
      width: 32px;
      height: 32px;

      border-radius: 50%;
      background: $colorLightGray;
      box-shadow: 1px 1px 2px rgba(111, 111, 111, .8), inset 1px 1px 2px #FFF, inset -1px -1px 2px rgba(111, 111, 111, .4);

      transition: all .3s;
      &::before {
         content: '';
         position: absolute;
         width: 3px;
         height: 20px;

         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         background: $colorDarkGray;
         border-radius: 2px;
      }
      &::after {
         content: '';
         position: absolute;
         width: 20px;
         height: 3px;

         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         background: $colorDarkGray;
         border-radius: 2px;
      }
      &:hover {
         transform: scale(1.1);
         box-shadow: 2px 2px 4px rgba(111, 111, 111, .7), inset 1px 1px 2px #FFF, inset -1px -1px 2px rgba(111, 111, 111, .4);
      }
   }
   &__buttons-block {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      width: 100%;

      gap: 12px;
      padding: 0 20px 0 0;
   }
   &__block-settings-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 24px;
      height: 24px;

      background: transparent;

      border-radius: 50%;
      overflow: hidden;
      transition: all .5s;
  
      &:hover {
         transform: rotate(360deg);
         box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.7), 0 0 8px 0 rgba(255, 255, 255, 0.7) inset;
      }
   }
   &__block-settings-btn-svg {
      fill: #F5F5F5;
      width: 24px;
      height: 24px;
   }
   &__del-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background: transparent;
      border-radius: 50%;
      transition: all .5s;
      &:hover {
         box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.7), 0 0 8px 0 rgba(255, 255, 255, 0.7) inset;
      }
   }
   &__del-button-svg {
      fill: #F5F5F5;
      width: 24px;
      height: 24px;
   }
}

@keyframes element-illumination {
   0% {
      background: rgba(111, 111, 111, 0.60);
   }
   12% {
      background: rgba(111, 111, 111, 0.3);
   }
   100% {
      background: rgba(111, 111, 111, 0.4 );
   }
}